{%extends display.adminTeam%}

{%block pageContent%}

<div class="">
	<div class="f"><div class="c1">{%trans "Start date"%}</div>: <div class="c1">{{request_detail.date|fitNumber}}</div></div>
	<div class="f"><div class="c1">{%trans "Start time"%}</div>: <div class="c1">{{request_detail.start|fitNumber}}</div></div>
	<div class="f"><div class="c1">{%trans "End date"%}</div>: <div class="c1">{{request_detail.enddate|fitNumber}}</div></div>
	<div class="f"><div class="c1">{%trans "End time"%}</div>: <div class="c1">{{request_detail.end|fitNumber}}</div></div>
	<div class="f"><div class="c1">{%trans "Status"%}</div>: <div class="c1">{%set myStatus = request_detail.status %}{%trans myStatus%}</div></div>
	<div class="f"><div class="c1">{%trans "Description"%}</div>: <div class="c1">{{request_detail.desc}}</div></div>
	<div class="f"><div class="c1">{%trans "Response"%}</div>: <div class="c1">{{request_detail.response}}</div></div>
</div>

{%endblock%}