{%extends display.adminTeam%}

{%block content%}

<div class="dt big">
	<div class="f th">
		<div class="c">{%trans "More"%}</div>
		<div class="c">{%trans "Start date"%}</div>
		<div class="c">{%trans "Start time"%}</div>
		<div class="c">{%trans "End date"%}</div>
		<div class="c">{%trans "End time"%}</div>
		<div class="c">{%trans "Status"%}</div>
		<div class="c">{%trans "Description"%}</div>
		<div class="c">{%trans "Response"%}</div>
	</div>
	{%for key, value in request_list%}
	<div class="f">
		<div class="c"><a href="{{url.baseFull}}/{{team_code}}/houredit/detail={{value.id}}">{%trans "More"%}</a></div>
		<div class="c">{{value.date}}</div>
		<div class="c">{{value.start}}</div>
		<div class="c">{{value.enddate}}</div>
		<div class="c">{{value.end}}</div>
		<div class="c">{{value.status}}</div>
		<div class="c">{{value.desc}}</div>
		<div class="c">{{value.response}}</div>
	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>
{%endblock%}