{%extends display.adminTeam%}

{%block content%}

<div class="dt big">
	<div class="f th">
		<div class="c">{%trans "Action"%}</div>
		<div class="c">{%trans "Start Date"%}</div>
		<div class="c">{%trans "Start Time"%}</div>
		<div class="c">{%trans "End Date"%}</div>
		<div class="c">{%trans "End Time"%}</div>
		<div class="c">{%trans "Status"%}</div>
		<div class="c">{%trans "Type"%}</div>
		<div class="c">{%trans "Description"%}</div>

		{%if not show_all_user%}
			<div class="c">{%trans "Response"%}</div>
		{%endif%}

		{%if show_all_user%}
			<div class="c">{%trans "Set Response"%}</div>
			<div class="c">{%trans "Accept"%}</div>
			<div class="c">{%trans "Reject"%}</div>
		{%endif%}

	</div>

	{%for key, value in request_list%}

	<div class="f">

		{%if value.status == 'awaiting' %}
			<div class="c df"><a href="{{url.baseFull}}/{{team_code}}/houredit/remove={{value.id}}">{%trans "Remove"%}</a></div>
		{%else%}
			<div class="c df"><a href="{{url.baseFull}}/{{team_code}}/houredit/detail={{value.id}}">{%trans "More"%}</a></div>
		{%endif%}

		{%if site.currentlang == 'fa'%}
			<div class="c">{{value.shamsi_date|fitNumber}}</div>
		{%else%}
			<div class="c">{{value.date|fitNumber}}</div>
		{%endif%}
		<div class="c">{{value.start|fitNumber}}</div>
		{%if site.currentlang == 'fa'%}
			<div class="c">{{value.endshamsi_date|fitNumber}}</div>
		{%else%}
			<div class="c">{{value.enddate|fitNumber}}</div>
		{%endif%}
		<div class="c">{{value.end|fitNumber}}</div>
		<div class="c">{%set myStatus = value.status%}{% trans myStatus %}</div>
		<div class="c">{%if value.hour_id%}{% trans "Edit" %}{%else%}{% trans "Add" %}{%endif%}</div>
		{%if value.desc%}
			<div class="c">{{value.desc}}</div>
		{%else%}
			<div class="c"><i>{%trans "No description"%}</i></div>
		{%endif%}

		{%if not show_all_user%}
			<div class="c">{{value.response}}</div>
		{%endif%}

		{%if show_all_user%}

			<form method="post" class="c">
				<div class="c df"><textarea name="response" my_code="{{value.id}}" class="description_main " placeholder='{%trans "Set Response"%}' ></textarea></div>
				<div class="hidden">
					<input type="hidden" name="id" value="{{value.id}}">
					<input type="hidden" name="type" value="accept">
				</div>
				<div class="c df"><input type="submit" class="bp" name="accept" data-data='{"id": "{{value.id}}", "type": "accept"}' value='{%trans "Accept"%}'></div>
			</form>

			<form method="post" class="c">
				<div class="hidden">
					<textarea my_code="{{value.id}}" class="description_copy" name="response"  placeholder='{%trans "Set Response"%}'></textarea>
					<input type="hidden" name="id" value="{{value.id}}">
					<input type="hidden" name="type" value="reject">
				</div>
				<div class="c df"><input type="submit" class="bn" name="reject" data-data='{"id": "{{value.id}}", "type": "reject"}' value='{%trans "Reject"%}'></div>
			</form>

		{%endif%}
	</div>
	{%endfor%}
</div>

<div class="pagination-container">
	{%include display.pagination%}
</div>

{%endblock%}


{%block foot_js%}
{{parent()}}
<script type="text/javascript">
// creat copy of desctiption on accept and reject
	$(document).on('change', '.description_main', function(){
		var myCode = $(this).attr('my_code');
		$(".description_copy[my_code="+ myCode + "]").val($(this).val());
	});
</script>
{%endblock%}
