{%extends display.admin%}


{%block contentCenter%}
<div id="setup" class="step3">
 <div class="flex f-column justify-center dbox">
  <a href="{{url.base}}/admin" class='logo' data-direct>
   <img src='{{url.static}}images/logo/logo.png' alt='{{site.title}}'>
  </a>
  <h2>{%trans "Congratulations! Now you can use Tejarak."%}</h2>
  <div class="center df">
   <a class="bp w150" href="{{url.base}}/admin/{{last_team_added}}/centeral" data-direct>{%trans "Start"%}</a>
  </div>
 </div>

 <div class="setup-step">
  <span class="done"></span> <span class="done"></span> <span class="done"></span>
 </div>
</div>
{%endblock%}



{%block sideBox%}{%endblock%}

