{%extends display.admin%}


{%block contentCenter%}
<div id="setup">
 <div class="flex f-column justify-center setup-card">
  <h2>{%trans "Please enter your information"%}</h2>
  <form method="post" class="df" enctype="multipart/form-data">
   <div class="f">
    <div class="c9">
     <div class="f form-group form-group-padding">
      <div class="c6">
       <input type="text" name="name" placeholder='{%trans "First Name (required)"%}' id="name" required autofocus="">
      </div>
      <div class="c6">
       <input type="text" name="family" placeholder='{%trans "Last Name"%}' id="family">
      </div>
      <div class="c12">
       <input type="text" name="post" placeholder='{%trans "Position"%}' id="post">
      </div>
     </div>
    </div>
    <div class="c3">
     <input type="file" name="avatar" id="avatar">
     <label for="avatar" class="avatar-upload">
      <img src='{{url.static}}images/avatar/avatar.svg' alt='{%trans "Avatar"%}' class="default-avatar" title='{%trans "Only jpg and png. Max 60Kb"%}'>
     </label>
    </div>
   </div>
   <div class="f form-group form-group-padding">
    <div class="c12">
     <input type="submit" value='{%trans "Next"%}'>
    </div>
   </div>
  </form>
 </div>

 <div class="setup-step">
  <span class="done"></span>
  <span class="done"></span>
  <span></span>
 </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}