{%extends display.admin%}


{%block contentCenter%}
<div class="setup-card-box">
 <div class="flex f-column justify-center align-center setup-card">
  <h2>{%trans "Welcome to Tejarak initialization process!"%}</h2>
  <h3><label for="title">{%trans "Please enter team name."%}</label></h3>
  <form method="post" class="df">
   <div class="f form-group">
    <div class="c8"><input type="text" name="title" placeholder='{%trans "Name"%}' value="{{team.title}}" id="title" autocomplete="off" required></div>
    <div class="c4"><input type="submit" value='{%trans "Next"%}'></div>
   </div>
  </form>
 </div>
 <div class="setup-card-indicator">
  <span class="done"></span>
  <span></span>
  <span></span>
 </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}


{%block foot_js%}
<script type="text/javascript">document.getElementById('title').focus();</script>
{%endblock%}
