{%extends display.admin%}

{%set contentClass%} flex justify-center align-center{%endset%}

{%block content%}
<div class="setup-card-box">
 <div class="flex f-column justify-center align-center setup-card">
  <h2>{%trans "Please enter your information"%}</h2>
  <form method="post" class="df" enctype="multipart/form-data">
   <div class="f">
    <div class="c9">
     <div class="f form-group form-group-padding">
      <div class="c6">
       <input type="text" name="name" placeholder='{%trans "First Name"%}' id="name" required>
      </div>
      <div class="c6">
       <input type="text" name="family" placeholder='{%trans "Last Name"%}' id="family" required>
      </div>
      <div class="c12">
       <input type="text" name="post" placeholder="Post" id="post">
      </div>
     </div>
    </div>
    <div class="c3">
     <input type="file" name="avatar" id="avatar">
     <label for="avatar" class="avatar-upload">
      <img src='{{url.static}}images/avatar/avatar.svg' alt='{%trans "Avatar"%}' class="default-avatar">
     </label>
    </div>
   </div>
   <div class="f form-group form-group-padding">
    <div class="c9">
     <input type="submit" value='{%trans "Next"%}'>
    </div>
    <div class="c3"></div>
   </div>
  </form>
 </div>
 <div class="setup-card-indicator">
  <span class="done"></span>
  <span class="done"></span>
  <span></span>
 </div>
</div>
{%endblock%}
