{%extends display.admin%}


{%block contentCenter%}
<div id="setup">
 <div class="flex f-column justify-center align-center setup-card">
 	<a href="" class='setup-card-logo'>
 		<img src='{{url.static}}images/logo-tejarak_v8.png' alt=''>
 	</a>
  <h2>{%trans "Congratulations! Now you can use Tejarak."%}</h2>
  <a href="{{url.base}}/admin/{{last_team_added}}/centeral" class="df-button" data-direct>{%trans "Go to Tejarak"%}</a>
 </div>
 <div class="setup-step">
  <span class="done"></span>
  <span class="done"></span>
  <span class="done"></span>
 </div>
</div>
{%endblock%}



{%block sideBox%}{%endblock%}

