{%extends display.admin%}


{%block contentCenter%}
<div id="setup">
 <div class="flex f-column justify-center setup-card">
  <h2>{%trans "Welcome to Tejarak initialization process!"%}</h2>
  <form method="post" class="df f form-group">
   <input class="c8" type="text" name="title" placeholder='{%trans "Please enter team name"%}' value="{{team.title}}" autocomplete="off" autofocus required maxlength='30' minlength="3">
   <input class="c4" type="submit" value='{%trans "Next"%}'>
  </form>
 </div>

 <div class="setup-step">
  <span class="done"></span>
  <span></span>
  <span></span>
 </div>
</div>
{%endblock%}


{%block sideBox%}{%endblock%}

