{%extends display.adminTeam%}

{%block pageContent%}
  <div class="f justify-center">
    <div class="c8 s12">
      <div class="cbox">

        <form method="post" enctype="multipart/form-data">


            <p>{%trans "Extra gadget to use for enter and exit"%}</p>
            <label for="barcode">{%trans "Barcode"%}</label>
            <div class="input">
              <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{member.codes.barcode1}}" class="barcode">
            </div>

            <label for="rfid">{%trans "Rfid"%}</label>
            <div class="input">
              <input type="text" name="rfid" id="rfid" placeholder='{%trans "Scan Rfid here..."%}' value="{{member.codes.rfid1}}" class="barcode">
            </div>

            <label for="qrcode">{%trans "Qrcode"%}</label>
            <div class="input">
              <input type="text" name="qrcode" id="qrcode" placeholder='{%trans "Scan Qrcode here..."%}' value="{{member.codes.qrcode1}}" class="barcode">
            </div>





          <button class="btn primary block mT25">{%if identify_mode%}{%trans "identify"%}{%else%}{%trans "Add"%}{%endif%}</button>


        </form>
      </div>
    </div>

  </div>
{%endblock%}

