{%extends "content_a/member/layout.html"%}


{%block data%}
<form class="cbox" method="post" enctype="multipart/form-data">


            <p>{%trans "Extra gadget to use for enter and exit"%}</p>
            <label for="barcode">{%trans "Barcode"%}</label>
            <div class="input">
              <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{member.codes.barcode1}}" class="barcode">
            </div>

            <label for="rfid">{%trans "Rfid"%}</label>
            <div class="input">
              <input type="text" name="rfid" id="rfid" placeholder='{%trans "Scan Rfid here..."%}' value="{{member.codes.rfid1}}" class="barcode">
            </div>

            <label for="qrcode">{%trans "Qrcode"%}</label>
            <div class="input">
              <input type="text" name="qrcode" id="qrcode" placeholder='{%trans "Scan Qrcode here..."%}' value="{{member.codes.qrcode1}}" class="barcode">
            </div>



{{block("isave")}}
        </form>

{%endblock%}

