{%extends display.cpMain%}


{%block content%}
<h2>{%trans "hours of teams"%}</h2>
<form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>

<table class="tbl1 v1">
	<thead>
		<th>{%trans "Displayname"%}</th>
		<th>{%trans "Rule"%}</th>
		<th>{%trans "Date"%}</th>
		<th>{%trans "Shamsi date"%}</th>
		<th>{%trans "Time"%}</th>
		<th>{%trans "Type"%}</th>
		<th>{%trans "Minus"%}</th>
		<th>{%trans "Plus"%}</th>
		<th>{%trans "Diff"%}</th>
		<th>{%trans "Diff"%}</th>
	</thead>
	<tbody>
	{%for key, value in hoursList%}
		<tr>
			<td>{{value.displayname}}</td>
			<td>{%set my_rule = value.rule%}{%trans my_rule%}</td>
			<td>{{value.date}}</td>
			<td>{{value.shamsi_date|fitNumber}}</td>
			<td>{{value.time|fitNumber}}</td>
			<td>{%set my_type = value.type %}{%trans my_type%}</td>
			<td>{{value.minus|fitNumber}}</td>
			<td>{{value.plus|fitNumber}}</td>
			<td>{{value.diff|fitNumber}}</td>
			<td>{{(value.diff*60)| dt('humanTime')}}</td>
		</tr>
	{%endfor%}

	</tbody>
</table>

<div class="pagination-container">
	{%include display.pagination%}
</div>

{%endblock%}
