{%extends display.main%}


{%block content%}
 <div class="tile">
  <div class="cn">
   <h2>{{site.slogan}}</h2>
   <h3>{{site.desc}}</h3>
   {{block('getStarted')}}
  </div>
 </div>

 <div class="tile bg-white" id='setup-tour'>
  <div class="cn">
   <h2>{%trans "Transfer to Tejarak is Easy"%}</h2>
   <img src="{{url.static}}images/homepage/tour.gif" alt='{%trans "Set up a team in less than a minute!"%}'>
   <h4>{%trans "Set up a team in less than a minute!"%} {%trans "It's FREE!"%} <a href="{{url.base}}/enter" data-direct>{%trans "Try it."%}</a></h4>
  </div>
 </div>

 <div class="tile" id='offer-enterprise'>
  <div class="cn">
   <h3>{%trans "Is your team interested in deploying?"%} {%trans "We can help."%}</h3>
   <a href="{{url.base}}/enterprise" class="btn">{%trans "Get in Touch"%}</a>
  </div>
 </div>

{%endblock%}



{%block getStarted%}
 <div class="getStarted">
  <form class="f" action="{{url.base}}/enter" method="post">
   <input type="text" name="param-team" class="c" placeholder='{%trans "Enter your team name"%}'>
   <button class="c">{%trans "Get Started"%}</button>
  </form>
  <p>{%trans "Try Tejarak FREE;) no credit, no risk!"%}</p>
 </div>
{%endblock%}

