{%extends display.main%}


{%block content%}

 {{block('topHomepage')}}
 {{block('preview')}}
 {{block('sync')}}
 {{block('everyteam')}}
 {{block('setupTour')}}
 {{block('pricing')}}
 {{block('enterprise')}}
 {{block('tryRegister')}}

{%endblock%}


{%block topHomepage%}
 <div class="tile" id='firstView'>
  <div class="cn">
   <h2>{%trans "Do attendance easily and enjoy real time reports."%}</h2>
   <h3>{%trans "Setup your dedicated and beautiful attendance system in less than a minute and have a <span>real time</span> and scrupulously monitoring on your business from anywhere"%}</h3>
   {{block('getStarted')}}
  </div>
 </div>
{%endblock%}


{%block getStarted%}
{%if login.id%}
{%else%}
 <div class="getStarted">
  <form class="f" action="{{url.base}}/enter" method="get" data-action>
   <input type="text" name="param-team" class="c" placeholder='{%trans "Enter your team name"%}' autofocus>
   <button class="c">{%trans "Get Started"%}</button>
  </form>
  <p>{%trans "Try Tejarak FREE;) no credit, no risk!"%}</p>
 </div>
{%endif%}
{%endblock%}


{%block tryRegister%}
 <div class="tile">
  <div class="cn">
   <h2>{%trans "In not enough?"%}</h2>
   {{block('getStarted')}}
  </div>
 </div>

{%endblock%}


{%block preview%}
 <div class="tile" id='caseStudy'>
  <div class="cn" data-case='ermile'>
   <h3>{%trans "Our technology team with flexible time in addition of introduce team members, use Tejarak for register remote and wasted time for working hours and attendance."%}</h3>
   <picture>
    <source srcset="{{url.static}}images/homepage/preview-ermile.jpg" media="(min-width: 500px)">
    <img src="{{url.static}}images/homepage/preview-ermile.jpg" alt='{%trans "Ermile Preview"%}'>
   </picture>
  </div>
 </div>
{%endblock%}


{%block sync%}
 <div class="tile bg-gray" id='everything-sync'>
  <div class="cn">
   <h2>{%trans "Wherever You Go."%} {%trans "Everything is in sync."%}</h2>
   <h3>از سفرهای کاری خود لذت ببرید و دغدغه‌ی کنترل حضور و غیاب در کسب و کار خود را نداشته باشید.</h3>
   <h3>گزارش‌های بی‌درنگ از وضعیت کارکنان‌تان را علاوه بر وب‌سایت، بدون نیاز به نصب هیچ‌گونه نرم‌افزاری از طریق پیام‌رسان‌هایی نظیر تلگرام، پیامک و ایمیل در تلفن همراه خود دریافت کنید. در هر جایی از پشت صندلی مدیریت گرفته تا دراز کشیده لب ساحل!</h3>
  </div>
 </div>
{%endblock%}


{%block everyteam%}
 <div class="tile" id='every-team'>
  <div class="cn">
   <h2>با هر تیمی کار کنید</h2>
   <h3>برای تک‌تک کارهایتان تجارک را بکار بگیرید!</h3>
   <h3>کسب و کارتان، پروژه‌های جانبی و هر جایی که نیاز به کنترل تردد و نظم بخشیدن دارید.</h3>
  </div>
 </div>
{%endblock%}


{%block enterpriseold%}
 <div class="tile" id='offer-enterprise'>
  <div class="cn">
   <h3>{%trans "Is your team interested in deploying?"%} {%trans "We can help."%}</h3>
   <a href="{{url.base}}/enterprise" class="btn">{%trans "Get in Touch"%}</a>
  </div>
 </div>
{%endblock%}


{%block enterprise%}
 <div class="tile" id='offer-enterprise'>
  <div class="cn">
   <h2>{%trans "All of the above, at Enterprise scale"%}</h2>
   <h3>{%trans "Enterprise plan brings the power and utility of Tejarak to large, complex organizations."%}</h3>
   <a href="{{url.base}}/enterprise" class="btn">{%trans "Get in Touch"%}</a>
  </div>
 </div>
{%endblock%}


{%block setupTour%}
 <div class="tile bg-white" id='setup-tour'>
  <div class="cn">
   <h2>{%trans "Transfer to Tejarak is Easy"%}</h2>
   <img src="{{url.static}}images/homepage/tour.gif" alt='{%trans "Set up a team in less than a minute!"%}'>
   <h4>{%trans "Set up a team in less than a minute!"%} {%trans "It's FREE!"%} <a href="{{url.base}}/enter" data-direct>{%trans "Try it."%}</a></h4>
  </div>
 </div>
{%endblock%}


{%block pricing%}
 <div class="tile" id='plans'>
  <div class="cn">
   <div class="flex justify-center wrap">

     <div class="flex f-column justify-between plans-card plan-free">
      <div>
       <h4>{%trans "FREE"%}</h4>
       <div class="flex f-column justify-center align-center plans-card-price">
        <div class="plans-card-price-box">
         {%if site.currentlang == 'en'%}
          <span class="plans-card-price-unit">$</span>
          <span class="plans-card-price-value">{{0|fitNumber}}</span>
         {%else%}
          <span class="plans-card-price-value">{{0|fitNumber}}</span>
          <span class="plans-card-price-unit">{%trans "Tomans"%}</span>
         {%endif%}
        </div>
        <div class="plans-card-user-month">{%trans "per user/month"%}</div>
       </div>
       <div class="plans-card-content">{%trans "For teams that are less than 10 people requiring simple reports."%}</div>
      </div>
      <div>
       <a  class="btn" href="">{%trans "Learn More"%}</a>
      </div>
     </div>

     <div class="flex f-column justify-between plans-card plan-pro">
      <div>
       <h4>{%trans "Pro"%}</h4>
       <div class="flex f-column justify-center align-center plans-card-price">
        <div class="plans-card-price-box">
         {%if site.currentlang == 'en'%}
          <span class="plans-card-price-unit">$</span>
          <span class="plans-card-price-value">1</span>
         {%else%}
          <span class="plans-card-price-value">{{1000|number_format|fitNumber}}</span>
          <span class="plans-card-price-unit">{%trans "Tomans"%}</span>
         {%endif%}
        </div>
        <div class="plans-card-user-month">{%trans "per user/month"%}</div>
       </div>
       <div class="plans-card-content">{%trans "For teams with unlimited people requiring <b>professional reports</b>, <b>report via Telegram</b>."%}</div>
      </div>
      <div>
       <a  class="btn" href="">{%trans "Learn More"%}</a>
      </div>
     </div>

     <div class="flex f-column justify-between plans-card plan-business">
      <div>
       <h4>{%trans "Business"%}</h4>
       <div class="flex f-column justify-center align-center plans-card-price">
        <div class="plans-card-price-box">
         {%if site.currentlang == 'en'%}
          <span class="plans-card-price-unit">$</span>
          <span class="plans-card-price-value">10</span>
         {%else%}
          <span class="plans-card-price-value">{{10000|number_format|fitNumber}}</span>
          <span class="plans-card-price-unit">{%trans "Tomans"%}</span>
         {%endif%}
        </div>
        <div class="plans-card-user-month">{%trans "per user/month"%}</div>
       </div>
       <div class="plans-card-content">{%trans "For teams with unlimited people requiring <b>report via SMS</b>, <b>visual reports with chart</b>, <b>custom message format</b>, <b>custom brand logo</b>."%}</div>
      </div>

      <div>
       <a  class="btn" href="">{%trans "Learn More"%}</a>
      </div>
     </div>

     <div class="flex f-column justify-between plans-card plan-enterprise">
      <div>
       <h4>{%trans "Enterprise"%}</h4>
       <div class="flex f-column justify-center align-center plans-card-price">
        <div class="plans-card-price-box">{%trans "Contact Us"%}</div>
       </div>
       <div class="plans-card-content">{%trans "For teams with unlimited people requiring <b>advanced report builder</b>, <b>custom domain</b>."%}</div>
      </div>
      <div>
       <a  class="btn" href="">{%trans "Learn More"%}</a>
      </div>
     </div>

   </div>
  </div>
 </div>
{%endblock%}

