{%extends display.mvc%}


{%block body%}
<div id="cover">
 <h1>{{site.title}}</h1>
 <h2>{{site.desc}}</h2>
 <a href="#ganje" >{%trans "Ganje, first one"%}</a>

 <div class='chevron'></div>
</div>
<article>
 <div class="container">

  <a href="/ganje" title='{%trans "Ganje"%}' data-direct>
  <svg version="1.1" class='icon' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496">
  <path style="fill:#5B402E;" d="M0,232v167.2C0,460.8,52,456,113.6,456h268c61.6,0,113.6,4.8,113.6-56.8V232H0z"/>
  <path style="fill:#493322;" d="M112,456h270.4c61.6,0,113.6,4.8,113.6-56.8V232"/>
  <path style="fill:#5B402E;" d="M496,192v-40c0-61.6-52-112-113.6-112H113.6C52,40,0,90.4,0,152v40H496z"/>
  <path style="fill:#493322;" d="M0,152v40h496v-40c0-61.6-52-112-113.6-112"/>
  <rect y="232" style="fill:#F2B111;" width="496" height="64"/>
  <polyline style="fill:#E88813;" points="0,296 496,296 496,232 "/>
  <rect y="152" style="fill:#F2B111;" width="496" height="40"/>
  <g>
    <polyline style="fill:#E88813;" points="0,192 496,192 496,152   "/>
    <rect x="104" y="32" style="fill:#E88813;" width="56" height="152"/>
    <rect x="336" y="32" style="fill:#E88813;" width="56" height="152"/>
    <rect x="104" y="288" style="fill:#E88813;" width="56" height="176"/>
    <rect x="336" y="288" style="fill:#E88813;" width="56" height="176"/>
  </g>
  <g>
    <circle style="fill:#493322;" cx="184" cy="264.8" r="8.8"/>
    <circle style="fill:#493322;" cx="226.4" cy="264.8" r="8.8"/>
    <circle style="fill:#493322;" cx="269.6" cy="264.8" r="8.8"/>
    <circle style="fill:#493322;" cx="312" cy="264.8" r="8.8"/>
    <circle style="fill:#493322;" cx="33.6" cy="264.8" r="8.8"/>
    <circle style="fill:#493322;" cx="75.2" cy="264.8" r="8.8"/>
    <circle style="fill:#493322;" cx="420" cy="264.8" r="8.8"/>
    <circle style="fill:#493322;" cx="462.4" cy="264.8" r="8.8"/>
  </g>
  <path style="fill:#F2B111;" d="M276,346.4c0-15.2-12.8-28-28-28s-28,12.8-28,28c0,10.4,5.6,20,13.6,25.6l-8,52h44.8l-8-52
    C270.4,367.2,276,356.8,276,346.4z"/>
  <path style="fill:#E88813;" d="M270.4,424l-8-52c8-4.8,13.6-15.2,13.6-25.6c0-15.2-12.8-28-28-28s-28,12.8-28,28"/>
  </svg></a>
  <h2><a href="/ganje" title='{%trans "Ganje"%}' data-direct>{%trans "Ganje"%}</a></h2>
  <p id='ganje'>
   {%trans "Ganje: this is a tejarak online attendance beginning Web-based which work without any complexities of existing ones."%} {%trans "Integration with services which will soon be public lead no need for small businesses, costly and inconvenience."%}
  </p>
 </div>
</article>
<footer>
 <div id="footer-above">
  <div class='chevron'></div>
  <div class="container row">
  <div class="span4">
      <h3>{%trans "About"%} {{site.title | upper }}</h3>
      <p>{{site.title}} {%trans " is a free to use, open source PHP framework created by"%} <a href="https://ermile.com" target="_blank">{%trans "Ermile"%}</a>.</p>
  </div>
  <div class="span4">
   <h3>{%trans "Another Languages"%}</h3>
   <p>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
    <a href="{{url.root}}{%if site.defaultLang != key|slice(0, 2) %}/{{key|slice(0, 2)}}{%endif%}" hreflang="{{key|slice(0, 2)}}" data-action>{{lang}}</a>
{%endfor%}
   </p>
  </div>
  <div class="span4">
   <h3>{%trans "Location"%}</h3>
   <p>{%trans "#614, Omranieh, Moallem St"%}<br>{%trans "Qom, IRAN"%}<br>{%trans "+98 25 3773 5183"%}</p>
  </div>
  </div>
 </div>
 <div id="copyright">
 {%trans "Copyright"%} &copy; {%trans "Ermile"%} {%trans "2016"%}
 </div>
</footer>
{%endblock%}





{%block foot_js%}

 <script>
  $(function() {
    $('a[href*="#"]:not([href="#"])').click(function() {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: (target.offset().top -400)
          }, 500);
          return false;
        }
    });
  });
 </script>
{%endblock%}