{%extends display.adminTeam%}

{%block pageContent%}

  <div class='normal f fs12'>

  <div class="vcard mA10">
    <img src="{{url.static}}siftal/images/useful/plus1.png" alt='{%trans "Add new Gateway"%}'>
    <div class="content"></div>
    <div class="footer pAn">
      <a class="btn block primary" href="{{url.baseFull}}/{{team}}/gateway">{%trans "Add new Gateway"%}</a>
    </div>
  </div>

{%for key, value in list_gateway%}
  <a class="vcard mA10" data-status='{{value.status}}' href="{{url.baseFull}}/{{team}}/gateway={{value.user_id}}">
    <img src="{{url.static}}siftal/images/useful/gate.png" alt='{%trans "Add new Gateway"%}'>
    <div class="content">
       <div class="header">{{value.name}}</div>
    </div>
    <div class="footer"><i class="icon sf-user"></i> {{current_team.short_name}}-{{value.username}}</div>
  </a>



{%endfor%}

  </div>
{%endblock%}

