{%extends display.adminTeam%}

{%block pageContent%}

  <div class='normal f fs13'>

  <div class="vcard mA10">
    <img src="{{url.site}}/static/siftal/images/useful/plus1.png" alt='{%trans "Add new Gateway"%}'>
    <div class="content"></div>
    <div class="footer pAn">
      <a class="btn block primary" href="{{url.here}}/gateway/add?id={{requestGET.id}}">{%trans "Add new Gateway"%}</a>
    </div>
  </div>

{%for key, value in listGateway%}
  <a class="vcard mA10" data-status='{{value.status}}' href="{{url.here}}/gateway/edit?id={{requestGET.id}}&gateway={{value.user_id}}">
    <img src="{{url.site}}/static/siftal/images/useful/gate.png" alt='{%trans "Add new Gateway"%}'>
    <div class="content">
       <div class="header">{{value.name}}</div>
    </div>
    <div class="footer"><i class="icon sf-user"></i> {{currentTeam.short_name}}-{{value.username}}</div>
  </a>



{%endfor%}

  </div>
{%endblock%}

