{%extends display.adminTeam%}



{%block pageCenter%}
<div class="c8 s12 pA10">
  <form method="post" class="cbox" enctype="multipart/form-data">

    <label for="name">{%trans "Name of gateway"%} <span class="fc-red">*</span></label>
    <div class="input">
      <input type="text" name="name" id='name' placeholder='{%trans "Name for show in list"%} *' value="{{gateway.name}}" required autofocus maxlength='30' minlength="1" pattern=".{1,30}" title='{%trans "Enter a valid name from 3 to 30 character"%}'>
    </div>


    <p class="mT25">{%trans "You can enter as gateway with below username and password with only one permission to see and register data in Tejarak board"%}</p>

    <div class="f">
      <div class="c s12 pRa5">
        <label for='username'>{%trans "Username for enter"%} <span class="fc-red">*</span></label>
        <div class="input">
          <input type="text" name="username" id="username" placeholder='{%trans "Choose a username to enter with it"%}' required value="{{gateway.username}}" minlength="1" maxlength="40" pattern=".{1,40}" title='{%trans "Enter a valid username"%}'>
          <label class="addon ltr" for="username">{{current_team.short_name}}-</label>
        </div>
      </div>

{%set passPlaceholder%}
{%if edit_mode%}{%trans "Enter to change password"%}{%else%}{%trans "More than 6 character"%}{%endif%}
{%endset%}
      <div class="c s12">
        <label for='ramz'>{%trans "Password for enter"%} {%if edit_mode%}{%else%}<span class="fc-red">*</span>{%endif%}</label>
        <div class="input">
          <input id='ramz' name="ramz" type='password' placeholder='{{passPlaceholder}}' autocomplete="new-password" autocapitalize="off" minlength="6" maxlength="40" pattern=".{6,40}" title='{%trans "Enter a valid password from 6 to 40 character"%}' {%if edit_mode%}{%else%}required{%endif%}>
        </div>

      </div>
    </div>

    <div class="switch1 pA5">
      <input type="checkbox" name="status" id="status" {%if gateway.status == 'active' or not gateway.status%}checked{%endif%}>
      <label for="status"></label>
      <label for="status">وضعیت</label>
    </div>

    <button class="btn primary block mT25" >{%trans "Save"%}</button>

  </form>
</div>
{%endblock%}