*.DS_Store
desktop.ini
*sitemap.xml
*Thumbs.db
*tg.json
*.me.*
/public_html/files
/content/cronjob/*.txt
/public_html/sitemap
/public_html/sitemap.xml
/includes/cls/database/backup
/includes/cls/database/log
includes/cls/database/log
includes/database/log
/database/*
*sftp-config.json
*.me.php
