{%extends display.adminTeam%}

{%block pageContent%}

<div class="mB25 cbox fs10">
  <table class="tbl">
    <thead class="primary">
      <th>{%trans "Name"%}</th>
      <th>{%trans "Start Date"%}</th>
      <th>{%trans "Start Time"%}</th>
      <th>{%trans "End Date"%}</th>
      <th>{%trans "End Time"%}</th>
      <th>{%trans "Status"%}</th>
      <th>{%trans "Type"%}</th>
      <th>{%trans "Description"%}</th>

      {%if not isAdmin%}
        <th>{%trans "Response"%}</th>
      {%endif%}

      {%if isAdmin %}
        <!-- <th>{%trans "Set Response"%}</th> -->
        <th>{%trans "Accept"%}</th>
        <th>{%trans "Reject"%}</th>
      {%endif%}

    </thead>
    <tbody>

  {%for key, value in requestList%}

  <tr >
<!--
    {%if value.status == 'awaiting' %}
      <td><a href="{{url.here}}/{{teamCode}}/request/remove={{value.id}}">{%trans "Remove"%}</a></td>
    {%else%}
      <td><a href="{{url.here}}/{{teamCode}}/request/detail={{value.id}}">{%trans "More"%}</a></td>
    {%endif%} -->

      <td>{{value.displayname}}</td>
    {%if lang.current == 'fa'%}
      <td>{{value.shamsi_date|fitNumber}}</td>
    {%else%}
      <td>{{value.date|fitNumber}}</td>
    {%endif%}
    <td>{{value.start|fitNumber}}</td>
    {%if lang.current == 'fa'%}
      <td>{{value.endshamsi_date|fitNumber}}</td>
    {%else%}
      <td>{{value.enddate|fitNumber}}</td>
    {%endif%}
    <td>{{value.end|fitNumber}}</td>
    <td>{%set myStatus = value.status | capitalize %}{% trans myStatus %}</td>
    <td>{%if value.hour_id%}{% trans "Edit" %}{%else%}{% trans "Add" %}{%endif%}</td>
    {%if value.desc%}
      <td>{{value.desc}}</td>
    {%else%}
      <td><i>{%trans "No description"%}</i></td>
    {%endif%}

    {%if not isAdmin%}
      <td>{{value.response}}</td>
    {%endif%}

    {%if isAdmin  %}
      {% if value.status == 'awaiting' %}
        <td><button type="submit" class="btn success" name="accept" data-method='post' data-ajaxify data-data='{"id": "{{value.id}}", "type": "accept"}' >{%trans "Accept"%}</button></td>
        <td><button type="submit" class="btn danger" name="reject" data-method='post' data-ajaxify data-data='{"id": "{{value.id}}", "type": "reject"}' >{%trans "Reject"%}</button></td>
      {%else%}
        <td></td>
        <td></td>
      {%endif%}

    {%endif%}
  </tr>
  {%endfor%}
    </tbody>
  </table>
</div>


<div class="pagination-container">
  {%include display.pagination%}
</div>

<div class="f">
  <div class="cauto pA5">
     <a href="{{url.here}}/{{teamCode}}/request/add">
      <i class="sf-plus btn"></i> {%trans "Add request"%}
     </a>
  </div>
 </div>
{%endblock%}


{%block foot_js%}
{{parent()}}
<script type="text/javascript">
// creat copy of desctiption on accept and reject
  $(document).on('change', '.description_main', function(){
    var myCode = $(this).attr('my_code');
    $(".description_copy[my_code="+ myCode + "]").val($(this).val());
  });
</script>
{%endblock%}
