{%extends display.adminTeam%}

{%block pageContent%}

<div class="mB25 msg">
  <table class="tbl">
    <thead class="primary">
      <th>{%trans "Name"%}</th>
      <th>{%trans "Start Date"%}</th>
      <th>{%trans "Start Time"%}</th>
      <th>{%trans "End Date"%}</th>
      <th>{%trans "End Time"%}</th>
      <th>{%trans "Status"%}</th>
      <th>{%trans "Type"%}</th>
      <th>{%trans "Description"%}</th>

      {%if not is_admin%}
        <th>{%trans "Response"%}</th>
      {%endif%}

      {%if is_admin %}
        <!-- <th>{%trans "Set Response"%}</th> -->
        <th>{%trans "Accept"%}</th>
        <th>{%trans "Reject"%}</th>
      {%endif%}

    </thead>
    <tbody>

  {%for key, value in request_list%}

  <tr >
<!--
    {%if value.status == 'awaiting' %}
      <td><a href="{{url.baseFull}}/{{team_code}}/request/remove={{value.id}}">{%trans "Remove"%}</a></td>
    {%else%}
      <td><a href="{{url.baseFull}}/{{team_code}}/request/detail={{value.id}}">{%trans "More"%}</a></td>
    {%endif%} -->

      <td>{{value.displayname}}</td>
    {%if site.currentlang == 'fa'%}
      <td>{{value.shamsi_date|fitNumber}}</td>
    {%else%}
      <td>{{value.date|fitNumber}}</td>
    {%endif%}
    <td>{{value.start|fitNumber}}</td>
    {%if site.currentlang == 'fa'%}
      <td>{{value.endshamsi_date|fitNumber}}</td>
    {%else%}
      <td>{{value.enddate|fitNumber}}</td>
    {%endif%}
    <td>{{value.end|fitNumber}}</td>
    <td>{%set myStatus = value.status | capitalize %}{% trans myStatus %}</td>
    <td>{%if value.hour_id%}{% trans "Edit" %}{%else%}{% trans "Add" %}{%endif%}</td>
    {%if value.desc%}
      <td>{{value.desc}}</td>
    {%else%}
      <td><i>{%trans "No description"%}</i></td>
    {%endif%}

    {%if not is_admin%}
      <td>{{value.response}}</td>
    {%endif%}

    {%if is_admin %}
        <td><button type="submit" class="btn success" name="accept" data-method='post' data-ajaxify data-data='{"id": "{{value.id}}", "type": "accept"}' >{%trans "Accept"%}</button></td>
        <td><button type="submit" class="btn danger" name="reject" data-method='post' data-ajaxify data-data='{"id": "{{value.id}}", "type": "reject"}' >{%trans "Reject"%}</button></td>

<!--       <form method="post">
        <div class="c df"><textarea name="response" my_code="{{value.id}}" class="description_main " placeholder='{%trans "Set Response"%}' ></textarea></div>
        <div class="hidden">
          <input type="hidden" name="id" value="{{value.id}}">
          <input type="hidden" name="type" value="accept">
        </div>
        <div class="c df"><input type="submit" class="bp" name="accept" data-data='{"id": "{{value.id}}", "type": "accept"}' value='{%trans "Accept"%}'></div>
      </form>

      <form method="post" class="c">
        <div class="hidden">
          <textarea my_code="{{value.id}}" class="description_copy" name="response"  placeholder='{%trans "Set Response"%}'></textarea>
          <input type="hidden" name="id" value="{{value.id}}">
          <input type="hidden" name="type" value="reject">
        </div>
        <div class="c df"><input type="submit" class="bn" name="reject" data-data='{"id": "{{value.id}}", "type": "reject"}' value='{%trans "Reject"%}'></div>
      </form> -->

    {%endif%}
  </tr>
  {%endfor%}
    </tbody>
  </table>
</div>


<div class="pagination-container">
  {%include display.pagination%}
</div>

{%endblock%}


{%block foot_js%}
{{parent()}}
<script type="text/javascript">
// creat copy of desctiption on accept and reject
  $(document).on('change', '.description_main', function(){
    var myCode = $(this).attr('my_code');
    $(".description_copy[my_code="+ myCode + "]").val($(this).val());
  });
</script>
{%endblock%}
