{%extends display.adminTeam%}

{%block sidenav%}
{{parent()}}
{%endblock%}

{%block content%}

<h2>{{student.firstname}} {{student.lastname}}</h2>

<table class="tbl">
  <thead class="primary">
    <th>{%trans "firstname"%}</th>
    <th>{%trans "lastname"%}</th>
    <th>{%trans "date"%}</th>
    <th>{%trans "type"%}</th>
    <th>{%trans "score"%}</th>
    <th>{%trans "Add"%}</th>
  </thead>

  <tbody>
  {%for key, value in student%}
    <form method="post">
    <input type="hidden" name="id" value="{{value.id}}">
    <tr>
      <td>{{value.firstname}}</td>
      <td>{{value.lastname}}</td>
      <td><input class="input w200 datepicker pwt-datepicker-input-element" data-format="YYYY/MM/DD" name="date" ></td>
      <td>
        <select name="type" class="input">
        <option value="default">{%trans "default"%}</option>
        <option value="classroom">{%trans "classroom"%}</option>
        <option value="endterm">{%trans "endterm"%}</option>
        </select>
      </td>
      <td><input type="number" name="score" class="input"></td>
      <td><button class="btn primary">{%trans "Add"%}</button></td>
    </tr>
    </form>
  {%endfor%}
  </tbody>
</table>


{%endblock%}

