{%extends display.mvc%}
{%block content%}

<h2>{%trans "member"%}</h2>

{%for key, value in member_list%}
	<div class="f">
		<span class="c2"><a href="{{url.base}}/admin/{{team}}/{{value.brand}}/edit">{{value.id}}</a></span>
		<span class="c2">{{value.displayname}}</span>
		<span class="c2">{{value.mobile}}</span>
		<span class="c2">{{value.email}}</span>
		<span class="c2"><a href="{{url.base}}/admin/{{team}}/{{value.brand}}">{{value.brand}}</a></span>
	</div>
{%endfor%}
 <div class="pagination-container">
 {%include display.pagination%}
 </div>
 <div class="f">
 	<div>
		<a href="{{url.base}}/admin/{{team}}/member/add">{%trans "Add member"%}</a>
 	</div>
	<div>
		<a href="{{url.base}}/admin/team">{%trans "List team"%}</a>
	</div>
	<div>
		<a href="{{url.base}}/admin">{%trans "Admin"%}</a>
	</div>
</div>

{%endblock%}
