{%extends "content_a/member/layout.html"%}


{%block data%}
<form method="post" class="cbox">
{{block("iParentMobile")}}
{{block("iParentTitle")}}

{{block("iInsert")}}
</form>


<div class="cbox">
{%if member_parent%}
  <div class="cauto s0 lbl"><span>{%trans "Parent"%}</span></div>
  <div class="c">
    {%for k, v in member_parent%}
     <div class="f">
      <div class="c">
        <img src="{{v.fileurl}}" class="mini">
      </div>
      <div class="c">
        <p>{{v.mobile|fitNumber}}</p>
      </div>
      <div class="c">
        <p>{%set my_title = v.title | capitalize %}{%trans my_title%}</p>
      </div>
     </div>
    {%endfor%}
  </div>
{%endif%}
</div>
{%endblock%}

