{%extends "content_a/member/layout.html"%}


{%block data%}
<form class="cbox" method="post" >

     <div class="f g1">
      {%if member_parent%}
        <div class="cauto s0 lbl"><span>{%trans "Parent"%}</span></div>
        <div class="c">
          {%for k, v in member_parent%}
           <div class="f">
            <div class="c">
              <img src="{{v.fileurl}}" class="mini">
            </div>
            <div class="c">
              <p>{{v.mobile|fitNumber}}</p>
            </div>
            <div class="c">
              <p>{%set my_title = v.title | capitalize %}{%trans my_title%}</p>
            </div>
           </div>
          {%endfor%}
        </div>
      {%endif%}

        <div class="c12">
            <div class="c">
              <p>{%trans "Add new parent"%}</p>
              <div class="f">

                  <div class="c">
                    <input type="number" name="parent_mobile" placeholder='{%trans "Parent mobile"%}' class="">
                  </div>
                  <div class="c">
                    <select name="title" class="">
                      <option value="">{%trans "Please select one items"%}</option>
                      <option value="father">{%trans "Father"%}</option>
                      <option value="mother">{%trans "Mother"%}</option>
                      <option value="sister">{%trans "Sister"%}</option>
                      <option value="brother">{%trans "Brother"%}</option>
                      <option value="grandfather">{%trans "Grandfather"%}</option>
                      <option value="grandmother">{%trans "Grandmother"%}</option>
                      <option value="aunt">{%trans "Aunt"%}</option>
                      <option value="husband of the aunt">{%trans "Husband of the aunt"%}</option>
                      <option value="uncle">{%trans "Uncle"%}</option>
                      <option value="boy">{%trans "Boy"%}</option>
                      <option value="girl">{%trans "Girl"%}</option>
                      <option value="spouse">{%trans "Spouse"%}</option>
                      <option value="stepmother">{%trans "Stepmother"%}</option>
                      <option value="stepfather">{%trans "Stepfather"%}</option>
                      <option value="neighbor">{%trans "Neighbor"%}</option>
                      <option value="teacher">{%trans "Teacher"%}</option>
                      <option value="friend">{%trans "Friend"%}</option>
                      <option value="boss">{%trans "Boss"%}</option>
                      <option value="supervisor">{%trans "Supervisor"%}</option>
                      <option value="child">{%trans "Child"%}</option>
                      <option value="grandson">{%trans "Grandson"%}</option>
                      <option value="custom">{%trans "Custom"%}</option>
                    </select>
                  </div>

                  <div class="c" data-response="title" data-response-where="custom" data-response-hide>
                      <input type="text" name="othertitle" placeholder='{%trans "Other title"%}' class="">
                  </div>
              </div>
            </div>
          </div>
      </div>

{{block("isave")}}

</form>
{%endblock%}

