{%extends display.admin%}

{%block content%}
  <div class='middle' id="billing">
   <div class='dbox'>


  <div class="f">
   <div class="c6 s12">
    <div class="box">
     <div class="f align-center">
      <h2 class="c">{%trans "Your credit"%}</h2>
      <h3 class="cauto os"><span>{{user_cash.total|number_format|fitNumber}}</span> <sup>{%trans user_unit%}</sup></h3>
     </div>
     <a href="{{url.baseFull}}/ref" class="btn block">{%trans "Earn More Credit"%}</a>
    </div>
   </div>

   <div class="c6 s12">
    <div class="box">
     <div class="f align-center">
      <h2 class="c">{%trans "Usage"%}</h2>
      <h3 class="cauto os"><span>{{usage|number_format|fitNumber}}</span> <sup>{%trans user_unit%}</sup></h3>
     </div>
     <a href="{{url.baseFull}}/billing/detail" class="btn block">{%trans "View Usage Details"%}</a>
    </div>
   </div>
  </div>


  <div class="f">
   <div class="box">
    <h2>{%trans "Charge your account"%}</h2>
    <p>{%trans "Choose a gateway and enter an amount to charge your account"%}</p>

    <form method="post" class='gateways' autocomplete="off">
     <div class="f">

      <label class="cauto">
       <input type="radio" name="bank" id="parsian" value="parsian"  checked>
       <img alt="ZarrinPal" src="{{url.static}}images/gateway/Parsian.svg">
      </label>

      <label class="cauto">
       <input type="radio" name="bank" id="ZarinPal" value="ZarinPal">
       <img alt="ZarrinPal" src="{{url.static}}images/gateway/ZarinPal.svg">
      </label>

     </div>
     <div class="f singleInput">
      <label class="cauto" for="amount-number">{%trans user_unit%}</label>
      <input class="c" id="amount-number" type="number" name="amount" value="{{amount}}" placeholder='{%trans "Amount"%}' required>
      <button class="c" type="submit">{%trans "Checkout"%}</button>
     </div>
    </form>

   </div>
  </div>

  <div class="f">
   <div class="box">
    <h2>{%trans "Promo code"%}</h2>
    <p>{%trans "If you have a promo code, please enter it below to receive your credit."%}</p>

    <form method="post" class='gateways' autocomplete="off">
     <div class="f singleInput">
      <input type="hidden" name="type" value="promo">
      <input class="c" id="promo-number" type="text" name="promo" placeholder='{%trans "Promo Code"%}' required spellcheck="false">
      <button class="c" type="submit">{%trans "Apply Code"%}</button>
     </div>
    </form>

   </div>
  </div>



 </div>
</div>

<div class="mB25 msg">
    <h3 id="billing-history">{%trans "Billing History"%}</h3>
    <table class="tbl">
      <thead class="primary">
        <th>{%trans "Title" %}</th>
        <th>{%trans "Type" %}</th>
        <th>{%trans "Date" %}</th>
        <th>{%trans "Plus" %}</th>
        <th>{%trans "Minus" %}</th>
        <th>{%trans "Budget" %}</th>
        <th>{%trans "Unit" %}</th>
        <th>{%trans "Invoice" %}</th>
      </thead>
      <tbody>

      </tbody>
        {% for key, value in history %}
         <tr>
          <td>{{value.title}}</td>
          <td>{%set my_type = value.type%}{%trans my_type%}</td>
          {%if site.currentlang == 'fa' %}
            <td>{{value.date|jdate("Y-m-d H:i:s")}} {{value.time|fitNumber}}</td>
          {%else%}
            <td>{{value.date|date("Y-m-d H:i:s")}} {{value.time|fitNumber}}</td>
          {%endif%}
          <td>{{value.plus|number_format|fitNumber}}</td>
          <td>{{value.minus|number_format|fitNumber}}</td>
          <td>{{value.budget|number_format|fitNumber}}</td>
          <td>{%set my_unit = value.unit%}{%trans my_unit%}</td>
          {%if value.invoice_id%}
            <td><a href="{{url.baseFull}}/billing/invoice/{{value.invoice_id}}"><i class="sf-file-text"></i></a></td>
          {%else%}
            <td><i>{%trans "-"%}</i></td>
          {%endif%}
         </tr>
        {%endfor%}

    </table>
   <div class="pagination-container">
       {%include display.pagination%}
   </div>
</div>

{%endblock%}

