{%extends display.admin%}

{%block content%}
  <div class="tbox">
  <h3>{%trans "Billing information"%}</h3>
  <p>{%trans "Check your balance, charge your account, and bill your invoices!"%}</p>
  </div>

  <div class='middle' id="billing">
   <div class='dbox'>


  <div class="f">
   <div class="c6 s12">
    <div class="box">
     <div class="f align-center">
      <h2 class="c">{%trans "Your credit"%}</h2>
      <h3 class="cauto os"><span>{{user_cash.total|number_format|fitNumber}}</span> <sup>{%trans user_unit%}</sup></h3>
     </div>
     <a href="{{url.baseFull}}/ref" class="btn block hide">{%trans "Earn More Credit"%}</a>
     <a href="{{url.baseFull}}" class="btn block">{%trans "Check teams"%}</a>
    </div>
   </div>

   <div class="c6 s12">
    <div class="box">
     <div class="f align-center">
      <h2 class="c">{%trans "Usage"%}</h2>
      <h3 class="cauto os"><span>{{usage|number_format|fitNumber}}</span> <sup>{%trans user_unit%}</sup></h3>
     </div>
     <a href="{{url.baseFull}}/billing/detail" class="btn block">{%trans "View Usage Details"%}</a>
    </div>
   </div>
  </div>


  <div class="f">
   <div class="box">
    <h2>{%trans "Charge your account"%}</h2>
    <p>{%trans "Choose a gateway and enter an amount to charge your account"%}</p>

    <form method="post" class='gateways' autocomplete="off">
     <div class="f">

      <label class="cauto">
       <input type="radio" name="bank" id="parsian" value="parsian"  checked>
       <img alt="ZarrinPal" src="{{url.static}}images/gateway/Parsian.svg">
      </label>

      <label class="cauto">
       <input type="radio" name="bank" id="ZarinPal" value="ZarinPal">
       <img alt="ZarrinPal" src="{{url.static}}images/gateway/ZarinPal.svg">
      </label>

     </div>

     <div class="input pA5">
      <label class="addon" for="amount-number">{%trans user_unit%}</label>
      <input id="amount-number" type="number" name="amount" value="{{amount}}" placeholder='{%trans "Amount"%}' required min=0>
      <button class="addon btn primary">{%trans "Checkout"%}</button>
     </div>
    </form>

   </div>
  </div>

  <div class="f">
   <div class="box">
    <h2>{%trans "Promo code"%}</h2>
    <p>{%trans "If you have a promo code, please enter it below to receive your credit."%}</p>

    <form method="post" class='gateways' autocomplete="off">
     <input type="hidden" name="type" value="promo">
     <div class="input pA5 w300">
      <input id="promo-number" type="text" name="promo" placeholder='{%trans "Promo Code"%}' required spellcheck="false">
      <button class="addon btn primary">{%trans "Apply Code"%}</button>
     </div>
    </form>

   </div>
  </div>



 </div>
</div>

<div class="cbox">
    <h3 id="billing-history">{%trans "Billing History"%}</h3>
    <table class="tbl">
      <thead class="primary">
        <th>{%trans "Title" %}</th>
        <th>{%trans "Date" %}</th>
        <th>{%trans "Value" %}</th>
        <th>{%trans "Budget After" %}</th>
        <th>{%trans "Invoice" %}</th>
      </thead>
      <tbody>

      </tbody>
        {% for key, value in history %}
         <tr>{%set my_unit = value.unit%}
          <td>{%set my_title = value.title%}{%trans my_title%}</td>

{%if site.currentlang == 'fa' %}
  <td title='{{value.date|tdate("Y-m-d H:i:s")}}'>{{value.date|sdate}}</td>
{%else%}
  <td title='{{value.date|date("Y-m-d H:i:s")}}'>{{value.date|sdate}}</td>
{%endif%}


          <td>
{%if value.plus%}
+ {{value.plus|number_format|fitNumber}}
{%else%}
- {{value.minus|number_format|fitNumber}}
{%endif%}{%trans my_unit%}
          </td>
          <td>{{value.budget|number_format|fitNumber}} {%trans my_unit%}</td>
          <td>
{%if value.invoice_id%}
            <a href="{{url.baseFull}}/billing/invoice/{{value.invoice_id}}"><i class="sf-file-text"></i></a>
{%else%}
            <i>-</i>
{%endif%}
          </td>
         </tr>
        {%endfor%}

    </table>
    {%include display.pagination%}
</div>

{%endblock%}

