{%extends display.admin%}

{%block content%}

   <div class="box">
    <h3 id="notifications-history">{%trans "Your notifications"%}</h3>
    <div class="">

    {% for key, value in notify %}
      <div class="bg-white pA20 mB25 fs16 ">
        {%if value.title%}
          <h4>{{value.title}}</h4>
        {%endif%}
        <i>{{value.cat_title}}</i>
        <div class="f">
        <div class="c">
            <p>{{value.content}}</p>
        </div>
          <div class="c">

          {%if value.btn%}
            <form method="post" class="fs10" >
              <input type="hidden" name="id" value="{{value.id}}">
              <select name="opt" class="btn">
                <option value="">{%trans "Please select one items"%}</option>
                {%for k, v in value.btn%}
                  <option value="{{k}}">{{v}}</option>
                {%endfor%}
              </select>
              <input type="submit" class="btn">
            </form>
          {%endif%}
          </div>

        </div>


        {%if value.telegramdate and value.telegram%}
          <i title='{%trans "Sended by telegram"%}' class="sf-paper-plane"></i>
        {%endif%}

        {%if value.smsdate and value.sms%}
          <i title='{%trans "Sended by mobile"%}' class="sf-mobile"></i>
        {%endif%}

        {%if value.emaildate and value.email%}
          <i title='{%trans "Sended by email"%}' class="sf-at"></i>
        {%endif%}
      </div>
    {%endfor%}
    </div>
   </div>
   <div class="pagination-container">
       {%include display.pagination%}
   </div>

{%endblock%}

