{%extends display.admin%}




{%block content%}
<div class="tbox">
  <h4>{%trans "Your notifications"%}</h4>
</div>
<div class="cbox">
  {% for key, value in notify %}
  <div class="f">
    <div class="c9 pA5">
      <p>{%set my_cat_title = value.cat_title %}{%trans my_cat_title%}</p>
      {%if value.title%}
        <b><h6>{{value.title}}</h6></b>
      {%endif%}
      <p>{{value.content}}</p>
      {%if value.cat_title == 'set_parent'%}
        {{block('notify_parent')}}
      {%else%}
        {{block('notify_change_owner')}}
      {%endif%}
    </div>
    <div class="c pA5">
       {%if value.telegramdate and value.telegram%}
          <i title='{%trans "Sended by telegram"%}' class="sf-paper-plane"></i>
        {%endif%}

        {%if value.smsdate and value.sms%}
          <i title='{%trans "Sended by mobile"%}' class="sf-mobile"></i>
        {%endif%}

        {%if value.emaildate and value.email%}
          <i title='{%trans "Sended by email"%}' class="sf-at"></i>
        {%endif%}
    </div>
  </div>
  {%endfor%}
</div>

{%include display.pagination%}

{%endblock%}


{%block notify_change_owner%}

{%if value.btn%}
        <div class="f">
        <div class="c6 pA10 s12">
            <div class="vcard w400">
              <div class="content f">
                <div class="c">
                  <a class="header">{%if value.meta.sender_name%}{{value.meta.sender_name}}{%else%}<i>{%trans "No name"%}</i>{%endif%}</a>
                  <div class="meta"><span>{{value.meta.sender_mobile|fitNumber}}</span></div>
                </div>
                <div class="cauto">
                  {%if value.meta.team_logo%}
                    <img src="{{url.root}}/{{value.meta.team_logo}}" class="mini">
                  {%else%}
                    <img src="http://code.ermile.com/siftal/images/avatar/1.png" class="mini">
                  {%endif%}
                </div>

                <div class="desc c12">{%trans "Team name:"%} <b>{{value.meta.team_name}}</b></div>
                <div class="desc c12">{%trans "Be sure to take control of individuals and managers after transferring ownership of the team"%}</div>
                <div class="desc c12">{%trans "Usage of this team now:"%} <b>{{value.meta.team_calc|number_format|fitNumber}} {%trans "Toman"%}</b></div>

                <div class="desc c12">{%trans "Are you accept?"%}</div>

              </div>
              <div class="footer f">
                <form method="post">
                  <input type="hidden" name="answer", value="accept">
                  <input type="hidden" name="notify_type", value="owner">
                  <input type="hidden" name="notify", value='{{value.id|shortURL("encode")}}'>
                  <input type="hidden" name="team_code", value='{{value.meta.team_code}}'>
                  <div class="c6 pA5 s12"><button class="btn success outline block">{%trans "Accept"%}</button></div>
                </form>
                <form method="post">
                  <input type="hidden" name="answer", value="reject">
                  <input type="hidden" name="notify_type", value="owner">
                  <input type="hidden" name="notify", value='{{value.id|shortURL("encode")}}'>
                  <input type="hidden" name="team_code", value='{{value.meta.team_code}}'>
                    <div class="c6 pA5 s12"><button class="btn danger outline block">{%trans "Reject"%}</button></div>
                </form>
              </div>
            </div>
          </div>
      </div>
      {%endif%}

{%endblock%}

{%block notify_parent%}

{%if value.btn%}
        <div class="f">
        <div class="c6 pA10 s12">
            <div class="vcard w400">
              <div class="content f">
                <div class="c">
                  <a class="header">{%if value.meta.user_displayname%}{{value.meta.user_displayname}}{%else%}<i>{%trans "No name"%}</i>{%endif%}</a>
                  <div class="meta"><span>{{value.meta.user_mobile|fitNumber}}</span></div>
                </div>
                <div class="cauto">
                  {%if value.meta.user_file_url%}
                    <img src="{{url.root}}/{{value.meta.user_file_url}}" class="mini">
                  {%else%}
                    <img src="http://code.ermile.com/siftal/images/avatar/1.png" class="mini">
                  {%endif%}
                </div>

                <div class="desc c12">{%trans "Are you accept?"%}</div>

              </div>
              <div class="footer f">
                <form method="post">
                  <input type="hidden" name="answer", value="accept">
                  <input type="hidden" name="notify_type", value="parent">
                  <input type="hidden" name="notify", value='{{value.id|shortURL("encode")}}'>
                  <input type="hidden" name="child", value='{{value.user_idsender|shortURL("encode")}}'>

                  <div class="c6 pA5 s12"><button class="btn success outline block">{%trans "Accept"%}</button></div>
                </form>
                <form method="post">
                  <input type="hidden" name="answer", value="reject">
                  <input type="hidden" name="notify_type", value="parent">
                  <input type="hidden" name="notify", value='{{value.id|shortURL("encode")}}'>
                  <input type="hidden" name="child", value='{{value.user_idsender|shortURL("encode")}}'>

                    <div class="c6 pA5 s12"><button class="btn danger outline block">{%trans "Reject"%}</button></div>
                </form>
              </div>
            </div>
          </div>
      </div>
      {%endif%}

{%endblock%}