{%extends display.adminTeam%}



{%block pageContent%}

 <form method="post" class="df">
  <h4>{%trans "Special event day counter"%}</h4>
        <div class="c12 s12 f mA5">
         <label class="c2 s12" for="event_title">{%trans "Event title"%}</label>
          <input class="c" type="text" name="event_title" id="event_title" value="{{currentTeam.event_title}}" placeholder='{%trans "Event title"%}'>
        </div>

        <div class="c12 s12 f mA5">
         <label class="c2 s12" for="event_date">{%trans "Event date"%}</label>
          <input class="c datepicker" type="text" name="event_date" id="event_date" value="{{currentTeam.event_date_gregorian}}" placeholder='{%trans "Event date"%}' data-format='YYYY/MM/DD' data-position='top'>
        </div>

       <div class="c3 os s12">
       <input type="submit" value='{%trans "Edit"%}' class='b1'>
      </div>
   </form>
{%endblock%}
