{%extends display.adminTeam%}



{%block pageContent%}

 <form method="post" class="df">
 <div class="f c s12 g1">
       <div class="c12">
        <input type="text" name="name" placeholder='{%trans "Name"%} *' value="{{team_detail.name}}" required autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name from 5 to 50 character"%}'>
       </div>
       <div class="c12">
        <input type="url" name="website" placeholder='{%trans "Website"%}' value="{{team_detail.website}}" maxlength='30' minlength="3" class="ltr">
       </div>
      </div>

 	<div class="cauto s0 lbl"><span>{%trans "Privacy mode"%}</span></div>
        <div class="c">
         <div class="f radio1t">

          <div class="c4">
           <input type="radio" id="r-private" name="privacy" value="private" {%if team_detail.privacy == 'private' or not team_detail.prvacy%}checked{%endif%} >
           <label for="r-private">{%trans "Private"%}</label>
          </div>

          <div class="c4">
           <input type="radio" id="r-team" name="privacy" value="team" {%if team_detail.privacy == 'team' %}checked{%endif%}>
           <label for="r-team">{%trans "Team"%}</label>
          </div>

          <div class="c4">
           <input type="radio" id="r-public" name="privacy" value="public" {%if team_detail.privacy == 'public' %}checked{%endif%}>
           <label for="r-public">{%trans "Public"%}</label>
          </div>

         </div>
        </div>


         <div class="f g1">
       <div class="c12">
        <textarea name="desc" placeholder='{%trans "Description"%}' maxlength='200'>{{team_detail.desc}}</textarea>
       </div>
      </div>

       <div class="c3 os s12">
       <input type="submit" value='{%trans "Edit"%}' class='b1'>
      </div>
   </form>
{%endblock%}
