{%extends display.adminTeam%}

{%block sidenav%}
{{parent()}}
{%endblock%}

{%block contentCenter%}

  <div class='middle' id="teamList">

    <h2>{{page.title}}</h2>

   <div class="f justify-center">
    <a class='teams-item' href='{{url.baseFull}}/{{school_code}}/teacher'>
     <figure>
      <div class="f align-center">
       <img src="{{url.static}}images/school/teacher.svg" alt='{%trans "Teachers"%}'>
      </div>
      <figcaption>{%trans "Teachers"%}</figcaption>
     </figure>
    </a>



    <a class='teams-item' href='{{url.baseFull}}/{{school_code}}/student'>
     <figure>
      <div class="f align-center">
       <img src="{{url.static}}images/school/student-panel.svg" alt='{%trans "Students"%}'>
      </div>
      <figcaption>{%trans "Students"%}</figcaption>
     </figure>
    </a>


    <a class='teams-item' href='{{url.baseFull}}/{{school_code}}/classroom'>
     <figure>
      <div class="f align-center">
       <img src="{{url.static}}images/school/student-database.svg" alt='{%trans "Classroom"%}'>
      </div>
      <figcaption>{%trans "Classroom"%}</figcaption>
     </figure>
    </a>


    <a class='teams-item' href='{{url.baseFull}}/{{school_code}}/subject'>
     <figure>
      <div class="f align-center">
       <img src="{{url.static}}images/school/report.svg" alt='{%trans "Subject"%}'>
      </div>
      <figcaption>{%trans "Subject"%}</figcaption>
     </figure>
    </a>

    <a class='teams-item' href='{{url.baseFull}}/{{school_code}}/terms'>
     <figure>
      <div class="f align-center">
       <img src="{{url.static}}images/school/quicksetup.svg" alt='{%trans "Term"%}'>
      </div>
      <figcaption>{%trans "School Terms"%}</figcaption>
     </figure>
    </a>



    <a class='teams-item' href='{{url.baseFull}}/{{school_code}}/lesson'>
     <figure>
      <div class="f align-center">
       <img src="{{url.static}}images/school/roadmap.svg" alt='{%trans "Lessons"%}'>
      </div>
      <figcaption>{%trans "Lessons"%}</figcaption>
     </figure>
    </a>



   </div>
  </div>
{%endblock%}

