{%extends display.admin%}

{%block contentCenter%}
  <div class='middle' id="showMember">

{%for key, value in list_member%}
   <div class="tcard" data-status='{{value.status}}'>
    <div class="cbox">
     <div class="front">
      <a class="top" href="{{url.baseFull}}/team/{{team}}/member={{value.user_id}}">{%if value.file%}<img src='{{value.file}}' alt='{{value.displayname}}'>{%else%}<i class="icon icon-user"></i>{%endif%}</a>
      <div class="cfdetail">
       <span class="cfnum">{{key+1}}</span>
      </div>
      <a class="cfinfo" href="{{url.baseFull}}/team/{{team}}/member={{value.user_id}}">
       <div class="cfname">{{value.displayname}}</div>
       {%if value.postion%}<div class="cfpos">{{value.postion}}</div>{%endif%}
      </a>
     </div>
    </div>
   </div>
{%endfor%}

   <a class="tcard add" href="{{url.baseFull}}/team/{{team}}/member">
    <div class="cbox">
     <span class="plus">+</span>
    </div>
   </a>
  </div>
{%endblock%}

{%block sidenav%}
{{parent()}}
    <li><a href="{{url.baseFull}}/team/{{team}}"><i class="icon-cog"></i>{%trans "Team Settings"%}</a></li>
    <li><a href="{{url.baseFull}}/team/{{team}}/plan"><i class="icon-bolt"></i>{%trans "Change Plan"%}</a></li>
{%if current_team.short_name%}
      <li><a href="{{url.base}}/{{current_team.short_name}}" data-direct><i class="icon-bolt"></i>{%trans "Attendance"%}</a></li>
{%endif%}
{%endblock%}