{%extends display.adminTeam%}

{%block contentCenter%}
  <div class='middle {%if list_member|length >= 8%}small{%endif%}' id="showMember">

   <a class="tcard add" href="{{url.baseFull}}/{{team}}/member">
    <div class="cbox">
     <span class="plus">+</span>
    </div>
   </a>
{%for key, value in list_member%}
   <div class="tcard" data-status='{{value.status}}' data-admin>
    <div class="cbox">
     <div class="front">
      <a class="top" href="{{url.baseFull}}/{{team}}/member={{value.user_id}}">{%if value.file%}<img src='{{value.file}}' alt='{{value.displayname}}'>{%else%}<i class="icon icon-user"></i>{%endif%}</a>
      <div class="cfdetail">
       <span class="cfnum">{{key+1}}</span>
      </div>
      <a class="cfinfo" href="{{url.baseFull}}/{{team}}/member={{value.user_id}}">
       <div class="cfname">{{value.displayname}}</div>
       {%if value.postion%}<div class="cfpos">{{value.postion}}</div>{%endif%}
      </a>
     </div>
    </div>
   </div>
{%endfor%}

  </div>
{%endblock%}

