{%extends display.admin%}


{%block contentCenter%}
{%for key, value in list_member%}
<div class="t-card-box">
 <div class="t-card">
  <div class="t-card-front">
   <div class="t-card-img">{%if value.file%}<img src='{{value.file}}' alt=''>{%endif%}</div>
   <div class="t-card-absolute">
    <div class="t-card-number">{{key+1}}</div>
   </div>
   <div class="t-card-bottom">
    <div class="t-card-name">{{value.name}} {{value.family}}</div>
    {%if value.postion%}<div class="t-card-post">{{value.postion}}</div>{%endif%}
   </div>
  </div>

  <div class="t-card-back">
   <div class="t-card-back-top">
    <div class="t-card-back-name" data-number='{{key+1}}'>{{value.name}} {{value.family}}</div>
   </div>
  </div>
 </div>
</div>
{%endfor%}

<a class="t-card-box t-card-add t-card-fix" href="{{url.baseFull}}/team/{{team}}/member">
 <div class="t-card">
  <div class="t-card-front">
   <span class="t-card-add-plus">+</span>
  </div>
 </div>
</a>
{%endblock%}


{%block sidenav%}
{{parent()}}
    <li><a href="{{url.baseFull}}/team/{{team}}"><i class="icon-cog"></i>{%trans "Team Settings"%}</a></li>
    <li><a href="{{url.baseFull}}/team/{{team}}/plan"><i class="icon-bolt"></i>{%trans "Change Plan"%}</a></li>
{%endblock%}

