{%extends display.admin%}

{%block contentCenter%}
  <div class='middle' id="addMember">
   <div class="dbox">
    <h2>{{page.desc}}</h2>

    <form method="post" class="df" enctype="multipart/form-data">
     <div class="f">
      <div class="f c9 g1">
       <div class="c12">
        <input type="text" name="name" id="name" placeholder='{%trans "Name"%}' value="{{member.name}}" required>
       </div>

       <div class="c12">
       <input type="text" name="postion" id="postion" placeholder='{%trans "Postion" %}' value="{{member.postion}}">
       </div>
      </div>
      <div class="c3 g1 df-file df-avatar">
       <div>
        <input type="file" name="avatar" id="avatar">
        <label for="avatar"></label>
       </div>
      </div>
     </div>

     <div class="f g1">
      <div class="c6">
       <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' value="{{member.mobile}}">
      </div>

      <div class="c6">
        <input type="text" name="family" id="family" placeholder='{%trans "Family"%}' value="{{member.family}}">
      </div>

      <div class="c12">
       <input type="text" name="code" id="code" placeholder='{%trans "Code" %}' value="{{member.code}}">
      </div>

      <div class="c12">
       <label>
        <input type="checkbox" name="remote" id="remote" {%if member.remote%} checked="checked" {%endif%}>
        {%trans "Remote member"%}
       </label>
      </div>
     </div>

{%if fasle%}
     <div class="f g1">
      <div class="c6">
       <select name="status" id="status">
        <option value="" selected="selected">{%trans "Status"%}</option>
        <option value="enable" {%if member.status == 'enable' or not member.status %} {%endif%}>{%trans "Enable"%}</option>
        <option value="disable" {%if member.status == 'disable' %} selected="selected" {%endif%}>{%trans "Disable"%}</option>
        <option value="expire" {%if member.status == 'expire' %} selected="selected" {%endif%}>{%trans "Expire"%}</option>
       </select>
      </div>

      <div class="c6">
       <label>
        <input type="checkbox" name="full_time" {%if member.full_time%} checked="checked" {%endif%}>
        {%trans "Is full time?"%}
       </label>

       <label>
        <input type="checkbox" name="is_default" {%if member.is_default%} checked="checked" {%endif%}>
        {%trans "Is default"%}
       </label>
      </div>
     </div>
{%endif%}

     <div class="f g1">
      <div class="c12">
       {%if edit_mode%}
        <input type="submit" value='{%trans "Edit"%}' class="b1">
       {%else%}
        <input type="submit" value='{%trans "Add"%}' class="bp">
       {%endif%}
      </div>
     </div>

    </form>
   </div>

{%endblock%}

