{%extends display.admin%}

{%block contentCenter%}
  <div class='middle' id="addMember">
   <div class="dbox">
    <h2>{{page.desc}}</h2>

    <form method="post" class="df" enctype="multipart/form-data">
     <div class="f">
      <div class="f c s12 g1">
       <div class="c12">
        <input type="text" name="name" placeholder='{%trans "Name"%} *' value="{{member.displayname}}" required autofocus maxlength='30' minlength="3" pattern=".{3,30}" title='{%trans "Enter a valid name from 3 to 30 character"%}'>
       </div>

       <div class="c12">
       <input type="text" name="postion" id="postion" placeholder='{%trans "Postion" %}' value="{{member.postion}}" maxlength='30'>
       </div>
      </div>

      <div class="cauto s12 g1">
       <div>
        <input type="file" name="avatar" id="avatar" accept="image/gif, image/jpeg, image/png" data-preview>
        <label for="avatar" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if edit_mode and member.file%}
         <img src="{{member.file}}" alt="{{member.displayname}}" id="avatarPreview">
{%endif%}
        </label>
       </div>
      </div>
     </div>

      <div class="f g1">
       <div class="c6 s12">
         <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' value="{{member.mobile}}" maxlength="15">
       </div>
       <div class="c6 s12">
        <select name="rule">
         <option value="user" {%if member.rule == 'user'%} selected {%endif%} >{%trans "User"%}</option>
         <option value="admin" {%if member.rule == 'admin'%} selected {%endif%} >{%trans "Admin"%}</option>
        </select>
       </div>
      </div>

     <div data-response='advance' data-response-effect='slide' {%if not edit_mode and false%}data-response-hide{%endif%}>

      <div class="f g1">
       <div class="cauto s0 lbl"><label for="firstName">{%trans "First name"%}</label></div>
       <div class="c">
         <input type="text" name="firstName" id="firstName" placeholder='{%trans "First name"%}' value="{{member.firstname}}" maxlength='30'>
       </div>
      </div>

      <div class="f g1">
       <div class="cauto s0 lbl"><label for="lastName">{%trans "Last name"%}</label></div>
       <div class="c">
         <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%}' value="{{member.lastname}}" maxlength='50'>
       </div>
      </div>

      <div class="f g1">
       <div class="cauto s0 lbl"><label for="personnelcode">{%trans "Personnel code"%}</label></div>
       <div class="c">
         <input type="text" name="personnelcode" id="personnelcode" placeholder='{%trans "Personnel code"%}' value="{{member.personnel_code}}" maxlength='30'>
       </div>
      </div>



      <div  class="g1 check1">
       <h4>{%trans "Extra setting for special use"%}</h4>
       <div class="f">
        <div class="c4 s6">
         <input type="checkbox" name="allowPlus" id="allowPlus" {%if member.allow_plus or team_default.allow_plus or ( not member and not team_default) %}checked{%endif%}>
         <label for="allowPlus">{%trans "Allow plus"%}</label>
        </div>
        <div class="c4 s6">
         <input type="checkbox" name="allowMinus" id="allowMinus" {%if member.allow_minus or team_default.allow_minus or ( not member and not team_default)%}checked{%endif%}>
         <label for="allowMinus">{%trans "Allow minus"%}</label>
        </div>

        <div class="c4 s6">
         <input type="checkbox" name="remoteUser" id="remoteUser" {%if member.remote_user or team_default.remote_user %}checked{%endif%}>
         <label for="remoteUser">{%trans "Remote user"%}</label>
        </div>
        <div class="c4 s6">
         <input type="checkbox" name="24h" id="24h" {%if member['24h'] or team_default['24h'] %}checked{%endif%}>
         <label for="24h">{%trans "24 hour"%}</label>
        </div>
       </div>
      </div>


      <div class="f g1">
        <div class="cauto s0 lbl"><span>{%trans "Status"%}</span></div>
        <div class="c">
         <div class="f radio1">
          <div class="c4">
           <input type="radio" id="r-active" name="status" value="active" {%if member.status == 'active' or not member.status%}checked{%endif%} >
           <label for="r-active">{%trans "Active"%}</label>
          </div>
          <div class="c4">
           <input type="radio" id="r-deactive" name="status" value="deactive" {%if member.status == 'deactive' %}checked{%endif%}>
           <label for="r-deactive">{%trans "Deactive"%}</label>
          </div>
          <div class="c4">
           <input type="radio" id="r-disable" name="status" value="disable" {%if member.status == 'disable' %}checked{%endif%}>
           <label for="r-disable">{%trans "disable"%}</label>
          </div>
         </div>
        </div>
      </div>


     </div>


     <div class="f g1">
       <div class="c9 s12 check1">
        <input type="checkbox" name="advance" id="advance">
        <label for="advance">{%trans "Advance"%}</label>
       </div>
      <div class="c3 os">
       {%if edit_mode%}
        <input type="submit" value='{%trans "Edit"%}' class="b1">
       {%else%}
        <input type="submit" value='{%trans "Add"%}' class="bp">
       {%endif%}
      </div>
     </div>

    </form>
   </div>
  </div>
{%endblock%}


{%block sidenav%}
{{parent()}}
{%include template.teamLink%}
{%endblock%}