{%extends display.adminTeam%}

{%block contentCenter%}
  <div class='middle' id="addMember">
   <div class="dbox">
    <h2>{{page.desc}}</h2>

    <form method="post" class="df" enctype="multipart/form-data">
     <div class="f">
      <div class="f c s12 g1">
       <div class="c12">
        <input type="text" name="name" placeholder='{%trans "Name"%} *' value="{{member.displayname}}" required autofocus maxlength='40' minlength="3" pattern=".{3,40}" title='{%trans "Enter a valid name from 3 to 40 character"%}'>
       </div>

       <div class="c12">
       <input type="text" name="postion" id="postion" placeholder='{%trans "Postion" %}' value="{{member.postion}}" maxlength='50' pattern=".{3,50}" title='{%trans "Enter a valid team position from 3 to 50 character"%}'>
       </div>
      </div>

      <div class="cauto s12 g1">
       <div>
        <input type="file" name="avatar" id="avatar" accept="image/gif, image/jpeg, image/png" data-preview data-size="500">
        <label for="avatar" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
        {%if edit_mode and member.file%}
         <img src="{{member.file}}" alt="{{member.displayname}}" id="avatarPreview">
        {%endif%}
        </label>
       </div>
      </div>
     </div>

      <div class="f g1">
       <div class="c6 s12">
         <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' value="{{member.mobile}}" maxlength="15" class='ltr'>
       </div>
       <div class="c6 s12">
        <select name="rule">
         <option value="user" {%if member.rule == 'user'%} selected {%endif%} >{%trans "User"%}</option>
         <option value="admin" {%if member.rule == 'admin'%} selected {%endif%} >{%trans "Admin"%}</option>
        </select>
       </div>
      </div>

     <div data-response='advance' data-response-effect='slide' {%if not edit_mode%}data-response-hide{%endif%}>

      <div class="f g1">
       <div class="cauto s0 lbl"><label for="firstName">{%trans "First name"%}</label></div>
       <div class="c">
         <input type="text" name="firstName" id="firstName" placeholder='{%trans "First name"%}' value="{{member.firstname}}" maxlength='30'>
       </div>
      </div>

      <div class="f g1">
       <div class="cauto s0 lbl"><label for="lastName">{%trans "Last name"%}</label></div>
       <div class="c">
         <input type="text" name="lastName" id="lastName" placeholder='{%trans "Last name"%}' value="{{member.lastname}}" maxlength='50'>
       </div>
      </div>

      <div class="f g1">
       <div class="cauto s0 lbl"><label for="personnelcode">{%trans "Personnel code"%}</label></div>
       <div class="c">
         <input type="text" name="personnelcode" id="personnelcode" placeholder='{%trans "Personnel code"%}' value="{{member.personnel_code}}" maxlength='30'>
       </div>
      </div>

      <div class="g1 check1">
       <h4>{%trans "Extra setting for special use"%}</h4>
       <div class="f">
        <div class="c6 s12">
         <input type="checkbox" name="allowPlus" id="allowPlus" {%if member.allow_plus or team_default.allow_plus or ( not member and not team_default) %}checked{%endif%}>
         <label for="allowPlus">{%trans "Allow register mission"%}</label>
        </div>
        <div class="c6 s12">
         <input type="checkbox" name="allowMinus" id="allowMinus" {%if member.allow_minus or team_default.allow_minus or ( not member and not team_default)%}checked{%endif%}>
         <label for="allowMinus">{%trans "Allow register personal work"%}</label>
        </div>

        <div class="c6 s12">
         <input type="checkbox" name="remoteUser" id="remoteUser" {%if member.remote_user or team_default.remote_user %}checked{%endif%}>
         <label for="remoteUser">{%trans "Remote user"%}</label>
        </div>

        <div class="c6 s12">
         <input type="checkbox" name="24h" id="24h" {%if member['24h'] or team_default['24h'] %}checked{%endif%}>
         <label for="24h">{%trans "24 hour"%}</label>
        </div>


        <div class="c6 s12 hide">
         <input type="checkbox" name="allowDescEnter" id="allowDescEnter" {%if member.allow_desc_enter or team_default.allow_desc_enter %}checked{%endif%}>
         <label for="allowDescEnter">{%trans "Allow set desc in enter"%}</label>
        </div>

        <div class="c6 s12 hide">
         <input type="checkbox" name="allowDescExit" id="allowDescExit" {%if member.allow_desc_exit or team_default.allow_desc_exit %}checked{%endif%}>
         <label for="allowDescExit">{%trans "Allow set desc in exit"%}</label>
        </div>

       </div>
      </div>

      <div class="f g1">
        <div class="cauto s0 lbl"><span>{%trans "Status"%}</span></div>
        <div class="c">
         <div class="f radio1">
          <div class="c4">
           <input type="radio" id="r-active" name="status" value="active" {%if member.status == 'active' or not member.status%}checked{%endif%} >
           <label for="r-active">{%trans "Active"%}</label>
          </div>
          <div class="c4">
           <input type="radio" id="r-deactive" name="status" value="deactive" {%if member.status == 'deactive' %}checked{%endif%}>
           <label for="r-deactive">{%trans "Deactive"%}</label>
          </div>
          <div class="c4">
           <input type="radio" id="r-suspended" name="status" value="suspended" {%if member.status == 'suspended' %}checked{%endif%}>
           <label for="r-suspended">{%trans "Remove"%}</label>
          </div>
         </div>
        </div>
      </div>

       <div class="f g1">
        <div class="cauto s0 lbl"><span>{%trans "Visibility"%}</span></div>
        <div class="c">
         <div class="f radio1">
          <div class="c6">
           <input type="radio" id="r-visible" name="visibility" value="visible" {%if member.visibility == 'visible' or not member.visibility%}checked{%endif%} >
           <label for="r-visible">{%trans "Visible"%}</label>
          </div>
          <div class="c6">
           <input type="radio" id="r-hidden" name="visibility" value="hidden" {%if member.visibility == 'hidden' %}checked{%endif%}>
           <label for="r-hidden">{%trans "Hidden"%}</label>
          </div>
         </div>
        </div>
      </div>

      <div class="f g1 hide">
      {%if member.parent%}
        <div class="cauto s0 lbl"><span>{%trans "Parent"%}</span></div>
        <div class="c">
          {%for k, v in member.parent%}
           <div class="f">
            <div class="c">
              <img src="{{v.fileurl}}" class="mini">
            </div>
            <div class="c">
              <p>{{v.mobile|fitNumber}}</p>
            </div>
            <div class="c">
              <p>{%set my_title = v.title | capitalize %}{%trans my_title%}</p>
            </div>
           </div>
          {%endfor%}
        </div>
      {%endif%}

        <div class="c12 hide">
            <div class="c">
              <p>{%trans "Add new parent"%}</p>
              <div class="f">

                  <div class="c">
                    <input type="number" name="parent_mobile" placeholder='{%trans "Parent mobile"%}' class="">
                  </div>
                  <div class="c">
                    <select name="title" class="">
                      <option value="">{%trans "Please select one items"%}</option>
                      <option value="father">{%trans "Father"%}</option>
                      <option value="mother">{%trans "Mother"%}</option>
                      <option value="sister">{%trans "Sister"%}</option>
                      <option value="brother">{%trans "Brother"%}</option>
                      <option value="grandfather">{%trans "Grandfather"%}</option>
                      <option value="grandmother">{%trans "Grandmother"%}</option>
                      <option value="aunt">{%trans "Aunt"%}</option>
                      <option value="husband of the aunt">{%trans "Husband of the aunt"%}</option>
                      <option value="uncle">{%trans "Uncle"%}</option>
                      <option value="boy">{%trans "Boy"%}</option>
                      <option value="girl">{%trans "Girl"%}</option>
                      <option value="spouse">{%trans "Spouse"%}</option>
                      <option value="stepmother">{%trans "Stepmother"%}</option>
                      <option value="stepfather">{%trans "Stepfather"%}</option>
                      <option value="neighbor">{%trans "Neighbor"%}</option>
                      <option value="teacher">{%trans "Teacher"%}</option>
                      <option value="friend">{%trans "Friend"%}</option>
                      <option value="boss">{%trans "Boss"%}</option>
                      <option value="supervisor">{%trans "Supervisor"%}</option>
                      <option value="child">{%trans "Child"%}</option>
                      <option value="grandson">{%trans "Grandson"%}</option>
                      <option value="custom">{%trans "Custom"%}</option>
                    </select>
                  </div>

                  <div class="c" data-response="title" data-response-where="custom" data-response-hide>
                      <input type="text" name="othertitle" placeholder='{%trans "Other title"%}' class="">
                  </div>
              </div>
            </div>
          </div>
      </div>


        <h4>{%trans "Extra setting for special tools to enter and exit"%}</h4>
        <div class="f g1">
         <div class="cauto s0 lbl"><label for="barcode">{%trans "Barcode"%}</label></div>
         <div class="c">
           <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{member.codes.barcode1}}" class="barcode">
         </div>
        </div>

        <div class="f g1">
         <div class="cauto s0 lbl"><label for="rfid">{%trans "Rfid"%}</label></div>
         <div class="c">
           <input type="text" name="rfid" id="rfid" placeholder='{%trans "Scan Rfid here..."%}' value="{{member.codes.rfid1}}" class="barcode">
         </div>
        </div>

        <div class="f g1">
         <div class="cauto s0 lbl"><label for="qrcode">{%trans "Qrcode"%}</label></div>
         <div class="c">
           <input type="text" name="qrcode" id="qrcode" placeholder='{%trans "Scan Qrcode here..."%}' value="{{member.codes.qrcode1}}" class="barcode">
         </div>
        </div>


     </div>


     <div class="f g1">
       <div class="c9 s12 check1">
        <input type="checkbox" name="advance" id="advance" {%if edit_mode%} checked="checked" {%endif%}>
        <label for="advance">{%trans "Advance"%}</label>
       </div>
      <div class="c3 os">
       {%if edit_mode%}
        <input type="submit" value='{%trans "Edit"%}' class="b1">
       {%else%}
        <input type="submit" value='{%trans "Add"%}' class="bp">
       {%endif%}
      </div>
     </div>

    </form>
   </div>
  </div>
{%endblock%}