{%extends display.adminTeam%}

{%block pageContent%}
<div class="f">
 <div class="cauto s12 pA10">
{{block("psidebar")}}
 </div>
 <div class="c s12 pA10">
{%block data%}{%endblock%}
 </div>
</div>
{%endblock%}





{%block psidebar%}
<div class="cbox normal">


  <a class="vcard mA10 shadow {{cardColor}}" href='{{url.baseFull}}/{{team}}/member/avatar/{{member.id}}'>
    <img src="{{member.file}}" alt="{{member.name}}" class="pA10-f">
    <div class="content">
      <div class="header">{{member.displayname}}</div>
        <div class="meta"><span>{{member.postion}}</span></div>
    </div>
  </a>

 <a class="btn block mTB5" href='{{url.baseFull}}/{{team}}/member/general/{{member.id}}'>{%trans "General Detail"%}</a>
 <a class="btn block mTB5" href='{{url.baseFull}}/{{team}}/member/identify/{{member.id}}'>{%trans "Personnel Card"%}</a>
 <a class="btn block mTB5" href='{{url.baseFull}}/{{team}}/member/observer/{{member.id}}'>{%trans "Observer and parent"%}</a>
 <a class="btn block mTB5" href='{{url.baseFull}}/{{team}}/member/permission/{{member.id}}'>{%trans "Special Access"%}</a>
 <a class="btn block mTB5" href='{{url.baseFull}}/{{team}}/member/personal/{{member.id}}'>{%trans "Personal"%}</a>
</div>
{%endblock%}







{%block iadd%}
<button class="btn primary block mT20">{%trans "Add"%}</button>
{%endblock%}


{%block isave%}
<button class="btn primary block mT20">{%trans "Save"%}</button>
{%endblock%}

{%block iInsert%}
<button class="btn primary block mT20">{%trans "Insert"%}</button>
{%endblock%}

{%block iSaveAll%}
<button class="btn primary block mT20">{%trans "Save All"%}</button>
{%endblock%}


{%block iAvatar%}
 <div class="input preview">
 <input type="file" accept="image/gif, image/jpeg, image/png" name="avatar" id="avatar1" data-preview data-max="500">
 <label for="avatar1" title='{%trans "allowed extentions jpg, png (gif for bussiness plans). Max 500Kb"%}'>
{%if member.file%}
   <img src="{{member.file}}" alt="{{member.displayname}}" id="avatarPreview">
{%endif%}
 </label>
</div>
{%endblock%}


{%block iName%}
<label for='fname'>{%trans "Name"%} <span class="fc-red">*</span></label>
<div class="input">
 <input type="text" name="name" placeholder='{%trans "Name of member"%}' value="{{member.displayname}}" required autofocus maxlength='50' minlength="1" pattern=".{1,50}" title='{%trans "Enter a valid name"%}' id='fname'>
</div>
{%endblock%}


{%block iPosition%}
<label for="position">{%trans "Postion"%}</label>
<div class="input">
 <input type="text" name="postion" id="position" placeholder='{%trans "Postion in team show below name" %}' value="{{member.postion}}" maxlength='50' pattern=".{1,50}" title='{%trans "Enter a valid team position from 3 to 50 character"%}'>
</div>
{%endblock%}


{%block iMobile%}
<label for='mobile'>{%trans "Mobile"%}</label>
<div class="input">
 <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' value="{{member.mobile}}" maxlength="15" class='ltr'>
</div>
{%endblock%}


{%block iRole%}
<label for='rule'>{%trans "Role of this member"%}</label>
<select name="rule" class="select">
 <option value="user" {%if member.rule == 'user'%} selected {%endif%} >{%trans "User"%}</option>
 <option value="admin" {%if member.rule == 'admin'%} selected {%endif%} >{%trans "Admin"%}</option>
</select>
{%endblock%}


{%block iStatus%}
<label class="mT25">{%trans "Status of member"%}</label>
<div class="radio1 green">
 <input type="radio" id="r-active" name="status" value="active" {%if member.status == 'active' or not member.status%} checked{%endif%} >
 <label for="r-active">{%trans "Active"%} <small>{%trans "Normal status for member"%}</small></label>
</div>

<div class="radio1 yellow">
 <input type="radio" id="r-deactive" name="status" value="deactive" {%if member.status == 'deactive' %} checked{%endif%}>
 <label for="r-deactive">{%trans "Deactive"%} <small>{%trans "Temporary deactive member"%}</small></label>
</div>

<div class="radio1 red">
 <input type="radio" id="r-suspended" name="status" value="suspended" {%if member.status == 'suspended' %} checked{%endif%}>
 <label for="r-suspended">{%trans "Remove"%} <small>{%trans "does not exist and quit from team, don't show in board"%}</small></label>
</div>
{%endblock%}


{%block iVisibility%}
<div data-response='status' data-response-where='active|deactive' data-response-effect='slide' {%if member.status == 'suspended' %} data-response-hide{%endif%}>
 <label class="mT25">{%trans "Visibility of member in board"%}</label>
 <div class="radio1">
  <input type="radio" id="r-visible" name="visibility" value="visible" {%if member.visibility == 'visible' or not member.visibility%} checked{%endif%} >
  <label for="r-visible">{%trans "Visible"%}</label>
 </div>

 <div class="radio1 black">
  <input type="radio" id="r-hidden" name="visibility" value="hidden" {%if member.visibility == 'hidden' %} checked{%endif%}>
  <label for="r-hidden">{%trans "Hidden"%}</label>
 </div>
</div>
{%endblock%}


{%block iBarcode%}
<label for="barcode">{%trans "Barcode"%}</label>
<div class="input">
 <input type="text" name="barcode" id="barcode" placeholder='{%trans "Scan Barcode here..."%}' value="{{member.codes.barcode1}}" class="barcode">
</div>
{%endblock%}


{%block iRfid%}
<label for="rfid">{%trans "Rfid card"%}</label>
<div class="input">
 <input type="text" name="rfid" id="rfid" placeholder='{%trans "Scan Rfid here..."%}' value="{{member.codes.rfid1}}" class="barcode">
</div>
{%endblock%}


{%block iQrcode%}
<label for="qrcode">{%trans "Qrcode"%}</label>
<div class="input">
 <input type="text" name="qrcode" id="qrcode" placeholder='{%trans "Scan Qrcode here..."%}' value="{{member.codes.qrcode1}}" class="barcode">
</div>
{%endblock%}


{%block iDefaultMemberRemote%}
<div class="switch1">
 <input type="checkbox" name="remoteUser" id="remoteUser" {% if member.remote_user%} checked{%endif%}>
 <label for="remoteUser"></label>
 <label for="remoteUser">{%trans "Remote member"%} <small>{%trans "can set enter and exit with their account without need another permission"%}</small></label>
</div>
{%endblock%}


{%block iDefaultMember24%}
<div class="switch1">
 <input type="checkbox" name="24h" id="24h" {% if member['24h']%} checked{%endif%}>
 <label for="24h"></label>
 <label for="24h">{%trans "24 hour member"%} <small>{%trans "can stay more than one day and after 23:59! Like night workers"%}</small></label>
</div>
{%endblock%}


{%block iDefaultMemberMission%}
<div class="switch1">
 <input type="checkbox" name="allowPlus" id="allowPlus" {%if member.allow_plus or not team%} checked{%endif%}>
 <label for="allowPlus"></label>
 <label for="allowPlus">{%trans "Allow to set mission time"%} <small>{%trans "used for someone work on home or suppliers"%}</small></label>
</div>
{%endblock%}


{%block iDefaultMemberPersonalwork%}
<div class="switch1">
 <input type="checkbox" name="allowMinus" id="allowMinus" {% if member.allow_minus or not team%} checked{%endif%}>
 <label for="allowMinus"></label>
 <label for="allowMinus">{%trans "Allow to set personal work time"%} <small>{%trans "member can enter waste time as personal work"%}</small></label>
</div>
{%endblock%}










