{%extends display.mvc%}
{%block content%}
<a href="{{url.base}}/admin/{{company}}/branch">{%trans "Branch List"%}</a>
{%if edit_mode%}
	<h1>{%trans "Add Company"%} {{company.title}}</h1>
{%else%}
	<h1>{%trans "Add Company"%}</h1>
{%endif%}
<form method="post" class="df">
	<div class="f">
		<label for="title">{%trans "Title"%}</label>
		<input type="text" name="title" id="title" placeholder='{%trans "Title"%}' value="{{branch.title}}">
	</div>
	<div class="f">
		<label for="site">{%trans "Site"%}</label>
		<input type="text" name="site" id="site" placeholder='{%trans "Site"%}' value="{{branch.site}}">
	</div>
	<div class="f">
		<label for="brand">{%trans "Brand"%}</label>
		<input type="text" name="brand" id="brand" placeholder='{%trans "Brand"%}' value="{{branch.brand}}">
	</div>
	<div class="f">
		<label for="boss">{%trans "boss"%}</label>
		<input type="text" name="boss" id="boss" placeholder='{%trans "boss"%}' value="{{branch.boss}}">
	</div>
	<div class="f">
		<label for="technical">{%trans "technical"%}</label>
		<input type="text" name="technical" id="technical" placeholder='{%trans "technical"%}' value="{{branch.technical}}">
	</div>
	<div class="f">
		<label for="address">{%trans "address"%}</label>
		<input type="text" name="address" id="address" placeholder='{%trans "address"%}' value="{{branch.address}}">
	</div>
	<div class="f">
		<label for="code">{%trans "code"%}</label>
		<input type="text" name="code" id="code" placeholder='{%trans "code"%}' value="{{branch.code}}">
	</div>
	<div class="f">
		<label for="telegram_id">{%trans "telegram_id"%}</label>
		<input type="text" name="telegram_id" id="telegram_id" placeholder='{%trans "telegram_id"%}' value="{{branch.telegram_id}}">
	</div>
	<div class="f">
		<label for="phone_1">{%trans "phone_1"%}</label>
		<input type="text" name="phone_1" id="phone_1" placeholder='{%trans "phone_1"%}' value="{{branch.phone_1}}">
	</div>
	<div class="f">
		<label for="phone_2">{%trans "phone_2"%}</label>
		<input type="text" name="phone_2" id="phone_2" placeholder='{%trans "phone_2"%}' value="{{branch.phone_2}}">
	</div>
	<div class="f">
		<label for="phone_3">{%trans "phone_3"%}</label>
		<input type="text" name="phone_3" id="phone_3" placeholder='{%trans "phone_3"%}' value="{{branch.phone_3}}">
	</div>
	<div class="f">
		<label for="fax">{%trans "fax"%}</label>
		<input type="text" name="fax" id="fax" placeholder='{%trans "fax"%}' value="{{branch.fax}}">
	</div>
	<div class="f">
		<label for="email">{%trans "email"%}</label>
		<input type="text" name="email" id="email" placeholder='{%trans "email"%}' value="{{branch.email}}">
	</div>
	<div class="f">
		<label for="post_code">{%trans "post_code"%}</label>
		<input type="text" name="post_code" id="post_code" placeholder='{%trans "post_code"%}' value="{{branch.post_code}}">
	</div>
	<div class="f">
		<label for="full_time">{%trans "full_time"%}</label>
		<input type="text" name="full_time" id="full_time" placeholder='{%trans "full_time"%}' value="{{branch.full_time}}">
	</div>
	<div class="f">
		<label for="remote">{%trans "remote"%}</label>
		<input type="text" name="remote" id="remote" placeholder='{%trans "remote"%}' value="{{branch.remote}}">
	</div>
	<div class="f">
		<label for="is_default">{%trans "is_default"%}</label>
		<input type="text" name="is_default" id="is_default" placeholder='{%trans "is_default"%}' value="{{branch.is_default}}">
	</div>
	<div class="f">
		<label class="c"></label>
		{%if edit_mode%}
			<input type="submit" value='{%trans "Edit"%}' class="c">
		{%else%}
			<input type="submit" value='{%trans "Add"%}' class="c">
		{%endif%}
	</div>
</form>

{%endblock%}
