{%extends display.back%}
{%block content%}

{%for key, value in team_list%}
 <div class="team-section-header">
  <h3 class="team-section-header-name">
   <a href="{{url.base}}/admin/{{value.brand}}">{{value.title}}</a>
  </h3>
 </div>

 <ul class="team-section-list">
  {%for k, v in value.branchs%}
   <li>
    <a class="branch-title" href="{{url.base}}/admin/{{value.brand}}/{{v.brand}}">
     <span class="flex justify-center align-center  branch-title-name">{{v.title}}</span>
    </a>
   </li>
  {%endfor%}
  <li>
   <a class="branch-title" href="{{url.base}}/admin/team/{{value.brand}}/branch">
    <span class="flex justify-center align-center branch-title-name">Add new branch...</span>
   </a>
  </li>
 </ul>
{%endfor%}
{%endblock%}
