{%extends display.cpMain%}

{%block sidenav%}
{{parent()}}

{%endblock%}

{%block content%}
 <form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>


<div class="dt big">
	<div class="f th">
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.name}}">{%trans "Team"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.plan}}">{%trans "Plan"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.start}}">{%trans "Start"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.end}}">{%trans "End"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.status}}">{%trans "status"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.lastcalcdate}}">{%trans "Last Calc Date"%}</a></div>
		<div class="c">{%trans "Renew at"%}</div>

	</div>
	{%for key, value in teamplans_list%}
	<div class="f">

		<div class="c"><a href="{{url.base}}/{{value.shortname}}" target="_blank">{{value.name}}</a></div>
		<div class="c">{%set my_plan = value.plan | capitalize  %}{%trans my_plan%}</div>
		{%if site.currentlang == 'fa'%}
			<div class="c">{{value.start|jdate("Y-m-d H:i:s")}}</div>
			{%if value.end%}
				<div class="c">{{value.end|jdate("Y-m-d H:i:s")}}</div>
			{%else%}
				<div class="c"><i>-</i></div>
			{%endif%}
		{%else%}
			<div class="c">{{value.start|date("Y-m-d H:i:s")}}</div>
			{%if value.end%}
				<div class="c">{{value.end|date("Y-m-d H:i:s")}}</div>
			{%else%}
				<div class="c"><i>-</i></div>
			{%endif%}
		{%endif%}
		<div class="c">{%set my_status = value.status  %}{%trans my_status%}</div>

		{%if site.currentlang == 'fa'%}
			<div class="c">{{value.lastcalcdate|jdate("Y-m-d H:i:s")}}</div>
		{%else%}
			<div class="c">{{value.lastcalcdate|date("Y-m-d H:i:s")}}</div>
		{%endif%}
			<div class="c">{{value.renew_time | fitNumber}}</div>
	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>


{%endblock%}
