{%extends display.cpMain%}

{%block sidenav%}
{{parent()}}

{%endblock%}

{%block content%}
 <form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>


<div class="dt big">
	<div class="f th">
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.name}}">{%trans "Team"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.plan}}">{%trans "Plan"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.start}}">{%trans "Start"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.end}}">{%trans "End"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.creator}}">{%trans "Creator"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.status}}">{%trans "status"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teamplans/{{order_url.lastcalcdate}}">{%trans "Last Calc Date"%}</a></div>

	</div>
	{%for key, value in teamplans_list%}
	<div class="f">

		<div class="c"><a href="{{url.base}}/{{value.shortname}}" target="_blank">{{value.name}}</a></div>
		<div class="c">{{value.plan}}</div>
		<div class="c">{{value.start}}</div>
		<div class="c">{{value.end}}</div>
		<div class="c">{{value.status}}</div>
		<div class="c">{{value.lastcalcdate}}</div>

	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>


{%endblock%}
