{%extends display.cpMain%}

{%block sidenav%}
{{parent()}}

{%endblock%}

{%block content%}
 <div class="tbox">
	{%trans "Teams plan"%}
</div>

 <form method="get" class="" data-action>
	<div class="input">
		<label for="search" class="addon">{%trans "Search"%}</label>
		<input type="text" name="search" class="" id="search" value='{{requestGET.search}}' >
		<button class="btn primary addon" >{%trans "Search"%}</button>
	</div>
</form>

<table class="tbl mT15">
	<thead>
		<th><a href="{{url.base}}/cp/teamplans/{{order_url.name}}">{%trans "Team"%}</a></th>
		<th><a href="{{url.base}}/cp/teamplans/{{order_url.creator}}">{%trans "Creator"%}</a></th>
		<th><a href="{{url.base}}/cp/teamplans/{{order_url.plan}}">{%trans "Plan"%}</a></th>
		<th><a href="{{url.base}}/cp/teamplans/{{order_url.start}}">{%trans "Start"%}</a></th>
		<th><a href="{{url.base}}/cp/teamplans/{{order_url.end}}">{%trans "End"%}</a></th>
		<th><a href="{{url.base}}/cp/teamplans/{{order_url.status}}">{%trans "status"%}</a></th>
		<th><a href="{{url.base}}/cp/teamplans/{{order_url.lastcalcdate}}">{%trans "Last Calc Date"%}</a></th>
		<th>{%trans "Renew at"%}</th>

	</thead>
	<tbody>
		{%for key, value in teamplansList%}
		<tr>

			<td><a href="{{url.base}}/{{value.shortname}}" target="_blank">{{value.name}}</a></td>
			<td><a href="{{url.base}}/enter?userid={{value.creator}}" data-direct>{{value.creator|fitNumber}}</a></td>
			<td>{%set my_plan = value.plan | capitalize  %}{%trans my_plan%}</td>
			{%if lang.current == 'fa'%}
				<td>{{value.start|jdate("Y-m-d H:i:s")}}</td>
				{%if value.end%}
					<td>{{value.end|jdate("Y-m-d H:i:s")}}</td>
				{%else%}
					<td><i>-</i></td>
				{%endif%}
			{%else%}
				<td>{{value.start|date("Y-m-d H:i:s")}}</td>
				{%if value.end%}
					<td>{{value.end|date("Y-m-d H:i:s")}}</td>
				{%else%}
					<td><i>-</i></td>
				{%endif%}
			{%endif%}
			<td>{%set my_status = value.status  %}{%trans my_status%}</td>

			{%if lang.current == 'fa'%}
				<td>{{value.lastcalcdate|jdate("Y-m-d H:i:s")}}</td>
			{%else%}
				<td>{{value.lastcalcdate|date("Y-m-d H:i:s")}}</td>
			{%endif%}
				<td>{{value.renew_time | fitNumber}}</td>
		</tr>
		{%endfor%}

	</tbody>
</table>







{%include display.pagination%}



{%endblock%}
