{%extends display.main%}

{%set pageTitle%}{%trans "Tejarak Logo"%}{%endset%}

{%set pageDesc%}
{%trans "Need know more about Tejarak Logo? Be patient..."%}
{%endset%}

{%block page%}
<div class="logo-txt">
 <h4><span>{%trans "Dowload our logo"%}</span></h4>

 <h5>{%trans "Square"%}</h5>
 <div class="logo-showcase">
  <div class="logo-showcase-img">
   <img src="{{url.static}}images/logo/Png/tejarak-logo-64.png" alt=''>
  </div>
  <div class="logo-showcase-list">
   <div class="dd">
    JPG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/jpg/tejarak-logo-32.jpg" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/tejarak-logo-64.jpg" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/tejarak-logo-128.jpg" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/tejarak-logo-256.jpg" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/tejarak-logo-512.jpg" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/tejarak-logo-1024.jpg" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/jpg/tejarak-logo-2048.jpg" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <div class="dd">
    PNG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/png/tejarak-logo-32.png" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/tejarak-logo-64.png" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/tejarak-logo-128.png" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/tejarak-logo-256.png" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/tejarak-logo-512.png" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/tejarak-logo-1024.png" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/png/tejarak-logo-2048.png" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <a href="{{url.static}}images/logo/svg/tejarak-logo.svg" target="_blank" class="dd">SVG</a>
  </div>
 </div>

 <h5>{%trans "Circle"%}</h5>
 <div class="logo-showcase">
  <div class="logo-showcase-img logo-showcase-img-circle">
   <img src="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-64.png" alt=''>
  </div>
  <div class="logo-showcase-list">
   <div class="dd">
    JPG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/rounded/jpg/tejarak-logo-rounded-32.jpg" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/tejarak-logo-rounded-64.jpg" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/tejarak-logo-rounded-128.jpg" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/tejarak-logo-rounded-256.jpg" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/tejarak-logo-rounded-512.jpg" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/tejarak-logo-rounded-1024.jpg" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/jpg/tejarak-logo-rounded-2048.jpg" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <div class="dd">
    PNG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-32.png" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-64.png" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-128.png" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-256.png" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-512.png" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-1024.png" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/rounded/png/tejarak-logo-rounded-2048.png" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <a href="{{url.static}}images/logo/rounded/svg/tejarak-logo-rounded.svg" target="_blank" class="dd">SVG</a>
  </div>
 </div>
</div>
{%endblock%}
