{%extends display.main%}

{%set pageTitle%}{%trans "Tejarak Logo"%}{%endset%}

{%set pageDesc%}
{%trans "Need know more about Tejarak Logo? Be patient..."%}
{%endset%}

{%block page%}
<div class="txt">
 <h4>{%trans "Dowload our logo"%}</h4>
 <p>{%trans "We have two type of logos. Square and circle."%}</p>

 <h4>{%trans "Square"%}</h4>
 <div class="logo-showcase">
  <div class="logo-showcase-img">
   <img src="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-64.png" alt=''>
  </div>
  <div class="logo-showcase-list">
   <div class="dd">
    JPG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/Logo-Square/Jpg/Logo-tejarak-Square-32.jpg" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Jpg/Logo-tejarak-Square-64.jpg" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Jpg/Logo-tejarak-Square-128.jpg" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Jpg/Logo-tejarak-Square-256.jpg" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Jpg/Logo-tejarak-Square-512.jpg" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Jpg/Logo-tejarak-Square-1024.jpg" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Jpg/Logo-tejarak-Square-2048.jpg" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <div class="dd">
    PNG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-32.png" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-64.png" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-128.png" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-256.png" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-512.png" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-1024.png" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Square/Png/Logo-tejarak-Square-2048.png" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <a href="{{url.static}}images/logo/Logo-Square/Svg/Logo-tejarak-Square.svg" target="_blank" class="dd">SVG</a>
  </div>
 </div>

 <h4>{%trans "Circle"%}</h4>
 <div class="logo-showcase">
  <div class="logo-showcase-img logo-showcase-img-circle">
   <img src="{{url.static}}images/logo/Logo-Circle/Png/logo-tejarak-circle-64.png" alt=''>
  </div>
  <div class="logo-showcase-list">
   <div class="dd">
    JPG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/Logo-Circle/Jpg/Logo-tejarak-circle-32.jpg" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Jpg/Logo-tejarak-circle-64.jpg" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Jpg/Logo-tejarak-circle-128.jpg" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Jpg/Logo-tejarak-circle-256.jpg" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Jpg/Logo-tejarak-circle-512.jpg" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Jpg/Logo-tejarak-circle-1024.jpg" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Jpg/Logo-tejarak-circle-2048.jpg" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <div class="dd">
    PNG
    <div class="dd-items">
     <a href="{{url.static}}images/logo/Logo-Circle/Png/Logo-tejarak-circle-32.png" target="_blank">{{32|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Png/Logo-tejarak-circle-64.png" target="_blank">{{64|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Png/Logo-tejarak-circle-128.png" target="_blank">{{128|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Png/Logo-tejarak-circle-256.png" target="_blank">{{256|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Png/Logo-tejarak-circle-512.png" target="_blank">{{512|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Png/Logo-tejarak-circle-1024.png" target="_blank">{{1024|fitNumber}}</a>
     <a href="{{url.static}}images/logo/Logo-Circle/Png/Logo-tejarak-circle-2048.png" target="_blank">{{2048|fitNumber}}</a>
    </div>
   </div>
   <a href="{{url.static}}images/logo/Logo-Circle/Svg/logo-tejarak-circle.svg" target="_blank" class="dd">SVG</a>
  </div>
 </div>
</div>
{%endblock%}
