{%extends display.main%}

{%set pageTitle%}{%trans "Plans and Pricing"%}{%endset%}

{%set pageDesc%}
{%trans "Always know what you'll pay per month."%} {%trans "Simple pricing"%}
{%endset%}



{%set ft%}<div class="c">✔️</div>{%endset%}
{%set ff%}<div class="c">-</div>{%endset%}
{%set f1%}<div class="c">1</div>{%endset%}
{%set f3%}<div class="c">3</div>{%endset%}
{%set fu%}<div class="c">{%trans "Unlimited"%}</div>{%endset%}



{%block page%}

    <div class="p dtc pricingTable pc">
     <div class="f th">
      <div class="c4"></div>
      <div class="c">{%trans "FREE"%}</div>
      <div class="c">{%trans "Pro"%}</div>
      <div class="c">{%trans "Business"%}</div>
      <div class="c">{%trans "Enterprise"%}</div>
     </div>

     <div class="f price">
      <div class="c4">{%trans "Price per member/month"%} {%trans "(Toman)"%}</div>
{%if site.currentlang == 'fa'%}
      <div class="c">{{0 | fitNumber}}</div>
      <div class="c">{{"1,000" | fitNumber}}</div>
      <div class="c">{{"10,000" | fitNumber}}</div>
      <div class="c">{%trans "Contact Us"%}</div>
{%else%}
      <div class="c">0</div>
      <div class="c">1<sup>$</sup></div>
      <div class="c">10<sup>$</sup></div>
      <div class="c">{%trans "Contact Us"%}</div>
{%endif%}
     </div>


     <div class="f">
      <div class="c4">{%trans "Number of persons"%}</div>
      <div class="c">10</div>
      {{fu}} {{fu}} {{fu}}
     </div>






     <div class="f gh"><div class="c4">{%trans "Analytics"%}</div></div>

     <div class="f">
      <div class="c4">{%trans "Simple reports"%}</div>
      {{ft}} {{ft}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Automatically send reports"%}</div>
      {{ff}} {{ft}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Professional reports"%}</div>
      {{ff}} {{ft}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Report via telegram"%}</div>
      {{ff}} {{ft}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Report via SMS"%}</div>
      {{ff}} {{ff}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Visual reports with chart"%}</div>
      {{ff}} {{ff}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Number of report reciever"%}</div>
      {{ff}} {{f1}} {{f3}} {{fu}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Advanced report builder"%}</div>
      {{ff}} {{ff}} {{ff}} {{ft}}
     </div>




     <div class="f gh"><div class="c4">{%trans "Branding"%}</div></div>

     <div class="f">
      <div class="c4">{%trans "Free SSL certificate"%}</div>
      {{ft}} {{ft}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Custom message format"%}</div>
      {{ff}} {{ff}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Custom brand logo"%}</div>
      {{ff}} {{ff}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Custom domain"%}</div>
      {{ff}} {{ff}} {{ff}} {{ft}}
     </div>




     <div class="f gh"><div class="c4">{%trans "Support"%}</div></div>

     <div class="f">
      <div class="c4">{%trans "Technical Support"%}</div>
      {{ft}} {{ft}} {{ft}} {{ft}}
     </div>

     <div class="f">
      <div class="c4">{%trans "Email response time"%}</div>
      <div class="c">{%trans "48 hours"%}</div>
      <div class="c">{%trans "12 hours"%}</div>
      <div class="c">{%trans "2 hours"%}</div>
      <div class="c">{%trans "15 minutes"%}</div>
     </div>

     <div class="f">
      <div class="c4">{%trans "Emergency phone support"%}</div>
      {{ff}} {{ff}} {{ff}} {{ft}}
     </div>


    </div>
{%endblock%}


{%block pageExtra%}
 <div class="tile" id='offer-enterprise-small'>
  <div class="cn f align-center">
   <div class="c">
    <h3>{%trans "Ready to use Tejarak Enterprise?"%}</h3>
    <h4>{%trans "Get started with our Enterprise plan."%}</h4>
   </div>
   <div class="c3">
    <a href="{{url.base}}/enterprise" class="btn bgw">{%trans "Get in Touch"%}</a>
   </div>
   <div class="c1"></div>
  </div>
 </div>


 <div class="pc p">
  <div class="cn f">
   <div class="c6">
    <h3>{%trans "Billing & Invoicing"%}</h3>
     <ul class="ps faq">
      <li>
       <h4>{%trans "Is there a setup fee?"%}</h4>
       <p>{%trans "No. There are no setup fees on any of our plans!"%}</p>
      </li>

      <li>
       <h4>{%trans "Can I cancel my account at any time?"%}</h4>
       <p>{%trans "Yes. If you ever decide that Tejarak isn’t the best platform for your business, simply cancel your account."%}</p>
      </li>

      <li>
       <h4>{%trans "How long are your contracts?"%}</h4>
       <p>{%trans "All Tejarak plans are month to month. simple."%}</p>
      </li>
      <li>
       <h4>{%trans "Can I change my plan later on?"%}</h4>
       <p>{%trans "Absolutely! You can upgrade or downgrade your plan at any time."%}</p>

      <li>
       <h4>{%trans "When is my billing date?"%}</h4>
       <p>{%trans "The date you first select a paid plan will be the recurring billing date. For example: If you sign up for the first time on July 15, all future charges will be billed on the 15th of every month."%}</p>
      </li>
    </ul>
   </div>

   <div class="c6">
    <h3>{%trans "General questions"%}</h3>
    <ul class="ps faq">
     <li>
      <h4>{%trans "How does Tejarak work?"%}</h4>
      <p>{%trans "Tejarak is simple. Enter to check it!"%}</p>
     </li>
     <li>
      <h4>{%trans "How does Tejarak work?"%}</h4>
      <p>{%trans "The easiest way to learn how to use Tejark is enter to it, which takes less than 3 minutes to setup your team."%}</p>
     </li>
     <li>
      <h4>{%trans "What is your privacy and security policy?"%}</h4>
      <p>{%trans "View Tejarak's privacy and security policy at"%} <a href='{{url.base}}/privacy'>{{url.base}}/privacy</a></p>
     </li>
     <li>
      <h4>{%trans "Where can I find your Terms of Service (TOS)?"%}</h4>
      <p>{%trans "You can find them at"%}  <a href='{{url.base}}/terms'>{{url.base}}/terms</a></p>
     </li>
     <li>
      <h4>{%trans "What are your bandwidth fees?"%}</h4>
      <p>{%trans "There are none. All Tejarak plans include unlimited bandwidth for free."%}</p>
     </li>
     <li>
      <h4>{%trans "Do I need a web host?"%}</h4>
      <p>{%trans "No! Tejarak includes secure, unlimited hosting on all plans with free bandwith."%}</p>
     </li>
    </ul>
   </div>

  </div>
 </div>

{%endblock%}
