{%extends display.adminTeam%}

{%block content%}
<div class="mB25 fs16 msg">
  <h2 class="mB0">{%trans "Send message to user"%}</h2>
  <p>{%trans "You can send every message to your team member"%}</p>
</div>
  <div class="cbox ">

	<form method="post">
	<textarea class="txt" rows="4" maxlength="500" id="message-text" name="message-text" placeholder='{%trans "Type your message here..."%}'></textarea>
	<input type="submit" value='{%trans "Send"%}' class="btn primary mA10">
	</form>
  </div>


{%endblock%}

