{%extends display.adminTeam%}

{%block content%}
  <div class='middle small' id="showMember">

<a href="{{url.baseFull}}/{{school_code}}/classroom/add" class="mA3 btn primary">{%trans "Add new classroom"%}</a>

<form method="get" class="" data-action>
 <div class="input pTB10">
      <label class="addon" for="search">{%trans "Search"%}</label>
      <input type="text" name="search" value="{{utilityGET.search}}" placeholder='{%trans "Search"%}' id="search" autocomplete="false">
      <button class="addon btn primary">{%trans "Search" %}</button>
    </div>
</form>
<br>

<table class="tbl">
  <thead class="primary">
    <th>{%trans "Name"%}</th>
    <th>{%trans "Multi class"%}</th>
    <th>{%trans "Classroom Size"%}</th>
    <th>{%trans "Status"%}</th>
    <th>{%trans "Description"%}</th>
    <th>{%trans "Edit"%}</th>
  </thead>
  <tbody>
  {%for key, value in classroom_list%}
  <tr>
    <td>{{value.name}}</td>
    <td>{%if value.multi_classroom%}<i class="sf-check"></i>{%else%}<i class="sf-times"></i>{%endif%}</td>
    <td>{%if value.classroom_size%}{{value.classroom_size|fitNumber}}{%else%}<i>-</i>{%endif%}</td>
    <td>{%set my_status = value.status |capitalize%}{%trans my_status%}</td>
    <td>{{value.desc}}</td>
    <td><a href='{{url.baseFull}}/{{school_code}}/classroom={{value.id|shortURL("encode")}}'><i class="sf-edit"></i></a></td>
  </tr>
  {%endfor%}
  </tbody>
</table>



  </div>
<div class="pagination-container">
  {%include display.pagination%}
</div>

{%endblock%}

