{%extends display.adminTeam%}



{%block pageContent%}

 <form method="post" class="df">

        <div class="f c12 s12 mA5">
         <label class="c2 s12" for="cardsize">{%trans "Card size"%}</label>
         <select class="c" name="cardsize">
           <option value=""   {%if not team_detail.cardsize %} selected {%endif%}>{%trans "Auto size"%}</option>
           <option value="10" {%if team_detail.cardsize == '10'%} selected {%endif%}>{%trans "Small"%}</option>
           <option value="20" {%if team_detail.cardsize == '20'%} selected {%endif%}>{%trans "Medium"%}</option>
           <option value="30" {%if team_detail.cardsize == '30'%} selected {%endif%}>{%trans "Large"%}</option>
         </select>
        </div>

         <div class="f c12 s12 mA5">
         <label class="c2 s12" for="language">{%trans "Language"%}</label>
         <select class="c" name="language">
           <option value="">{%trans "Please select one language"%}</option>
           <option value="fa" {%if team_detail.language == 'fa'%} selected {%endif%}>{%trans "Persian"%}</option>
           <option value="en" {%if team_detail.language == 'en'%} selected {%endif%}>{%trans "English"%}</option>
         </select>

        </div>


       <div class="c3 os s12">
       <input type="submit" value='{%trans "Edit"%}' class='b1'>
      </div>
   </form>
{%endblock%}
