{%extends display.cpMain%}


{%block content%}
<h2>{%trans "hours of teams"%}</h2>
<form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>



<div class="dt big">
	<div class="f th">

		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.rule}}">{%trans "Displayname"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.rule}}">{%trans "Rule"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.date}}">{%trans "Date"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.shamsi_date}}">{%trans "Shamsi date"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.time}}">{%trans "Time"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.type}}">{%trans "Type"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.minus}}">{%trans "Minus"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.plus}}">{%trans "Plus"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.diff}}">{%trans "Diff"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/teams/hours/{{team_id}}/{{order_url.diff}}">{%trans "Diff"%}</a></div>

	</div>
	{%for key, value in hoursList%}
	<div class="f">
		<div class="c">{{value.displayname}}</div>
		<div class="c">{%set my_rule = value.rule%}{%trans my_rule%}</div>
		<div class="c">{{value.date}}</div>
		<div class="c">{{value.shamsi_date|fitNumber}}</div>
		<div class="c">{{value.time|fitNumber}}</div>
		<div class="c">{%set my_type = value.type %}{%trans my_type%}</div>
		<div class="c">{{value.minus|fitNumber}}</div>
		<div class="c">{{value.plus|fitNumber}}</div>
		<div class="c">{{value.diff|fitNumber}}</div>
		<div class="c">{{value.diff|humantime|fitNumber}}</div>

	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>

{%endblock%}
