{%extends display.mvc%}
{%block content%}
<a href="{{url.base}}/admin/{{company.brand}}/staff">{%trans "staff List"%}</a>

<h1>{%trans "Add Staff"%} {{company.title}}</h1>

<form method="post" class="df">
	<div class="f">
		<label for="name">{%trans "name"%}</label>
		<input type="text" name="name" placeholder='{%trans "name"%}' value="{{staff.name}}">
	</div>
	<div class="f">
		<label for="family">{%trans "family"%}</label>
		<input type="text" name="family" placeholder='{%trans "family"%}' value="{{staff.family}}">
	</div>
	<div class="f">
		<label for="mobile">{%trans "mobile"%}</label>
		<input type="text" name="mobile" placeholder='{%trans "mobile"%}' value="{{staff.mobile}}">
	</div>

	<div class="f">
		<label class="c"></label>
		{%if edit_mode%}
			<input type="submit" value='{%trans "Edit"%}' class="c">
		{%else%}
			<input type="submit" value='{%trans "Add"%}' class="c">
		{%endif%}
	</div>
</form>

{%endblock%}
