{%extends display.mvc%}
{%block content%}

<h2>{%trans "staff"%}</h2>

{%for key, value in staff_list%}
	<div class="f">
		<span class="c2"><a href="{{url.base}}/admin/{{company}}/{{value.brand}}/edit">{{value.id}}</a></span>
		<span class="c2">{{value.title}}</span>
		<span class="c2"><a href="{{url.base}}/admin/{{company}}/{{value.brand}}">{{value.brand}}</a></span>
	</div>
{%endfor%}
 <div class="pagination-container">
 {%include display.pagination%}
 </div>
 <div class="f">
 	<div>
		<a href="{{url.base}}/admin/{{company}}/staff/add">{%trans "Add staff"%}</a>
 	</div>
	<div>
		<a href="{{url.base}}/admin/company">{%trans "List company"%}</a>
	</div>
	<div>
		<a href="{{url.base}}/admin">{%trans "Admin"%}</a>
	</div>
</div>

{%endblock%}
