{%extends display.enter%}


{%block contentForm%}
{%if sendsms_code%}
<p>
We could not send you a code
You can send <b><code>{{sendsms_code}}</code></b> to number <b><code>10006660066600</code></b>
to pass this step
</p>
{%endif%}
<a href="{{url.full}}" class="link" data-ajaxify data-data='{"code": "{{sendsms_code}}"}' data-method='post'>{%trans "I send this code"%}</a>

{{block('eresend')}}

{%endblock%}



{%block contentFooter%}
   <footer class='f'>
{{block('ereset')}}
{{block('eresend')}}
   </footer>
{%endblock%}

