{%extends display.admin%}

{%block contentCenter%}
<div class='middle' id="addTeam">
 <div class='dbox'>

{%if edit_mode%}
   <h2>{%trans "Edit Team"%} {{team.title}}</h2>
{%else%}
   <h2>{%trans "Add new team"%}</h2>
{%endif%}

  <form method="post" class="df" enctype="multipart/form-data">

   <div class="f">
    <div class="f c s12 g1">
     <div class="c12 s12">
      <input type="text" name="title" placeholder='{%trans "Name"%}' value="{{team.title}}" required>
     </div>

     <div class="c12 s12">
      <input type="text" name="site" placeholder='{%trans "Website"%}' value="{{team.site}}">
     </div>
    </div>

    <div class="cauto s12 g1">
     <div>
      <input type="file" name="logo" id="logo">
      <label for="logo"></label>
     </div>
    </div>
   </div>



   <div class="f g1" data-response='advance' data-response-effect='slide' data-response-hide2>

    <div class="c12 g1">
     <div class="f radio1">
      <div class="cauto s0"><b>{%trans "Privacy mode"%}</b></div>
      <div class="cauto s6">
       <input type="radio" id="r-private" name="privacy" checked>
       <label for="r-private">{%trans "Private"%}</label>
      </div>
      <div class="cauto s6">
       <input type="radio" id="r-public" name="privacy">
       <label for="r-public">{%trans "Public"%}</label>
      </div>
     </div>
    </div>

    <div class="c12 s12">
     <input type="text" name="brand" placeholder='{%trans "Slug"%}' value="{{team.brand}}" required>
    </div>

    <div class="f">
     <div class="c s6">
      <input type="checkbox" name="24h" id="24h">
      <label for="24h">{%trans "24 hour"%}</label>
     </div>
     <div class="c s6">
      <input type="checkbox" name="allowRemote" id="allowRemote">
      <label for="allowRemote">{%trans "Allow remote"%}</label>
     </div>
     <div class="c s6">
      <input type="checkbox" name="allowMinus" id="allowMinus">
      <label for="allowMinus">{%trans "Allow minus"%}</label>
     </div>
    </div>
    <div class="c12">
     <textarea name="desc" placeholder='{%trans "Description"%}' value='{{team.desc}}'></textarea>
    </div>

   </div>


{%if edit_mode%}
   <div class="f g1">
    <div class="c9">
     <a href="{{url.full}}" data-data='{"delete":true}' data-method="post" class="bn" data-ajaxify>{%trans "Delete"%}</a>
    </div>
    <div class="c3 os">
     <input type="submit" value='{%trans "Edit"%}' class='b1'>
    </div>
   </div>
{%else%}

   <div class="f g1">
    <div class="c9">
     <input type="checkbox" name="advance" id="advance">
     <label for="advance">{%trans "Advance"%}</label>
    </div>
    <div class="c3 os">
     <input type="submit" value='{%trans "Add"%}' class="bp">
    </div>
   </div>
{%endif%}
  </form>

 </div>
</div>

{%endblock%}
