{%extends display.admin%}

{%block sidenav%}
{{parent()}}
{%endblock%}

{%block contentCenter%}
<div class="flex justify-center wrap">
 {%for key, value in team_list%}
  <a class='teams-item' href='{{url.baseFull}}/{{value.id}}' data-direct>
   <div class="flex justify-center align-center teams-item-square">
   	{%if value.logo%}
    <img src="{{value.logo}}" alt="{{value.name}}">
    {%else%}
    <img src="{{url.static}}images/logo/logo.png" alt="{{value.name}}">
    {%endif%}
   </div>
   <div class="teams-item-label">
    <h3>{{value.name}}</h3>
   </div>
  </a>
 {%endfor%}
</div>

{%endblock%}
