{%extends display.adminTeam%}


{%block content%}
<h2>{%trans "Members of teams"%}</h2>
<form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>

<table class="tbl1 v1">
	<thead>
		<th>{%trans "Displayname"%}</th>
		<th>{%trans "Postion"%}</th>
		<th>{%trans "Rule"%}</th>
		<th>{%trans "Personnel code"%}</th>
		<th>{%trans "allowplus"%}</th>
		<th>{%trans "allowminus"%}</th>
		<th>{%trans "24h"%}</th>
		<th>{%trans "remote"%}</th>
		<th>{%trans "Date enter"%}</th>
		<th>{%trans "Avatar"%}</th>
		<th>{%trans "Status"%}</th>
		<th>{%trans "Visibility"%}</th>
		<th>{%trans "Report daily"%}</th>
		<th>{%trans "Report ente&rexit"%}</th>
		<th>{%trans "Sort"%}</th>
	</thead>
	<tbody>

	{%for key, value in membersList%}
		<tr>
			<td>{{value.displayname}}</td>
			<td>{{value.postion}}</td>
			<td>{%set my_rule = value.rule%}{%trans my_rule%}</td>
			<td>{{value.personnelcode|fitNumber}}</td>
			<td>{{value.allowplus|fitNumber}}</td>
			<td>{{value.allowminus|fitNumber}}</td>
			<td>{{value['24h']|fitNumber}}</td>
			<td>{{value.remote|fitNumber}}</td>
				<td>{{value.dateenter|dt(true)}}</td>
			{%if value.avatar%}
				<td><img src="{{url.base}}/{{value.avatar}}" height="15" width="15"></td>
			{%else%}
				<td><i>{%trans "Not set"%}</i></td>
			{%endif%}
			<td>{%set my_status = value.status%}{%trans my_status%}</td>
			<td>{%set my_visibility = value.visibility%}{%trans my_visibility%}</td>
			<td>{{value.reportdaily|fitNumber}}</td>
			<td>{{value.reportenterexit|fitNumber}}</td>
			<td>{{value.sort|fitNumber}}</td>
		</tr>
	{%endfor%}

	</tbody>
</table>


<div class="pagination-container">
	{%include display.pagination%}
</div>

{%endblock%}
