{%extends "content_a/request/layout.html"%}


{%block pageContent%}

{{block('userList')}}

<div class="f justify-center">
  <div class="c6 s12">
    <form method="post" class="cbox">
    	{%if report_current_user.displayname %}
		<hr>
		<p>{%trans "Add new request for"%} {{report_current_user.displayname}}</p>
		<hr>
    	{%endif%}

		{%if is24h%}
			{{block('iEventDateStart')}}
		{%else%}
			{{block('iEventDate')}}
		{%endif%}

		{{block('iAutoTrafficReportHourStart')}}

		{%if is24h%}
			{{block('iEventDateEnd')}}
		{%endif%}

		{{block('iAutoTrafficReportHourEnd')}}
		{{block('iRequestDescription')}}
		{{block('isendrequest')}}
    </form>
  </div>
</div>
  <div class="f">
	<div class="cauto pA5">
	   <a href="{{url.here}}/{{teamCode}}/request/add">
	    <i class="sf-plus btn"></i> {%trans "Add request"%}
	   </a>
	</div>
 </div>
{%endblock%}


