{%extends "content_a/request/layout.html"%}


{%block pageContent%}
<div class="f justify-center">

  <div class="c6 s12">
    <form method="post" class="cbox">
		{%if is_24h%}
			{{block('iEventDateStart')}}
		{%else%}
			{{block('iEventDate')}}
		{%endif%}

		{{block('iAutoTrafficReportHourStart')}}

		{%if is_24h%}
			{{block('iEventDateEnd')}}
		{%endif%}

		{{block('iAutoTrafficReportHourEnd')}}
		{{block('iRequestDescription')}}
		{{block('isendrequest')}}
    </form>
  </div>
</div>
{%endblock%}


