{%extends display.adminTeam%}

{%block contentCenter%}
  <div class='middle' id="addTeam">
   <div class='dbox'>
    <h2>{{page.desc}}</h2>

     <div class="f pas">
      <h3 class="c">{%trans "Current Plan"%} <b>{% set myCurrentPlan = current_plan.plan_name |capitalize %}{%trans myCurrentPlan%}</b></h2>
      <h4 class="cauto os" title="{{current_plan.start|tdate("Y-m-d")}}"><sub>{{current_plan.start|sdate}}</sub></h3>
     </div>


  <div class="f pas">
   <div class="bg-gray pas">
    <h2>{%trans "Choose a new plan of your team"%}</h2>



    <form method="post" class='df'>
     <div class="f radio1 v">

      <div class="c12 f ps">
       <div class="c12">
        <input type="radio" name="plan" id="r-free" value="free" {%if current_plan.plan_name =='free'%}checked{%endif%}>
        <label for="r-free">{%trans "Free"%}</label>
       </div>

       <div class="c12">
        <input type="radio" name="plan" id="r-simple" value="simple" {%if current_plan.plan_name =='simple'%}checked{%endif%}>
        <label for="r-simple">{%trans "Simple"%}</label>
       </div>

        <div class="c12">
        <input type="radio" name="plan" id="r-standard" value="standard" {%if current_plan.plan_name =='standard'%}checked{%endif%}>
        <label for="r-standard">{%trans "Standard"%}</label>
       </div>

       <div class="c12">
        <input type="radio" name="plan" id="r-full" value="full" {%if current_plan.plan_name =='full'%}checked{%endif%}>
        <label for="r-full">{%trans "Full"%}</label>
       </div>

      </div>

      <div class="c12">
       <button class="b1" type="submit">{%trans "Apply"%}</button>
      </div>

     </div>
    </form>

   </div>
  </div>

{%if false%}
  <div class="f">
   <div class="box msg">
    <h2>{%trans "Alert for change team plan"%}</h2>
   </div>
  </div>
{%endif%}


   </div>
  </div>
{%endblock%}
