{%extends display.admin%}


{%block sidenav%}
<li>
	<a href="{{url.baseFull}}/{{team.brand}}/{{branch.brand}}/getway/add">{%trans "Add getway"%}</a>
</li>
<li>
	<a href="{{url.baseFull}}/{{team.brand}}/{{branch.brand}}/getway">{%trans "Getway list"%}</a>
</li>
<li>
	<a href="{{url.baseFull}}/{{team.brand}}/{{branch.brand}}">{%trans "Branch list"%}</a>
</li>
{%endblock%}


{%block content%}
{%if edit_mode%}
	<h1>{%trans "Edit Getway"%} {{team.title}}@{{branch.title}}</h1>
{%else%}
	<h1>{%trans "Add Getway"%} {{team.title}}@{{branch.title}}</h1>
{%endif%}

<form method="post" class="df">
	<div class="f">
		<label for="title" class="c1">{%trans "Title"%}</label>
		<input type="text" id="title" name="title" placeholder='{%trans "Title"%}' value="{{getway.title}}" class="c3">
	</div>
	<div class="f">
		<label for="cat" class="c1">{%trans "Cat"%}</label>
		<input type="text" id="cat" name="cat" placeholder='{%trans "Cat"%}' value="{{getway.cat}}" class="c3">
	</div>
	<div class="f">
		<label for="code" class="c1">{%trans "Code"%}</label>
		<input type="text" id="code" name="code" placeholder='{%trans "Code"%}' value="{{getway.code}}" class="c3">
	</div>
	<div class="f">
		<label for="ip" class="c1">{%trans "IP"%}</label>
		<input type="text" id="ip" name="ip" placeholder='{%trans "IP"%}' value="{{getway.ip}}" class="c3">
	</div>
	<div class="f">
		<label for="status" class="c1">{%trans "Status"%}</label>
		<select id="status" class="c3" name="status">
			<option value="">{%trans "Please select one item"%}</option>
			<option value="enable" {%if getway.status == 'enable' %}selected{%endif%}>{%trans "Enable"%}</option>
			<option value="disable" {%if getway.status == 'disable' %}selected{%endif%}>{%trans "Disable"%}</option>
		</select>
	</div>
	<div class="f">
		<label for="desc" class="c1">{%trans "Description"%}</label>
		<textarea  id="desc" name="desc" placeholder='{%trans "Description"%}' class="c3">{{getway.desc}}</textarea>
	</div>
	<div class="f">
		<label class="c1"></label>
		{%if edit_mode%}
			<input type="submit" value='{%trans "Edit"%}' class="c3">
		{%else%}
			<input type="submit" value='{%trans "Add"%}' class="c3">
		{%endif%}
	</div>
</form>

{%endblock%}
