{%extends display.mvc%}
{%block content%}
{%if edit_mode%}
	<h1>{%trans "Add Company"%} {{company.title}}</h1>
{%else%}
	<h1>{%trans "Add Company"%}</h1>
{%endif%}
<form method="post" class="df">
	<div class="f">
		<label class="c">{%trans "Title"%}</label>
		<input type="text" name="title" placeholder='{%trans "Title"%}' value="{{company.title}}">
	</div>

	<div class="f">
		<label class="c">{%trans "Site"%}</label>
		<input type="text" name="site" placeholder='{%trans "Site"%}' value="{{company.site}}">
	</div>

	<div class="f">
		<label class="c"></label>
		{%if edit_mode%}
			<input type="submit" value='{%trans "Edit"%}' class="c">
		{%else%}
			<input type="submit" value='{%trans "Add"%}' class="c">
		{%endif%}
	</div>
</form>
{%endblock%}
