{%extends display.tejarak%}
{%block content%}
{%if edit_mode%}
	<h1>{%trans "Add Company"%} {{company.title}}</h1>
{%else%}
	<h1>{%trans "Add Company"%}</h1>
{%endif%}
<form method="post" class="df" enctype="multipart/form-data">
	<div class="f">
		<label class="c1" for="title">{%trans "Title"%}</label>
		<input type="text" name="title" placeholder='{%trans "Title"%}' value="{{company.title}}" class="c3" required id="title">
	</div>

	<div class="f">
		<label class="c1" for="site">{%trans "Site"%}</label>
		<input type="text" name="site" placeholder='{%trans "Site"%}' value="{{company.site}}" class="c3" id="site">
	</div>

	<div class="f">
		<label class="c1" for="brand">{%trans "Brand"%}</label>
		<input type="text" name="brand" placeholder='{%trans "Brand"%}' value="{{company.brand}}" class="c3" required id="brand">
	</div>
	<div class="f">
		<label class="c1" for="register_code">{%trans "Register code"%}</label>
		<input type="text" name="register_code" placeholder='{%trans "Register code"%}' value="{{company.register_code}}" class="c3" id="register_code">
	</div>
	<div class="f">
		<label class="c1" for="economical_code">{%trans "Economical code"%}</label>
		<input type="text" name="economical_code" placeholder='{%trans "Economical code"%}' value="{{company.economical_code}}" class="c3" id="economical_code">
	</div>
	<div class="f">
		<label class="c1" for="logo">{%trans "Logo"%}</label>
		<input type="file" name="logo" class="c3" id="logo">
	</div>

	<div class="f">
		<label class="c1"></label>
		{%if edit_mode%}
			<input type="submit" value='{%trans "Edit"%}' class="c3">
		{%else%}
			<input type="submit" value='{%trans "Add"%}' class="c3">
		{%endif%}
	</div>
</form>
{%endblock%}
