{%extends display.tejarak%}

{%block sidenav%}
<li>
	<a href="{{url.base}}/admin/{{company.brand}}/branch/add"><i class="icon-"></i>{%trans "Add branch"%}</a>
</li>
<li>
	<a href="{{url.base}}/admin/{{company.brand}}/branch"><i class="icon-"></i>{%trans "List branch"%}</a>
</li>
<li>
	<a href="{{url.base}}/admin/{{company.brand}}/staff"><i class="icon-"></i>{%trans "List staff"%}</a>
</li>
<li>
	<a href="{{url.base}}/admin/{{company.brand}}/staff/add"><i class="icon-"></i>{%trans "Add staff"%}</a>
</li>
{%endblock%}

{%block content%}
<h1>{%trans "Dashboard of company"%} {{company.title}}</h1>
{%endblock%}
