{%extends display.mvc%}
{%block content%}
<h1>{%trans "Company List"%}</h1>
<div class="f">
		<span class="c2">{%trans "id"%}</span>
		<span class="c2">{%trans "Title"%}</span>
		<span class="c2">{%trans "Site"%}</span>
	</div>
{%for key, value in company_list%}
	<div class="f">
		<span class="c2"><a href="{{url.base}}/admin/company/edit={{value.id}}">{{value.id}}</a></span>
		<span class="c2">{{value.title}}</span>
		<span class="c2"><a href="{{value.site}}">{{value.site}}</a></span>
	</div>
{%endfor%}

 <div class="pagination-container">
 {%include display.pagination%}
 </div>

{%endblock%}
