{%extends display.tejarak%}
{%block content%}
<h1>{%trans "Your Company List"%}</h1>
<div class="f" >
		<span class="c1">{%trans "id"%}</span>
		<span class="c2">{%trans "Title"%}</span>
		<span class="c2">{%trans "Site"%}</span>
		<span class="c1">{%trans "Status"%}</span>
		<span class="c1">{%trans "Register code"%}</span>
		<span class="c1">{%trans "Economical code"%}</span>
		<span class="c2">{%trans "Open Comapny"%}</span>
		{%if delete_mode%}
		<span class="c2">{%trans "Delete"%}</span>
		{%endif%}
	</div>
	<br>
	{%for key, value in company_list%}
	<div class="f">
		<span class="c1"><a href="{{url.base}}/admin/{{value.brand}}/edit">{{value.id}}</a></span>
		<span class="c2">{{value.title}}</span>
		<span class="c2"><a href="{{value.site}}">{{value.site}}</a></span>
		<span class="c1">{%set myStatus = value.status%}{%trans myStatus%}</span>
		<span class="c1">{{value.register_code|fitNumber}}</span>
		<span class="c1">{{value.economical_code|fitNumber}}</span>
		<span class="c2"><a href="{{url.base}}/admin/{{value.brand}}">{{value.brand}}</a></span>
		{%if delete_mode%}
		<span class="c2">
			<a href="{{url.full}}" data-ajaxify data-data='{"brand": "{{value.brand}}"}' data-method="post">{%trans "Delete Comany"%}</a>
		</span>
		{%endif%}
	</div>
	{%endfor%}

<div class="pagination-container">
 {%include display.pagination%}
</div>

{%endblock%}
