{%extends display.back%}


{%block sidenav%}

{%endblock%}

{%block content%}
<a href="{{url.base}}/admin/{{company.brand}}/staff">{%trans "staff List"%}</a>

<h1>{%trans "Add Getway"%} {{company.title}}</h1>

<form method="post" class="df">
	<div class="f">
		<label for="title">{%trans "title"%}</label>
		<input type="text" name="title" placeholder='{%trans "title"%}' value="{{getway.title}}" class="c">
	</div>
	<div class="f">
		<label for="cat">{%trans "cat"%}</label>
		<input type="text" name="cat" placeholder='{%trans "cat"%}' value="{{getway.cat}}" class="c">
	</div>
	<div class="f">
		<label for="code">{%trans "code"%}</label>
		<input type="text" name="code" placeholder='{%trans "code"%}' value="{{getway.code}}" class="c">
	</div>
	<div class="f">
		<label for="ip">{%trans "ip"%}</label>
		<input type="text" name="ip" placeholder='{%trans "ip"%}' value="{{getway.ip}}" class="c">
	</div>
	<div class="f">
		<label for="status">{%trans "status"%}</label>
		<input type="text" name="status" placeholder='{%trans "status"%}' value="{{getway.status}}" class="c">
	</div>
	<div class="f">
		<label for="desc">{%trans "desc"%}</label>
		<input type="text" name="desc" placeholder='{%trans "desc"%}' value="{{getway.desc}}" class="c">
	</div>
	<div class="f">
		<label class="c"></label>
		{%if edit_mode%}
			<input type="submit" value='{%trans "Edit"%}' class="c">
		{%else%}
			<input type="submit" value='{%trans "Add"%}' class="c">
		{%endif%}
	</div>
</form>

{%endblock%}
