{%extends display.tejarak%}


{%block sidenav%}
<li>
	<a href="{{url.base}}/admin/{{company.brand}}/{{branch.brand}}/getway/add">{%trans "Add getway"%}</a>
</li>
<li>
	<a href="{{url.base}}/admin/{{company.brand}}/{{branch.brand}}">{%trans "Branch list"%}</a>
</li>
{%endblock%}


{%block content%}

<h2>{%trans "Getway list"%} {{company.title}}@{{branch.title}}</h2>
	<div class="f">
		<span class="c">{%trans "Title"%}</span>
		<span class="c">{%trans "Cat"%}</span>
		<span class="c">{%trans "Code"%}</span>
		<span class="c">{%trans "IP"%}</span>
		<span class="c">{%trans "Status"%}</span>
	</div>
{%for key, value in getway_list%}
	<div class="f">
		<span class="c"><a href="{{url.base}}/admin/{{company.brand}}/{{branch.brand}}/getway/{{value.id}}/edit">{%trans "Edit"%}</a></span>
		<span class="c">{{value.title}}</span>
		<span class="c">{{value.cat}}</span>
		<span class="c">{{value.code}}</span>
		<span class="c">{{value.ip}}</span>
		<span class="c">{%set myStatus = value.status %}{%trans myStatus%}</span>
	</div>
{%endfor%}
 <div class="pagination-container">
 {%include display.pagination%}
 </div>
{%endblock%}