{%extends display.admin%}


{%block contentCenter%}
  <div class='middle' id="showMember">

{%for key, value in list_member%}
   <div class="tcard" data-status='{{value.status}}' data-live='{%if value.last_time%}on{%else%}off{%endif%}'>
    <div class="cbox">
     <div class="front">
      <div class="top">{%if value.file%}<img src='{{value.file}}' alt='{{value.displayname}}'>{%else%}<i class="icon icon-user"></i>{%endif%}</div>
      <div class="cfdetail">
       <span class="cfnum">{{key+1}}</span>
      </div>
      <div class="cfinfo">
       <div class="cfname">{{value.displayname}}</div>
       {%if value.postion%}<div class="cfpos">{{value.postion}}</div>{%endif%}
      </div>
     </div>

     <div class="back">

      <form method="post" class="enter">
       <div class="top">
        <div class="cbname"> <span class="cfnum">{{key+1}}</span><span>{{value.displayname}}</span></div>
        <div class="f parameter">
         <div class="c3 decrease bn" data-val='-5' data-connect='plus'>-</div>
         <div class="c6 input"><input type="number" name="plus" placeholder='{%trans "Plus"%}' step="5" min="0" max="1440"></div>
         <div class="c3 increase bp" data-val='10' data-connect='plus'>+</div>
        </div>
        <input type="hidden" name="user" value="{{value.user_id}}">
        <input type="hidden" name="type" value="enter">
       </div>
       <div class="bottom">
        <button class="btn b1">{%trans "Enter"%}</button>
       </div>
      </form>

      <form method="post" class="exit">
       <div class="top">
        <div class="cbname"> <span class="cfnum">{{key+1}}</span><span>{{value.displayname}}</span></div>
        <div class="tinfo">
         <div class="inOut">
          <span data-val='{{value.last_time}}' class='timeEnter'>{{value.last_time | tdate('H:m')}}</span>
          <span data-val='400' class='timeDiff'>{{"400" | fitNumber}}</span>
          <span data-val='{{"now" | tdate}}' class='timeNow'>{{"now" | tdate('H:m')}}</span>
         </div>
         <div class="timePlus" data-val='100'>{{"100" | fitNumber}}</div>
        </div>

        <div class="f parameter">
         <div class="c3 decrease bn" data-val='-5' data-connect='minus'>-</div>
         <div class="c6 input"><input type="number" name="minus" placeholder='{%trans "Minus"%}' step="5" min="0" max="1440"></div>
         <div class="c3 increase bp" data-val='10' data-connect='minus'>+</div>
        </div>
        <input type="hidden" name="user" value="{{value.user_id}}">
        <input type="hidden" name="type" value="exit">

        <div class="timePure" data-val='700'>{{"700" | fitNumber}}</div>
       </div>
       <div class="bottom">
        <button class="btn b2">{%trans "Exit"%}</button>
       </div>
      </form>



{%if false%}

   <div class="t-card-data">
    <span class="t-card-heading">Enter</span>
    <span class="t-card-value">14:30</span>
   </div>

   <div class="t-card-data">
    <span class="t-card-heading">Total</span>
    <span class="t-card-value">14:30</span>
   </div>

      <div class="t-card-back-top">
       <div class="t-card-back-name" data-number='{{key}}'>{{value.name}} {{value.family}}</div>

{%if value.last_time%}<div class="t-c-post">{{value.last_time}}</div>{%else%}<div class="t-c-post">:|</div>{%endif%}
   <form method="post" class="df">
     <input type="hidden" name="user" value="{{value.user_id}}">
     <input type="hidden" name="type" value="enter">
     <input type="submit" value="enter" >
   </form>


   <form method="post" class="df">
     <input type="hidden" name="user" value="{{value.user_id}}">
     <input type="hidden" name="type" value="exit">
     <input type="submit" value="exit" >
   </form>


      </div>

{%endif%}


     </div>
    </div>
   </div>


{%endfor%}
  </div>
{%endblock%}




{%block sideBox%}
<aside id='sidebar'></aside>
{%endblock%}



{%block headerBox%}{%endblock%}
