{%extends display.admin%}

{%use 'content/main/header-social.html'%}

{%block foot_js%}

 <script src="{{url.static}}{{'js/board.js' | filemtime(true)}}"></script>
{%endblock%}


{%block contentCenter%}
  <div class='middle f justify-center live normal' id="showMember">

{%for key, value in list_member%}
<a
  href             ='{{url.full}}{{url.class}}#{{(key+1)}}'
  class            ="vcard shadow mA10"
  data-overwrite   =true
  data-status      ='{{value.status}}'
  data-live        ='{{value.live}}'
  data-user        ={{value.user_id}}
  data-rfid        ="{{value.codes.rfid1}}"
  data-barcode     ="{{value.codes.barcode1}}"
  data-qrcode      ="{{value.codes.qrcode1}}"
  data-lasttimeend = "{{value.last_time_end}}"

{%if value.card_action%}

  data-modal='setTraffic'
  {%if value.allow_plus%}       data-allowPlus="true" {%else%}  data-allowPlus="false"  {%endif%}
  {%if value.allow_minus%}      data-allowMinus="true"{%else%}  data-allowMinus="false" {%endif%}
  {%if value.allow_desc_enter%} data-enterdesc="true" {%else%}  data-enterdesc="false"  {%endif%}
  {%if value.allow_desc_exit%}  data-exitdesc="true"  {%else%}  data-exitdesc="false"   {%endif%}

  {%if value.last_time%}data-enter='{{value.last_time| date("Y-m-d H:i:s") }}'{%endif%}
  {%if value.plus%}data-plus='{{value.plus}}'{%endif%}

{%endif%}>

    <img src='{%if value.file%}{{value.file}}{%else%}{{url.static}}siftal/images/useful/user1.png{%endif%}' alt='{{value.displayname}}'>


    <div class="content">
     <div class="header">{{value.displayname}}</div>
{%if value.postion%}     <div class="meta"><span>{{value.postion}}</span></div>{%endif%}

    </div>
   </a>
{%endfor%}

  </div>
  {{block('myModal')}}
  {%if not login%}
   <a class="line primary pA15 fs16" href='{{url.base}}/enter' data-direct>{%trans "Login to enjoy!"%}</a>
  {%endif%}

{%endblock%}




{%block sideBox%}
 <aside id='sidebar' class="scr">
  <h3 id="god">{% trans "In the Name of God" %}</h3>

  <div class="clock">
   <div class="time">-</div>
   <div class="date">{% if site.currentlang == "fa" %} {{"now"|jdate("l j F Y") |fitNumber}} {% else %} {{"now"|date("j F Y")}} {% endif %}</div>
  </div>

  <div id="logo">
   <img src="{{current_team.logo}}" alt='{{current_team.name}}'>
    <h1>{{current_team.name}}</h1>
  </div>

{%if current_team.event_date%}
  <div class="deadline {{current_team.event_class}}"  title='{{current_team.event_date | jdate("d/m/Y")}}'>
{%if current_team.event_title%}
   <div class="title">{{current_team.event_title}}</div>
{%endif%}
   <div class="info">
   {%if current_team.event_remain == '?' %}
    <time datetime="P{{current_team.event_date}}D" >{{current_team.event_remain}}</time>
   {%else%}
    <time datetime="P{{current_team.event_date}}D" class="counter" data-counter={{current_team.event_remain}}>-</time>
   {%endif%}
    <span>{%trans "days left"%}</span>
   </div>
  </div>
{%endif%}

    <h3 class="footer tejarak">
     <a href='{{url.base}}' tabindex='-1' target="_blank"><img src='{{url.static}}images/logo/svg/tejarak-logo.svg' alt='{{site.title}} | {{site.desc}}'><span>{{site.title}}</span></a>
    </h3>


 </aside>
{%endblock%}



{%block headerBox%}{%endblock%}


{%block facebookImages%}
 <meta property ="og:image"                content="{{current_team.logo}}"/>
 <meta property ="og:image:width"          content="512"/>
 <meta property ="og:image:height"         content="512"/>
{%endblock%}



{%block myModal%}
  <div class='modal fs14' id='setTraffic'>
   <div class='modal-dialog'>
    <h3 class='modal-title hide'>{%trans "Enter"%}</h3>
    <div class='modal-body f'>
      <div class='cauto s12'>
        <div class="vcard w200 mB10 mLRa">
          <img src="" alt="رضا محیطی">
          <div class="content">
           <div class="header">-</div>
           <div class="meta">-</div>
          </div>
        </div>
      </div>
      <div class='c w300 pLa20'>

       <form class="enter f" method="post">
        <input type="hidden" name="type" value="enter">
        <input type="hidden" name="user" value="#">
        <div class="c12 pB5 f" data-allowplus>
         <div class="input lg">
          <span class="addon btn danger" data-val='-5' data-connect='plus'>-</span>
          <input type="number" name="plus" placeholder='{%trans "Mission Time"%}' class="txtc input" step="5" min="0" max="1440">
          <span class="addon btn success" data-val='10' data-connect='plus'>+</span>
         </div>
        </div>
        <div class="c12 pTB5" data-onTheMission>
         <a class="btn secondary block" data-val='1300' data-connect='plus'>{%trans "I was on the mission"%}</a>
        </div>
        <div class="c12 pTB5" data-enterdesc>
         <textarea class="txt" name='desc' rows="2" maxlength="100" placeholder='{%trans "Description"%}' data-enterdesc></textarea>
        </div>
        <div class="c12 pT20">
         <button class="btn info block" data-ok>{%trans "Enter"%}</button>
        </div>
       </form>

       <form class="exit f" method="post">
        <div class="tinfo c12">
         <div class="inOut">
          <span data-val='{{value.last_time| date("Y-m-d H:i:s") }}' class='timeEnter'>{{value.last_time | tdate('H:i')}}</span>
          <span data-val='400' class='timeDiff'>-</span>
          <span class='timeNow'>Now</span>
         </div>
         {%if value.plus%}<div class="timePlus" data-val='100'>{{value.plus | fitNumber}}</div>{%else%}{%endif%}
        </div>

        <input type="hidden" name="type" value="exit">
        <input type="hidden" name="user" value="#" data-user>
        <div class="c12 pB5 f" data-allowminus>
         <div class="input lg">
          <span class="addon btn danger" data-val='-5' data-connect='minus'>-</span>
          <input type="number" name="minus" placeholder='{%trans "Personal work"%}' class="txtc input" step="5" min="0" max="1440">
          <span class="addon btn success" data-val='10' data-connect='minus'>+</span>
         </div>
        </div>
        <div class="c12 pTB5" data-exitdesc>
         <textarea class="txt" name='desc' rows="2" maxlength="100" placeholder='{%trans "Description"%}' data-exitdesc></textarea>
        </div>
        <div class="c12 pT20">
         <button class="btn secondary block" data-ok>{%trans "Exit"%}</button>
        </div>
       </form>

      </div>
    </div>
  </div>
 </div>
{%endblock%}
