{%extends display.admin%}

{%use 'content/main/header-social.html'%}


{%block contentCenter%}
  <div class='middle f justify-center op0' id="showMember">

{%for key, value in list_member%}
   <a href='{{url.full}}{{url.class}}#{{(key+1)}}'
  class="vcard shadow mA10"
  data-status='{{value.status}}'
  data-live='{%if value.last_time%}on{%else%}off{%endif%}'
  data-user={{value.user_id}}
{%if value.card_action%}
  {%if value.allow_plus%}data-allowPlus{%endif%}
  {%if value.allow_minus%}data-allowMinus{%endif%}
  {%if value.last_time%}data-enter='{{value.last_time| date("Y-m-d H:i:s") }}'{%endif%}
  {%if value.plus%}data-plus='{{value.plus}}'{%endif%}
{%endif%}>

{%if value.file%}    <img src='{{value.file}}' alt='{{value.displayname}}'>{%else%}<i class="sf-user"></i>{%endif%}

    <div class="content">
     <div class="header">{{value.displayname}}</div>
{%if value.postion%}     <div class="meta"><span>{{value.postion}}</span></div>{%endif%}

    </div>
   </a>
{%endfor%}

  </div>
{%endblock%}




{%block sideBox%}
 <aside id='sidebar' class="scr">
  <h3 id="god">{% trans "In the Name of God" %}</h3>
  <div class="dateTime" data-val-start='{{ "now"| date("Y-m-d H:i:s") }}'>
   <div class="time"><span class="hour">{{ "now"|date("H") |fitNumber }}</span>:<span class="minute">{{ "now"|date("i") |fitNumber }}</span>:<span class="second">{{ "now"|date("s") |fitNumber}}</span></div>
   <div id="date">{% if site.currentlang == "fa" %} {{"now"|jdate("l j F Y") |fitNumber}} {% else %} {{"now"|date("l j F Y")}} {% endif %}</div>
  </div>
  <div id="logo">
   <img src="{{current_team.logo}}" alt='{{current_team.name}}'>
    <h1>{{current_team.name}}</h1>
  </div>
 </aside>
{%endblock%}



{%block headerBox%}{%endblock%}


{%block facebookImages%}
 <meta property ="og:image"                content="{{current_team.logo}}"/>
 <meta property ="og:image:width"          content="512"/>
 <meta property ="og:image:height"         content="512"/>
{%endblock%}