/* header*/
.site-header{height:60px;font-weight:700;font-size:1.2em;}
.site-header .logo{transition:0.3s}
.site-header .logo h1{display:none}
.site-header .logo img{height:60px;width:auto;padding:10px 1em;display:block;}
.site-header .logo:hover{opacity:0.8}
.site-header nav{}
.site-header a{padding:0 1em;line-height:60px;color:#333;display:inline-block;transition:0.3s}
.site-header nav a:hover{background-color:rgba(255,255,255,0.6);}
.site-header .btn{margin:10px;line-height:40px;color:#eee}

/* default btn*/
.btn{background-color:#333;border-radius:3px;line-height:40px;height:40px;color:#eee;padding:0 2em;margin:0 1em;display:inline-block;}
.btn:hover{background-color:#222;}
.btn:focus{background-color:#111;color:#fff;}

/* pages style*/
.page-block{margin:5em 0;font-size:1.2em}
/* section head*/
.tile{padding:5em 0;width:100%;overflow:hidden;text-align:center;}
/* pad*/
.p{padding:5em 0;}
.ps{padding:2em 0;}
.pl{padding:7em 0;}
.px{padding:10em 0;}
.pa{padding:5em;}
.pas{padding:2em;}
.pal{padding:7em;}
.pax{padding:10em;}

/* tile*/
.tile h2{margin:0;font-size:3em;color:#333}
.rtl .tile h2{font-weight:700;}
.tile h3{margin:0;font-weight:200;color:#888;padding:0 15%;}
.tile h4{margin:0;font-weight:200;color:#999;padding:0 15%;}
/*content*/
.content{color:#333;}
.content p{font-size:1.2em;line-height:2em;margin-bottom:2em;}
.rtl .content p{text-align:justify;}
/* bg*/
.bg-white{background-color:#fff;}
.bg-gray{background-color:#eee;}
.bg-gray2{background-color:#ddd;}
.bg-dark{background-color:#333;}
/* table style*/
.dt > div{transition:0.3s;}
.dt > div > div{padding:1em 1em;}
.dt > .th{background-color:rgba(255,255,255,0.2);}
.dt > div:hover{background-color:rgba(0,0,0, 0.1);}
/* align left*/
.al{text-align:left;}
.ar{text-align:right;}
.ac{text-align:center;}
.rtl .al{text-align:right;}
.rtl .ar{text-align:left;}
/* getStarted*/
.getStarted{min-width:300px;width:400px;margin:1em auto;font-size:1.5em;}
.getStarted form{height:50px;}
.getStarted input.c{height:100%;background-color:#fff;border:1px solid #4070c0;line-height:50px;padding:0 1em;color:#777}
.getStarted button.c{height:100%;background-color:#4070c0;border:none;color:#eee;padding:0;line-height:50px;max-width:150px;transition:0.3s}
.getStarted button.c:hover{background-color:#2957a5}
.getStarted button.c:focus{background-color:#2957a5;color:#fff;}
.getStarted p{padding:1em 0;color:#888;font-size:0.8em}
/* enterprise box*/
#offer-enterprise{font-size:1.8em;background-color:#50b0b0;}
#offer-enterprise h3{margin-bottom:0.5em}
#offer-enterprise .btn{height:50px;line-height:50px;}
#offer-enterprise h2{color:#fff;}
#offer-enterprise h3{color:#eee;padding:0}
#offer-enterprise h4{color:#ddd;padding:0}

/* footer*/
.site-footer{font-size:1.2em;padding:3em 0;}
.site-footer a{color:#888;transition:0.3s;}
.site-footer nav a:hover{color:#eee}
.site-footer nav a:focus{color:#fff}
/* footer top nav*/
.site-footer .top{border-bottom:1px solid #e5a428;font-size:1.3em;font-weight:900;position:relative}
.site-footer .top a{display:inline-block;padding:1.2em .5em;color:#aaa;margin-right:1.5em;}
.rtl .site-footer .top a{margin-right:0;margin-left:1.5em}
/* footer-links*/
.site-footer .middle{font-size:1.2em;border-bottom:1px solid #e5a428;padding:2em 0}
.site-footer .middle h4{font-weight:500;color:#ccc;margin-bottom:5px;font-size:1.1em}
.site-footer .middle nav a{display:block;padding:0.5em 0}
.site-footer .middle .enamad{min-width:150px;padding:1em 0}
.site-footer .middle .enamad a{display:block;max-width:90px;padding:0;position:relative;}
.site-footer .middle .enamad img{display:block;max-width:100%;background-color:#eaeae9;padding:0.5em 0}
.site-footer .middle .enamad a:before{content:"";position:absolute;top:-4px;right:0;left:0;height:4px;background-image:url(../images/cert/footer-box.svg);background-repeat:repeat-x;}
.site-footer .middle .enamad a:after{content:"";position:absolute;bottom:-4px;right:0;left:0;height:4px;background-image:url(../images/cert/footer-box.svg);background-repeat:repeat-x;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
/* footer-note*/
.site-footer .bottom{padding:2em 0;color:#aaa}
.site-footer .bottom .langlist{display:inline-block}
.site-footer .bottom .langlist a{background-color:rgba(0,0,0,0.1);color:#aaa;padding:1em 2em;display:inline-block;-webkit-transition:.3s;-o-transition:.3s;-moz-transition:.3s;transition:.3s;border-radius:2px}
.site-footer .bottom .langlist a:hover,.site-footer .bottom .langlist a:focus{background-color:rgba(0,0,0,0.4);color:#ddd;}
.site-footer .bottom .love{text-align:right;text-transform:uppercase}
.site-footer .bottom .love a:hover,.site-footer .bottom .love a:focus{color:#fff}
.site-footer .bottom .counter{font-weight:700;text-align:center;text-transform:uppercase}
.site-footer .bottom{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.site-footer .bottom .counter,.site-footer .bottom .love{padding:1em 0}
.rtl .site-footer .bottom .love{text-align:left}
.site-footer .socialbox>a{background-color:rgba(0,0,0,0.1);padding:0}
/* xaccess*/
.site-footer #xaccess{position:fixed;left:0;bottom:17%;z-index:3;}
.site-footer #xaccess a{display:block;background-color:#000;opacity:0.3;padding:0.5em 1em;transition:0.3s;margin-top:0.2em;margin-right:2em;color:#fff;}
.site-footer #xaccess a:hover{opacity:0.8;padding:0.5em 2em;margin-right:0;}
.rtl .site-footer #xaccess{right:0;left:initial;}
.rtl .site-footer #xaccess a{right:0;left:initial;margin-right:0;margin-left:2em;}
.rtl .site-footer #xaccess a:hover{margin-right:0;margin-left:0;}

/* sharebox*/
.sharebox>a{display:inline-block;background-color:#aaa;width:2.2em;height:2.2em;line-height:2.2em;text-align:center;color:#fff !important;-webkit-transition:.3s ease;-o-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;border-radius:2px}
.rtl .sharebox>a:not(:last-child){margin-right:0;margin-left:.3em}
.ltr .sharebox>a:not(:last-child){margin-right:.3em;margin-left:0}
.sharebox>a span:first-child{display:none}
.sharebox>a span:last-child{line-height:inherit}
.sharebox>a.twitter:hover,.sharebox>a.twitter:focus{background-color:#1da1f2}
.sharebox>a.rss:hover,.sharebox>a.rss:focus{background-color:#f26522}
.sharebox>a.telegram:hover,.sharebox>a.telegram:focus{background-color:#0088cc}
.sharebox>a.gplus:hover,.sharebox>a.gplus:focus{background-color:#dd4b39}
.sharebox>a.facebook:hover,.sharebox>a.facebook:focus{background-color:#3b5998}
.sharebox>a.linkedin:hover,.sharebox>a.linkedin:focus{background-color:#0077b5}
.sharebox i{font-size:1.2em;vertical-align:middle;color:inherit}
/* default form style*/
.df button{border:none}
.df textarea{min-height:100px;height:150px;max-height:500px;}
/*vcard*/
.vcard{font-style:normal}
.vcard .adr{padding:1em}
.vcard .adr div, .vcard .adr span, .vcard .email, .vcard .tel{display:block;padding:0.5em}
.vcard .adr span{display:inline-block;}
/* list*/
.page-block ul.list{margin:3em 5%;}
.page-block ul.list li{font-size:1.1em;line-height:2em;transition:0.3s}
.page-block ul.list li:hover{background-color:rgba(0,0,0,0.1);}









/* admin custom styles*/
body{background-image:url(../images/shattered_@2X.png);background-repeat:repeat}

.setup-card-box{margin-bottom:10vh}

.setup-card-box .setup-card-indicator{text-align:center;padding:2em 0 0}
.setup-card-box .setup-card-indicator span{display:inline-block;vertical-align:middle;width:10px;height:10px;background-color:#eee;border-radius:50%}
.setup-card-box .setup-card-indicator span.done{background-color:#fff;box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)}

.setup-card{background-color:#fff;box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);border-radius:2px}
.setup-card{width:50em;height:30em;padding:2rem}

.setup-card h2,.setup-card h3{width:100%;text-align:center}
.setup-card h2{font-size:2em;margin-bottom:2rem;line-height:2em}
.setup-card h3{font-size:1.618rem;font-weight:normal;line-height:1.618;margin-bottom:1.618rem}
.setup-card h3 label{display:inherit;text-align}

.setup-card form{width:100%}
.setup-card .form-group.form-group-padding [class*='c']{padding:.25rem}
.setup-card .form-group input{display:block;width:100%;margin:0}

.setup-card input[type='file']{position:absolute;z-index:-1;width:0;height:0;opacity:0}

.setup-card .avatar-upload{display:block;width:100px;height:100px;margin:3px auto 0;padding:0;background-color:#eaeaea;overflow:hidden}
.setup-card .avatar-upload .default-avatar{margin-top:10px}

/* default style of button*/
.df-button{font-size:1.2em;line-height:2em;padding:1em 2em;cursor:pointer;transition:.3s;color:#fff;border:none;background-color:#eaeaea;background-color:#37aaa7}
.df-button:hover{background-color:#0fa09f;}
.df-button:focus{background-color:#309090}








/* card */
.t-card-box{margin:2em;-webkit-perspective:1000px;perspective:1000px}
.t-card-box:not(.t-card-fix):hover .t-card{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}
.t-card-box,.t-card,.t-card-front,.t-card-back{width:180px;height:250px}
.t-card{position:relative;-webkit-transition:.6s;-webkit-transition:.6s;transition:.6s;background-color:white;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.t-card-front,.t-card-back{position:absolute;top:0;left:0;background-color:#fff;-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.t-card-front{z-index:2;-webkit-transform:rotateY(0deg);transform:rotateY(0deg)}
.t-card-back{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;flex-direction:column;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;-moz-box-pack:justify;justify-content:space-between}

.t-card .t-card-img{position:relative;overflow:hidden;height:180px}
.t-card .t-card-img::before{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;content:''}
.t-card .t-card-img img{display:block;height:100%}

.t-card .t-card-bottom{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;flex-direction:column;height:70px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center}
.t-card .t-card-bottom .t-card-name,.t-card .t-card-bottom .t-card-post{overflow:hidden;;width:100%;max-width:100%;text-align:center;white-space:nowrap;text-overflow:ellipsis}
.t-card .t-card-bottom .t-card-name{font-size:1.25em;font-weight:700;margin-top:.25rem;padding:0 1rem}
.t-card .t-card-bottom .t-card-post{font-size:1.1em;margin-top:1rem;padding:0 1rem}

.t-card-back .t-card-back-name{font-size:1.1em;overflow:hidden;max-width:100%;padding:1rem 1rem 0 1rem;white-space:nowrap;text-overflow:ellipsis}
.t-card-back .t-card-back-name::before{display:inline-block;margin-right:.5rem;padding:.4rem .5rem .1rem;content:attr(data-number);text-align:center;vertical-align:baseline;color:#fff;border-radius:2px;background-color:#009688;text-shadow:0 0 1px #ccc}
.rtl .t-card-back .t-card-back-name::before{margin-right:0;margin-left:.5rem}

.t-card .t-card-data{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;margin:0 1rem 1rem;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;-moz-box-pack:justify;justify-content:space-between}
.t-card .t-card-heading{font-size:1.25em;font-weight:700}
.t-card div.t-card-heading{margin:1rem 1rem .5rem}
.t-card .t-card-value{display:block;font-size:1.2em;text-align:center}

.t-card .time-module{overflow:hidden;margin:0 1rem 1rem;border-radius:2px}
.t-card .time-module .time-module-input{overflow:hidden}
.t-card .time-module .time-module-input input{font-size:1.5em;max-width:100%;height:100%;text-align:center;color:#333;border:none;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;outline:none;background-color:#eee}
.t-card .time-module .time-module-minus,.t-card .time-module .time-module-plus{font-size:2em;font-weight:bold;line-height:4rem;width:4rem;height:4rem;cursor:pointer;text-align:center;color:#f4f4f4}
.t-card .time-module .time-module-minus{background-color:#ef3a07}
.t-card .time-module .time-module-plus{background-color:#3ca541}

.t-card .btn{display:block;margin-bottom:1rem}

.t-card-add .t-card .t-card-front{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center;background-color:#eee}
.t-card-add .t-card .t-card-add-plus{font-size:10em;border-radius:50%;display:block;text-align:center;color:#666;margin-top:20px}
