body{background-image:url(../images/shattered_@2X.png);background-repeat:repeat}

.setup-card-box{margin-bottom:10vh}

.setup-card-box .setup-card-indicator{text-align:center;padding:2em 0 0}
.setup-card-box .setup-card-indicator span{display:inline-block;vertical-align:middle;width:10px;height:10px;background-color:#eee;border-radius:50%}
.setup-card-box .setup-card-indicator span.done{background-color:#fff;box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)}

.setup-card{background-color:#fff;box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);border-radius:2px}
.setup-card{width:50em;height:30em;padding:2rem}

.setup-card h2,.setup-card h3{width:100%;text-align:center}
.setup-card h2{font-size:2em;margin-bottom:2rem;line-height:2em}
.setup-card h3{font-size:1.618rem;font-weight:normal;line-height:1.618;margin-bottom:1.618rem}
.setup-card h3 label{display:inherit;text-align}

.setup-card form{width:100%}
.setup-card .form-group.form-group-padding [class*='c']{padding:.25rem}
.setup-card .form-group input{display:block;width:100%;margin:0}

.setup-card input[type='file']{position:absolute;z-index:-1;width:0;height:0;opacity:0}

.setup-card .avatar-upload{display:block;width:100px;height:100px;margin:3px auto 0;padding:0;background-color:#eaeaea;overflow:hidden}
.setup-card .avatar-upload .default-avatar{margin-top:10px}

/* default style of button */
.df-button{font-size:1.2em;line-height:2em;padding:1em 2em;cursor:pointer;transition:.3s;color:#fff;border:none;background-color:#eaeaea;background-color:#37aaa7}
.df-button:hover{background-color:#0fa09f;}
.df-button:focus{background-color:#309090}
