
/* page loading effect*/
#theader .logo img{transition:0.1s;-webkit-animation-duration:0.5s;animation-duration:0.5s;-webkit-animation-timing-function:cubic-bezier(.43, .84, .61, .14);animation-timing-function:cubic-bezier(.43, .84, .61, .14);-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
body.loading-page #theader .logo img{padding:10px;-webkit-animation-name:spin;animation-name:spin;opacity:0.7}

/* header*/
#theader{height:60px;font-size:1.2em;overflow:hidden;background-color:rgba(255,255,255,0.5);}
#theader .logo{transition:0.3s;padding:0;margin:0;font-weight:700;}
#theader .logo a{padding:0 1em}
#theader .logo h1{display:inline-block;margin:0;line-height:60px;}
#theader .logo img{height:60px;width:60px;padding:5px 5px;}
#theader .logo:hover{opacity:0.8}
#theader .logo a:focus{opacity:0.6;}
#theader nav{}
#theader a{padding:0 1em;line-height:60px;color:#333;display:inline-block;transition:0.3s}
#theader nav a:hover{background-color:rgba(255,255,255,0.5);}
#theader nav a:focus{background-color:rgba(255,255,255,0.8);}
#theader .btn{margin:10px;line-height:40px;color:#eee;padding:0 2em}
#theader .btn:hover{background-color:#333;}
#theader .btn:focus{background-color:#000;}

.vflex{min-height:100vh;display:flex;flex-direction:column;}
.wrapper{flex:1;}

/* default btn*/
.btn{background-color:#555;border-radius:3px;line-height:40px;height:40px;color:#eee;padding:0 2em;margin:0 1em;display:inline-block;transition:0.3s;border:none;}
.btn:hover{background-color:#333;}
.btn:focus{background-color:#000;color:#fff;}

/* pages style*/
.page-block{padding:5em 0;font-size:1.2em}
/* section head*/
.tile{padding:5em 0;width:100%;overflow:hidden;text-align:center;}
/* pad*/
.p{padding:5em 0;}
.ps{padding:2em 0;}
.pl{padding:7em 0;}
.px{padding:10em 0;}
.pa{padding:5em;}
.pas{padding:2em;}
.pal{padding:7em;}
.pax{padding:10em;}
/* page content*/
.pc{font-size:1.2em;background-color:#eee;color:#333;}
.pc p{font-size:1.2em;line-height:2em;margin-bottom:2em;}
.rtl .pc p{text-align:justify;}
.pricingTable{text-align:center;color:#888}
.pricingTable .th{font-weight:700}
.pricingTable .gh{font-weight:700;background-color:rgba(255,255,255, 0.3);}
.pricingTable .price .c{font-size:1.4em;font-weight:500;color:#333}
.ltr .pricingTable .c4, .ltr .pricingTable .c12{text-align:left}
.rtl .pricingTable .c4, .rtl .pricingTable .c12{text-align:right;}
body .pc .em{font-weight:bold;text-align:center;padding:1em 5%;background-color:#ddd;}
/* faq design*/
.faq h3{margin:0;}
.faq ul{margin-bottom:5em;}
.faq li{transition:0.3s;padding:1em; margin-bottom:1em;border-radius:3px}
.faq li:hover{background-color:#aabf40}
.faq li p{margin:0}

/* list*/
.pc ul.list{margin:3em 5%;}
.pc ul.list li{font-size:1.1em;line-height:2em;transition:0.3s}
.pc ul.list li:hover{background-color:#aabf40;}
.pc h3{font-size:3em;}
.pc h4{font-size:1.5em;margin-bottom:0}

/* tile*/
.tile h2{margin:0;font-size:3em;color:#333}
.rtl .tile h2{font-weight:700;}
.tile h3{margin:0;font-weight:200;color:#888;padding:0 15%;}
.tile h4{margin:0;font-weight:200;color:#999;padding:0 15%;}
/* bg*/
.bg-white{background-color:#fff;}
.bg-gray{background-color:#eee;}
.bg-gray2{background-color:#ddd;}
.bg-dark{background-color:#333;}
/* table style*/
.dtc > div{transition:0.3s;}
.dtc > div > *{padding:1em 1em;}
.dtc > .th{background-color:rgba(0,0,0,0.1);}
.dtc > div:hover{background-color:#aabf40;color:#fff}
/* align left*/
.al{text-align:left;}
.ar{text-align:right;}
.ac{text-align:center;}
.rtl .al{text-align:right;}
.rtl .ar{text-align:left;}
/* getStarted*/
.getStarted{min-width:300px;max-width:400px;margin:1em auto;font-size:1.5em;}
.getStarted form{height:50px;}
.getStarted input.c{height:100%;background-color:#fff;border:1px solid #4070c0;line-height:50px;padding:0 1em;color:#777}
.getStarted button.c{height:100%;background-color:#4070c0;border:none;color:#eee;padding:0;line-height:50px;max-width:150px;transition:0.3s}
.getStarted button.c:hover{background-color:#2957a5}
.getStarted button.c:focus{background-color:#2957a5;color:#fff;}
.getStarted p{padding:1em 0;color:#888;font-size:0.8em}
/* enterprise box*/
#offer-enterprise{font-size:1.5em;background-color:#4070c0;}
#offer-enterprise h3{margin-bottom:0.5em}
#offer-enterprise .btn{height:50px;line-height:50px;}
#offer-enterprise h2{color:#fff;}
#offer-enterprise h3{color:#eee;padding:0}
#offer-enterprise h4{color:#ddd;padding:0}
#offer-enterprise-small{background-color:#fff;background-color:#4070c0;text-align:initial;padding:2em}
#offer-enterprise-small h3, #offer-enterprise-small h4{padding:0 5%;color:#fff}
#offer-enterprise-small .btn{padding:0 5em;}

#plans{
  background-image:url(../images/pattern/confectionary.png);
  /*background-image:url(../images/pattern/dark-triangles.png);*/
  /*background-image:url(../images/pattern/pinkdust.png);*/
  /*background-image:url(../images/pattern/Sports.png);*/
  /*background-image:url(../images/pattern/weather.png);*/
  /*background-image:url(../images/pattern/zigzagwool.png);*/
}

#plans .cn{width:80%}

#plans .plans-card{background-color:#fff;box-shadow:0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);border-radius:2px;margin:0 auto;padding:2em 1em;border-radius:2px;width:94%;height:100%;max-width:250px;min-height:400px}
#plans .plans-card h4{padding:0;padding-bottom:1.5rem;margin:0 1rem;font-size:2em;line-height:2em;color:#333;border-bottom:1px solid #ccc}

#plans .plans-card .plans-card-learn-more{font-size:1.4em;display:block;margin-bottom:2rem;text-align:center;color:#fff}
#plans .plans-card .btn{font-size:1.618rem;border-radius:2px;color:#fff !important}

#plans .plans-card .plans-card-price{height:120px}
#plans .plans-card .plans-card-price-box{font-size:3em;color:#333;font-weight:100}

#plans .plans-card .plans-card-price .plans-card-price-unit{font-size:1.25rem;vertical-align:top}

#plans .plans-card .plans-card-user-month{font-size:1.618em;font-weight:100;color:#666;margin-top:1rem}

#plans .plans-card .plans-card-content{font-size:1.25em;line-height:1.85em;padding:0 1rem;text-align:left;color:#333}
.rtl #plans .plans-card .plans-card-content{text-align:right}

#plans .plans-card.plan-enterprise .plans-card-price-box{font-size:2.4em}


/* footer*/
#tfooter{font-size:1.2em;padding:3em 0;background-color:#333;}
#tfooter a{color:#888;transition:0.3s;}
#tfooter nav a:hover{color:#eee}
#tfooter nav a:focus{color:#fff}
/* footer top nav*/
#tfooter .top{border-bottom:1px solid #4070c0;font-size:1.3em;font-weight:900;position:relative}
#tfooter .top a{display:inline-block;padding:1.2em .5em;color:#aaa;margin-right:1.5em;}
.rtl #tfooter .top a{margin-right:0;margin-left:1.5em}
/* footer-links*/
#tfooter .middle{font-size:1.2em;border-bottom:1px solid #4070c0;padding:2em 0}
#tfooter .middle h4{font-weight:500;color:#ccc;margin-bottom:5px;font-size:1.1em}
#tfooter .middle nav a{display:block;padding:0.5em 0}
#tfooter .middle .enamad{min-width:150px;padding:1em 0}
#tfooter .middle .enamad a{display:block;max-width:90px;padding:0;position:relative;}
#tfooter .middle .enamad a:focus{background-color:#ccc}
#tfooter .middle .enamad img{display:block;max-width:100%;background-color:#eee;padding:0.5em 0}
#tfooter .middle .enamad a:before{content:"";position:absolute;top:-4px;right:0;left:0;height:4px;background-image:url(../images/cert/footer-box.svg);background-repeat:repeat-x;}
#tfooter .middle .enamad a:after{content:"";position:absolute;bottom:-4px;right:0;left:0;height:4px;background-image:url(../images/cert/footer-box.svg);background-repeat:repeat-x;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
/* footer-note*/
#tfooter .bottom{padding:2em 0;color:#aaa}
#tfooter .bottom .langlist{display:inline-block}
#tfooter .bottom .langlist a{background-color:rgba(0,0,0,0.1);color:#aaa;padding:1em 2em;display:inline-block;-webkit-transition:.3s;-o-transition:.3s;-moz-transition:.3s;transition:.3s;border-radius:2px}
#tfooter .bottom .langlist a:hover,#tfooter .bottom .langlist a:focus{background-color:rgba(0,0,0,0.4);color:#ddd;}
#tfooter .bottom .love{text-align:right;text-transform:uppercase}
#tfooter .bottom .love a:hover,#tfooter .bottom .love a:focus{color:#fff}
#tfooter .bottom .counter{font-weight:700;text-align:center;text-transform:uppercase}
#tfooter .bottom{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
#tfooter .bottom .counter,#tfooter .bottom .love{padding:1em 0}
.rtl #tfooter .bottom .love{text-align:left}
#tfooter .socialbox>a{background-color:rgba(0,0,0,0.1);padding:0}
/* xaccess*/
#tfooter #xaccess{position:fixed;left:0;bottom:17%;z-index:3;}
#tfooter #xaccess a{display:block;background-color:#000;opacity:0.3;padding:0.5em 1em;transition:0.3s;margin-top:0.2em;margin-right:2em;color:#fff;}
#tfooter #xaccess a:hover{opacity:0.8;padding:0.5em 2em;margin-right:0;}
.rtl #tfooter #xaccess{right:0;left:initial;}
.rtl #tfooter #xaccess a{right:0;left:initial;margin-right:0;margin-left:2em;}
.rtl #tfooter #xaccess a:hover{margin-right:0;margin-left:0;}

/* sharebox*/
.sharebox>a{display:inline-block;background-color:#aaa;width:2.2em;height:2.2em;line-height:2.2em;text-align:center;color:#fff !important;-webkit-transition:.3s ease;-o-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;border-radius:2px}
.rtl .sharebox>a:not(:last-child){margin-right:0;margin-left:.3em}
.ltr .sharebox>a:not(:last-child){margin-right:.3em;margin-left:0}
.sharebox>a span:first-child{display:none}
.sharebox>a span:last-child{line-height:inherit}
.sharebox>a.twitter:hover,.sharebox>a.twitter:focus{background-color:#1da1f2}
.sharebox>a.rss:hover,.sharebox>a.rss:focus{background-color:#f26522}
.sharebox>a.telegram:hover,.sharebox>a.telegram:focus{background-color:#0088cc}
.sharebox>a.gplus:hover,.sharebox>a.gplus:focus{background-color:#dd4b39}
.sharebox>a.facebook:hover,.sharebox>a.facebook:focus{background-color:#3b5998}
.sharebox>a.linkedin:hover,.sharebox>a.linkedin:focus{background-color:#0077b5}
.sharebox i{font-size:1.2em;vertical-align:middle;color:inherit}

/*vcard*/
.vcard{font-style:normal}
.vcard .adr{padding:1em}
.vcard .adr div, .vcard .adr span, .vcard .email, .vcard .tel{display:block;padding:0.5em}
.vcard .adr span{display:inline-block;}












/* admin custom styles*/
body{background-image:url(../images/shattered_@2X.png);background-repeat:repeat;background-color:#eee;}

/*billing*/
.box{background-color:#eee;padding:4em;margin:1em;font-size:1.2em;border-radius:3px;}
.box.mh{min-height:150px;}
.box.nh{min-height:200px;}
.box h2{display:inline-block;margin:0}
.box h3{display:inline-block;margin:0}
.box h4{display:inline-block;margin:0}
.box h3 sup{color:#999}
.box .btn{width:100%;margin:0;margin-top:2em;}
.box .gateways label{padding:1em;position:relative;cursor:pointer;}
.box .gateways label img{width:74px;height:74px;padding:1em;border:2px solid transparent;transition:0.3s;background-color:rgba(255,255,255,0.3)}
.box .gateways label input{position:absolute;width:0;height:0;overflow:hidden;z-index:-1;}
.box .gateways label input:checked+img{border-color:#37aaa7;background-color:rgba(255,255,255,0.6)}
.box .gateways label input:hover+img{opacity:0.8}
.box .gateways label input:focus+img{background-color:#fff;}
.box p{margin-bottom:1em;}
.box .singleInput{border:1px solid #4070c0;margin:1em;font-size:1.2em;border-radius:3px;}
.box .singleInput label{cursor:default;padding:1em 1em;line-height:30px;}
.box .singleInput input{width:100%;padding:0 2%;min-height:50px;border:none;font-size:1.5em;font-weight:100;}
.box .singleInput button{max-width:200px;margin:0;border:none;background-color:#4070c0;color:#eee;cursor:pointer;transition:0.3s}
.box .singleInput button:hover{opacity:0.8;}
.box .singleInput button:focus{opacity:1;background-color:#2957a5;}
.box .tbl{font-size:1.2em}



/* setup process*/
#setup{width:100%;max-height:100%;}
#setup .dbox{width:500px;min-height:300px;margin-bottom:1em}
#setup h2{margin-bottom:1em;text-align:center;}
#setup h3{font-size:1.6rem;font-weight:normal;line-height:1.6;margin-bottom:1em}
#setup h3 label{display:inherit;text-align}
#setup .logo{display:block;max-width:5em;margin:0 auto 4em;-webkit-animation-name:spin;animation-name:spin;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:cubic-bezier(.43, .84, .61, .14);animation-timing-function:cubic-bezier(.43, .84, .61, .14);-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
#setup .logo img{display:block}
#setup .setup-step{text-align:center;padding:2em 0}
#setup .setup-step span{display:inline-block;vertical-align:middle;width:1.5em;height:1.5em;background-color:#aaa;border-radius:50%;margin:0 0.2em;}
#setup .setup-step span.done{background-color:#8aad1f;}

#setup.step2 .b1{margin-top:2em;}


@-webkit-keyframes spin{from{-webkit-transform:rotate(0deg)} to{-webkit-transform:rotate(360deg)}}
@keyframes spin{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)} to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}







/* tejarak member cards */
#showMember{width:auto;text-align:center;}



/*card detail*/
.tcard{cursor:pointer;margin:10px;-webkit-perspective:1000px;perspective:1000px;width:180px;height:240px;display:inline-block;overflow:auto;}
.tcard.flipped .cbox{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}
.tcard .cbox{width:100%;height:100%;position:relative;-webkit-transition:.6s;-webkit-transition:.6s;transition:.6s;background-color:white;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.tcard .cbox>*{position:absolute;top:0;left:0;bottom:0;right:0;background-color:#fff;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.tcard .front{z-index:2;-webkit-transform:rotateY(0deg);transform:rotateY(0deg)}
.tcard .back{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;flex-direction:column;-webkit-transform:rotateY(180deg);transform:rotateY(180deg);-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;-moz-box-pack:justify;justify-content:space-between}
.tcard .top{position:relative;overflow:hidden;height:180px;background-color:#eee;display:block;}
.tcard .front .top::before{position:absolute;top:0;right:0;bottom:0;left:0;width:100%;height:100%;content:''}
.tcard .front .top i{display:block;text-align:center;font-size:14rem;color:#777;opacity:0.2}
.tcard .front .top i::before{vertical-align:bottom;}
.tcard .front .top img{display:block;height:100%}
.tcard .back .top{background-color:#fff;}
.tcard .cfdetail{position:absolute;top:0;left:0;padding:10px}
.tcard .cfnum{position:relative;padding:3px 5px 1px;text-align:center;color:#fff;border-radius:3px;background-color:#009688;height:20px;line-height:16px;}
.tcard .cfinfo{height:60px;font-size:1.1em;color:#777;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center}
.tcard .cfinfo>*{overflow:hidden;width:100%;max-width:100%;text-align:center;white-space:nowrap;text-overflow:ellipsis;}
.tcard .cfinfo .cfname{font-size:1.25em;font-weight:700;margin-top:3px;padding:0 10px;color:#333;}
.tcard .cfinfo .cfpos{margin-top:5px;padding:0 10px;}

.tcard.add .plus{font-size:10em;display:block;text-align:center;color:#666;height:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-align:center;align-items:center;background-color:#eee}
.tcard .back .cbname{font-size:1.1em;overflow:hidden;max-width:100%;padding:10px 10px 0 10px;white-space:nowrap;text-overflow:ellipsis;text-align:initial;}
.tcard .back .cfnum{display:inline-block;margin-right:5px;}
.tcard .btn{display:block;margin:10px;width:160px;}


/*rtl desing*/
.rtl .tcard .cfdetail{right:0;left:auto}
.rtl .tcard .back .cbname::before{margin-right:0;margin-left:5px}

/*card status*/
.tcard[data-live='on'] .cfnum:before{content:'';position:absolute;top:0;bottom:0;right:0;left:0;border-radius:50%;animation:pulseOn 1.25s infinite cubic-bezier(0.66,0,0,1);box-shadow:0 0 0 0 rgba(15,161,166,0.7);}
.tcard[data-live='off']{opacity:0.7;}
.tcard[data-live='off'] .cfnum{background-color:rgba(204,169,44,0.4)}
.tcard[data-live='off'] .cfnum:before{content:'';position:absolute;top:0;bottom:0;right:0;left:0;border-radius:50%;animation:pulseOff 2s infinite;box-shadow:0 0 0 rgba(204,169,44,0.4);}
.tcard[data-status='deactive']{opacity:0.3;cursor:not-allowed}
.tcard[data-status='deactive'] .cfnum{background-color:#e0e1e2}
.tcard[data-live='on'] .enter{display:none;}
.tcard[data-live='off'] .exit{display:none;}


@keyframes pulseOn {to {box-shadow: 0 0 0 1em rgba(232, 76, 61, 0);}}
@keyframes pulseOff{0%{box-shadow:0 0 0 0 rgba(204,169,44,0.4)}70%{box-shadow:0 0 0 10px rgba(204,169,44,0)}100%{box-shadow:0 0 0 0 rgba(204,169,44,0)}}

/*attendance design*/
.attendance #sidebar{background-color:rgba(255,255,255,0.4);}





.tcard .t-c-data{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;margin:0 10px 10px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;-moz-box-pack:justify;justify-content:space-between}
.tcard .t-c-heading{font-size:1.25em;font-weight:700}
.tcard div.t-c-heading{margin:10px 10px 5px}
.tcard .t-c-value{display:block;font-size:1.2em;text-align:center}

.tcard .back form .parameter{margin:10px 10px;border-radius:3px;}

.tcard .back form .parameter .decrease{padding:0;font-size:2em;font-weight:bold;line-height:40px;width:40px;height:40px;cursor:pointer;text-align:center;color:#eee}
.tcard .back form .parameter .increase{padding:0;font-size:2em;font-weight:bold;line-height:40px;width:40px;height:40px;cursor:pointer;text-align:center;color:#eee}
.tcard .back form .parameter input[type='number']{display:block;padding:0;font-size:1.4em;width:100%;max-width:100%;height:40px;text-align:center;color:#333;border:none;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;outline:none;background-color:#eee;}
.tcard .back form .parameter input[type=number]::-webkit-inner-spin-button,.tcard .back form .parameter input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }





/* dashboard home (teams list) */
.teams-item{overflow:hidden;width:200px;height:240px;margin:20px;border-radius:3px;transition:.3s;background-color:#fff;font-size:1.4em}
.teams-item figure{margin:0;padding:0;}
.teams-item figure div{position:relative;overflow:hidden;width:100%;height:200px;padding:20px;margin:0}
.teams-item figure div img{max-height:100%;display:block;margin:0 auto;width:auto;}
.teams-item figure figcaption{line-height:4rem;padding:0 20px;text-align:center;color:#333;background-color:rgba(0,0,0,.1);font-weight:500;overflow:hidden;max-width:100%;margin:0;white-space:nowrap;text-overflow:ellipsis;}
.teams-item:hover{background-color:rgba(255,255,255,.5)}
.teams-item:focus{box-shadow:0 0 0 3px rgba(0,0,0,0.2)}
.teams-item .addNew{font-size:10em;display:block;text-align:center;color:#777;line-height:260px;}



#addTeam,#addMember{max-width:50rem}






/* ---------------------------------------------------------------- design of site */
.cn .logo-txt{max-width:700px;margin:0 auto;padding:10rem 0;}
.cn .logo-txt h4,.cn .logo-txt h5{text-align:center;}
.cn .logo-txt h4{font-size:1.8em;position:relative;margin-bottom:5rem;}
.cn .logo-txt h4:before{position:absolute;top:120%;right:0;left:0;width:50%;height:1px;margin:auto;content:'';background-color:rgba(0, 0, 0, .25);}
.cn .logo-txt h5{font-size:1.618rem;color:#666;}

.logo-showcase{text-align:center;}
.logo-showcase:not(:last-of-type){margin-bottom:5rem;}
.logo-showcase-img{width:64px;height:64px;margin:0 auto 2rem;-webkit-transition:.3s;transition:.3s;border:1px solid rgba(0, 0, 0, .05);}
.logo-showcase-img:hover{background-color:rgba(0,0,0,.025);}
.logo-showcase-img.logo-showcase-img-circle{border-radius:50%;}
.logo-showcase-img img{display:block;}

.logo-showcase .logo-showcase-list .dd{font-weight:500;line-height:28px;display:inline-block;height:25px;padding:0 2rem;cursor:pointer;-webkit-transition:.3s;transition:.3s;color:#333;border-radius:2px;background-color:rgba(0, 0, 0, .05);}
.logo-showcase .logo-showcase-list .dd:hover{color:#fff;background-color:rgba(0, 0, 0, .5);}

.dd{position:relative;}
.dd-items{position:absolute;z-index:-1;top:100%;left:0;width:100%;}
.dd:hover .dd-items{z-index:1;}
.dd-items > a{display:block;-webkit-transition:.1s;transition:.1s;color:#333;background-color:#eee;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);box-shadow:0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);}
.dd-items > a:first-of-type{margin-top:2px;}
.dd-items > a:hover{color:#fff;background-color:rgba(0, 0, 0, .5);}





/* ---------------------------------------------------------------- responsive of site */

@media only screen and (max-width:619px){
	#plans .f .c3.m6.s6{-webkit-box-flex:0;-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-moz-box-flex:0;flex:0 0 100%;max-width:100%;}
}

@media only screen and (max-width:767px){
	#addTeam,#addMember{max-width:40rem}
	#addTeam .df-file,#addMember .df-file{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}
	#setup .cauto.s12{order:-1}
	#addTeam .cauto.s12{order:-1}
	#addMember .cauto.s12{order:-1}

	.teams-item{margin:1rem 0.5rem ;width:140px;height:180px;}
	.teams-item figure div{padding:5px;height:140px;}

}

@media only screen and (max-width:959px){
	#plans .f .c3.m6.s6{padding:2rem}
}
