{%extends display.adminTeam%}


{%block contentCenter%}

<!--
    $result              = [];
    $result['classroom'] = $classroom;
    $result['terms']     = $terms;
    $result['teacher']   = $teacher;
    $result['subject']   = $subject;
-->

  <div class='middle' id="addTeam">
   <div class='dbox'>
    <h2>{{page.desc}}</h2>

    <form method="post" class="df" enctype="multipart/form-data">
     <div class="f">
      <div class="f c12 s12 g1">
      <label class="c3">{%trans "School terms"%}</label>
       <div class="c">
        <select  name="terms" placeholder='{%trans "terms"%}'>
          <option value="">{%trans "Please select one terms"%}</option>
         {%for key, value in lesson_data.terms%}
          <option value="{{value.id}}" {%if lesson.schoolterm_id == value.id %} selected {% endif %}>{{value.title}}</option>
         {%endfor%}
        </select>
       </div>
       </div>

      <div class="f c12 s12 g1">
      <label class="c3">{%trans "Classroom"%}</label>
       <div class="c">
        <select  name="classroom" placeholder='{%trans "classroom"%}'>
          <option value="">{%trans "Please select one classroom"%}</option>
         {%for key, value in lesson_data.classroom%}
          <option value="{{value.id}}" {%if lesson.place_id == value.id %} selected {% endif %}>{{value.name}}</option>
         {%endfor%}
        </select>
       </div>
       </div>

      <div class="f c12 s12 g1">
      <label class="c3">{%trans "Subject"%}</label>
       <div class="c">
        <select  name="subject" placeholder='{%trans "subject"%}'>
          <option value="">{%trans "Please select one subject"%}</option>
         {%for key, value in lesson_data.subject%}
          <option value="{{value.id}}" {%if lesson.subject_id == value.id %} selected {% endif %}>{{value.title}}</option>
         {%endfor%}
        </select>
       </div>
       </div>


      <div class="f c12 s12 g1">
      <label class="c3">{%trans "Teacher"%}</label>
       <div class="c">
        <select  name="teacher" placeholder='{%trans "teacher"%}'>
          <option value="">{%trans "Please select one teacher"%}</option>
         {%for key, value in lesson_data.teacher%}
          <option value="{{value.id}}" {%if lesson.teacher == value.id %} selected {% endif %}>{{value.firstname}} {{value.lastname}}</option>
         {%endfor%}
        </select>
       </div>
       </div>

      <div class="f c12 g1 mA5">
        <label class="c3">{%trans "Start time"%}</label>
        <input type="text" name="start" placeholder='{%trans "Start time"%}' value="{{lesson.start}}" maxlength='30' minlength="3" class="c">
      </div>


     <div class="f c12 g1 mA5">
        <label class="c3">{%trans "End time"%}</label>
        <input type="text" name="end" placeholder='{%trans "End time"%}' value="{{lesson.end}}" maxlength='30' minlength="3" class="c">
      </div>


       <div class="f c12">
        <label class="c3">{%trans "Description"%}</label>
        <input type="text" name="desc" placeholder='{%trans "Description"%}' value="{{lesson.desc}}" maxlength='30' minlength="3" class="c">
      </div>
     </div>



     <div class="f g1 mA5 mt1">

{%if edit_mode%}
      <div class="c3 s12">
       <a href="{{url.full}}" data-data='{"delete":true}' data-method="post" class="b2" data-ajaxify>{%trans "Close"%}</a>
      </div>
      <div class="c3 os s12">
       <input type="submit" value='{%trans "Edit"%}' class='b1'>
      </div>
{%else%}

      <div class="c3 os s12">
       <input type="submit" value='{%trans "Add"%}' class="bp">
      </div>
{%endif%}

     </div>
    </form>

   </div>
  </div>
{%endblock%}

