{%extends display.adminTeam%}


{%block contentCenter%}

<!--
    $result              = [];
    $result['classroom'] = $classroom;
    $result['terms']     = $terms;
    $result['teacher']   = $teacher;
    $result['subject']   = $subject;
-->

  <div class='middle' id="addTeam">
   <div class='dbox'>
    <h2>{{page.desc}}</h2>

    <form method="post" class="df" enctype="multipart/form-data">
     <div class="f">
      <div class="f c12 s12 g1">
      <label class="c3">{%trans "School terms"%}</label>
       <div class="c">
        <select  name="terms" placeholder='{%trans "terms"%}'>
          <option value="">{%trans "Please select one terms"%}</option>
         {%for key, value in lesson_data.terms%}
          <option value="{{value.id}}" {%if lesson.schoolterm_id == value.id %} selected {% endif %}>{{value.title}}</option>
         {%endfor%}
        </select>
       </div>
       </div>

      <div class="f c12 s12 g1">
      <label class="c3">{%trans "Classroom"%}</label>
       <div class="c">
        <select  name="classroom" placeholder='{%trans "classroom"%}'>
          <option value="">{%trans "Please select one classroom"%}</option>
         {%for key, value in lesson_data.classroom%}
          <option value="{{value.id}}" {%if lesson.place_id == value.id %} selected {% endif %}>{{value.name}}</option>
         {%endfor%}
        </select>
       </div>
       </div>

      <div class="f c12 s12 g1">
      <label class="c3">{%trans "Subject"%}</label>
       <div class="c">
        <select  name="subject" placeholder='{%trans "subject"%}'>
          <option value="">{%trans "Please select one subject"%}</option>
         {%for key, value in lesson_data.subject%}
          <option value="{{value.id}}" {%if lesson.subject_id == value.id %} selected {% endif %}>{{value.title}}</option>
         {%endfor%}
        </select>
       </div>
       </div>


      <div class="f c12 s12 g1">
      <label class="c3">{%trans "Teacher"%}</label>
       <div class="c">
        <select  name="teacher" placeholder='{%trans "teacher"%}'>
          <option value="">{%trans "Please select one teacher"%}</option>
         {%for key, value in lesson_data.teacher%}
          <option value="{{value.id}}" {%if lesson.teacher == value.id %} selected {% endif %}>{{value.firstname}} {{value.lastname}}</option>
         {%endfor%}
        </select>
       </div>
       </div>

      <label class="c">{%trans "Class times"%}</label>

      {%if lesson.times%}
        {% for key, value in lesson.times%}
        <div class="f c12 g1 mA5">
        <div class="c f">
          <select class="c" name="week-{{key + 1}}">
            <option value="">{%trans "Select week day"%}</option>
            <option value="saturday" {%if value.week == 'saturday' %}selected{%endif%}>{%trans "Saturday"%}</option>
            <option value="sunday" {%if value.week == 'sunday' %}selected{%endif%}>{%trans "Sunday"%}</option>
            <option value="monday" {%if value.week == 'monday' %}selected{%endif%}>{%trans "Monday"%}</option>
            <option value="tuesday" {%if value.week == 'tuesday' %}selected{%endif%}>{%trans "Tuesday"%}</option>
            <option value="wednesday" {%if value.week == 'wednesday' %}selected{%endif%}>{%trans "Wednesday"%}</option>
            <option value="thursday" {%if value.week == 'thursday' %}selected{%endif%}>{%trans "Thursday"%}</option>
            <option value="friday" {%if value.week == 'friday' %}selected{%endif%}>{%trans "Friday"%}</option>
          </select>
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "Start time"%}</label> -->
          <input type="text" name="start-{{key + 1}}" placeholder='{%trans "Start time"%}' value="{{value.start}}" maxlength='30' minlength="3" class="c">
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "End time"%}</label> -->
          <input type="text" name="end-{{key + 1}}" placeholder='{%trans "End time"%}' value="{{value.end}}" maxlength='30' minlength="3" class="c">
        </div>
      </div>
      {%endfor%}

      {%else%}

      <div class="f c12 g1 mA5">
        <div class="c f">
          <select class="c" name="week-1">
            <option value="">{%trans "Select week day"%}</option>
            <option value="saturday">{%trans "Saturday"%}</option>
            <option value="sunday">{%trans "Sunday"%}</option>
            <option value="monday">{%trans "Monday"%}</option>
            <option value="tuesday">{%trans "Tuesday"%}</option>
            <option value="wednesday">{%trans "Wednesday"%}</option>
            <option value="thursday">{%trans "Thursday"%}</option>
            <option value="friday">{%trans "Friday"%}</option>
          </select>
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "Start time"%}</label> -->
          <input type="text" name="start-1" placeholder='{%trans "Start time"%}' value="{{lesson.start}}" maxlength='30' minlength="3" class="c">
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "End time"%}</label> -->
          <input type="text" name="end-1" placeholder='{%trans "End time"%}' value="{{lesson.end}}" maxlength='30' minlength="3" class="c">
        </div>
      </div>


      <div class="f c12 g1 mA5">
        <div class="c f">
          <select class="c" name="week-2">
            <option value="">{%trans "Select week day"%}</option>
            <option value="sunday">{%trans "sunday"%}</option>
            <option value="monday">{%trans "monday"%}</option>
            <option value="tuesday">{%trans "tuesday"%}</option>
            <option value="wednesday">{%trans "wednesday"%}</option>
            <option value="thursday">{%trans "thursday"%}</option>
            <option value="friday">{%trans "friday"%}</option>
            <option value="saturday">{%trans "saturday"%}</option>
          </select>
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "Start time"%}</label> -->
          <input type="text" name="start-2" placeholder='{%trans "Start time"%}' value="{{lesson.start}}" maxlength='30' minlength="3" class="c">
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "End time"%}</label> -->
          <input type="text" name="end-2" placeholder='{%trans "End time"%}' value="{{lesson.end}}" maxlength='30' minlength="3" class="c">
        </div>
      </div>



      <div class="f c12 g1 mA5">
        <div class="c f">
          <select class="c" name="week-3">
            <option value="">{%trans "Select week day"%}</option>
            <option value="sunday">{%trans "sunday"%}</option>
            <option value="monday">{%trans "monday"%}</option>
            <option value="tuesday">{%trans "tuesday"%}</option>
            <option value="wednesday">{%trans "wednesday"%}</option>
            <option value="thursday">{%trans "thursday"%}</option>
            <option value="friday">{%trans "friday"%}</option>
            <option value="saturday">{%trans "saturday"%}</option>
          </select>
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "Start time"%}</label> -->
          <input type="text" name="start-3" placeholder='{%trans "Start time"%}' value="{{lesson.start}}" maxlength='30' minlength="3" class="c">
        </div>

        <div class="c f">
          <!-- <label class="c">{%trans "End time"%}</label> -->
          <input type="text" name="end-3" placeholder='{%trans "End time"%}' value="{{lesson.end}}" maxlength='30' minlength="3" class="c">
        </div>
      </div>

      {%endif%}

     <div class="f c12 g1 mA5">
      </div>


       <div class="f c12">
        <label class="c3">{%trans "Description"%}</label>
        <input type="text" name="desc" placeholder='{%trans "Description"%}' value="{{lesson.desc}}" maxlength='30' minlength="3" class="c">
      </div>
     </div>



     <div class="f g1 mA5 mt1">

{%if edit_mode%}
      <div class="c3 s12">
       <a href="{{url.full}}" data-data='{"delete":true}' data-method="post" class="b2" data-ajaxify>{%trans "Close"%}</a>
      </div>
      <div class="c3 os s12">
       <input type="submit" value='{%trans "Edit"%}' class='b1'>
      </div>
{%else%}

      <div class="c3 os s12">
       <input type="submit" value='{%trans "Add"%}' class="bp">
      </div>
{%endif%}

     </div>
    </form>

   </div>
  </div>
{%endblock%}

