{%extends display.adminTeam%}

{%block content%}
  <div class='middle small' id="showMember">

<a href="{{url.baseFull}}/{{school_code}}/lesson/add" class="mA3 btn primary">{%trans "Add new lesson"%}</a>

<form method="get" class="" data-action>
 <div class="input pTB10">
      <label class="addon" for="search">{%trans "Search"%}</label>
      <input type="text" name="search" value="{{utilityGET.search}}" placeholder='{%trans "Search"%}' id="search">
      <button class="addon btn primary">{%trans "Search" %}</button>
    </div>
</form>
<br>

<table class="tbl">
  <thead class="primary">
    <th>{%trans "Title"%}</th>
    <th>{%trans "Desciption"%}</th>
    <th>{%trans "Edit"%}</th>
  </thead>
  <tbody>
  {%for key, value in lesson_list%}
  <tr>
    <td>{{value.title}}</td>
    <td>{{value.desc}}</td>
    <td><a href='{{url.baseFull}}/{{school_code}}/lesson={{value.id}}'><i class="sf-edit"></i></a></td>
  </tr>
  {%endfor%}
  </tbody>
</table>



  </div>
<div class="pagination-container">
  {%include display.pagination%}
</div>

{%endblock%}

