
{%block et%}
 <content class="et" data-xhr='et' data-method='post' data-action="/ganje/{{module}}">
{%if et%}
  <table cellpadding=0 cellspacing=0>
{%if et.columns%}
   <thead>
    <tr>
{%for column, type in et.columns if column != 'type'%}
     <th class='col_{{column}}'>{%trans column%}</th>
{%endfor%}
    </tr>
   </thead>
{%endif%}

{%if et.totalrow%}
   <tfoot>
    <tr>
{%for column, type in et.columns if column != 'type'%}
{%if et.totalrow[column]%}
{%if column == 'diff' or column == 'plus' or column == 'minus' or column == 'accepted'%}
     <td class='total_{{column}}' data-func='{{et.totalrow[column]}}' data-type='time'>0</td>
{%else%}
     <td class='total_{{column}}' data-func='{{et.totalrow[column]}}'>0</td>
{%endif%}
{%else%}
     <td class='total_{{column}}'>-</td>
{%endif%}
{%endfor%}
    </tr>
   </tfoot>
{%endif%}

   <tbody>
{%for row, value in et.data%}

    <tr {%if value.id%}data-id='{{value.id}}'{%endif%} {%if value.status%}data-status='{{value.status}}'{%endif%} {%if value.type%}data-type='{{value.type}}'{%endif%} data-type='{{value.type}}'>
{%for column, type in et.columns if column != 'type'%}
{%set val = attribute(value, column)%}
{%if column == 'accepted'%}
     <td class='val_{{column}}' data-val='{{val}}'>{{ (val | humantime() )| fitNumber }}</td>

{%elseif column == 'diff' %}
     <td class='val_{{column}}' data-val='{{val}}'>{{ (val | humantime() )| fitNumber }}</td>

{%elseif column == 'plus'%}
     <td class='val_{{column}}' data-val='{{val}}'>{{ (val | humantime() )| fitNumber }}</td>

{%elseif column == 'minus'%}
     <td class='val_{{column}}' data-val='{{val}}'>{{ (val | humantime() )| fitNumber }}</td>

{%elseif column == 'name'%}
     <td class='val_{{column}}' data-val='{{val}}'>{%trans val%}</td>

{%elseif column == 'date' %}
     <td class='val_{{column}}' data-val='{{val}}'>{{ val | tdate('d F Y')}}</td>

{%elseif column == 'end' and not val and true%}
     <td class='val_{{column}}' data-modal='hour-edit' data-id='{{value.id}}'></td>
{%else%}
     <td class='val_{{column}}' data-val='{{val}}'>{{val | fitNumber}}</td>
{%endif%}
{%endfor%}
    </tr>
{%endfor%}
   </tbody>
  </table>
{%else%}
  <p class="alert alert-block alert-info">{%trans "Data not exist!"%}</p>
{%endif%}
 </content>
{%if et%}
{% include display.pagination %}
{%endif%}

{%endblock%}
