{%extends display.dash%}



{%block head_css%}
{{parent()}}
 <link rel="stylesheet"       href="{{url.static}}css/style.css?v=2">
{%endblock%}



{%block content%}
<div class="full flex justify-center align-center wrap">
{%block contentCenter%}{%endblock%}
</div>
{%endblock%}



{%block sidenav%}

    <li><a href="{{url.baseFull}}"><i class='icon-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
    <li><a href="{{url.baseFull}}/billing"><i class="icon-credit-card"></i>{%trans "Billing"%}</a></li>
    <!-- <li><a href="{{url.baseFull}}/options"><i class="icon-cog"></i>{%trans "Options"%}</a></li> -->

{%endblock%}


{%block headerLock%}{%endblock%}
{%block headerBox2%}{%endblock%}
{%block footerBox%}{%endblock%}
