{%extends display.dash%}



{%block head_css%}
{{parent()}}
 <link rel="stylesheet"       href="{{url.static}}{{'css/style.css' | filemtime(true)}}">

{%endblock%}



{%block content%}
<div class="full flex justify-center align-center wrap">
{%block contentCenter%}{%endblock%}
</div>
{%endblock%}



{%block sidenav%}

    <li><a href="{{url.baseFull}}"><i class='sf-gauge'></i> <span>{% trans "Dashboard" %}</span></a></li>
    <li><a href="{{url.baseFull}}/billing"><i class="sf-credit-card"></i>{%trans "Billing"%}</a></li>
    <!-- <li><a href="{{url.baseFull}}/options"><i class="sf-cog"></i>{%trans "Options"%}</a></li> -->

{%endblock%}


{%block headerLock%}{%endblock%}
{%block headerBox2%}{%endblock%}
{%block footerBox%}{%endblock%}
{%block sideTitle%}{%endblock%}
