{%extends display.admin%}


{%block sidenav%}
{{parent()}}

{%if requestGET.id%}
<li class="title">{%trans "Team Operation"%} <b>{{currentTeam.name}}</b></li>
<li><a href="{{url.here}}/team?id={{requestGET.id}}"><i class="sf-home"></i>{%trans "Team Dashboard"%}</a></li>
  {%if isAdmin%}
  <li><a href="{{url.here}}/member?id={{requestGET.id}}"><i class="sf-users"></i>{%trans "Team Members"%}</a></li>
  <li><a href="{{url.here}}/gateway?id={{requestGET.id}}"><i class="sf-enter"></i>{%trans "Gateway"%}</a></li>
  {%endif%}
  <li><a href="{{url.here}}/report?id={{requestGET.id}}"><i class="sf-analytics-chart-graph"></i>{%trans "Reports"%}</a></li>
  {%if isAdmin%}
  <li><a href="{{url.here}}/setting/general?id={{requestGET.id}}"><i class="sf-cogs"></i>{%trans "Settings"%}</a></li>
  {%endif%}
{%endif%}
{%if currentTeam.short_name%}
	{%if currentTeam.privacy=="private" and not isAdmin%}
		<li title='{%trans "Team is private and you can not see board!"%}'><a class="disabled"><i class="sf-heart-o"></i>{%trans "Board"%}</a></li>
	{%else%}
		<li><a href="{{url.base}}/{{currentTeam.short_name}}" data-direct target="_blank"><i class="sf-heart-o"></i>{%trans "Board"%}</a></li>
	{%endif%}
{%endif%}


{%endblock%}



{%block userList%}
{%if allUserList%}
<div class="tiny f justify-center">
  {%for key, value in allUserList%}
  <a href="{{reportUrl}}?user={{value.user_id}}" class="vcard shadow">
  <img src="{%if value.file%}{{value.file}}{%else%}{{url.static}}/siftal/images/useful/user1.png{%endif%}" alt="{{value.displayname}}">
    <div class="content">
      <div class="header">{{value.displayname}}</div>
      <div class="meta"><span>{{value.postion}}</span></div>
    </div>
  </a>
  {%endfor%}
</div>
<br/>
{%endif%}
{%endblock%}


