{%extends display.enter%}


{%block contentForm%}

{{block('emobile')}}
{{block('epass')}}
{{block('eramz')}}
{{block('esignup')}}

{%endblock%}


{%block content2%}
{{parent()}}

<form method="post">
 <div class='mobileBox'>
  <div class='f fix field'>
   <label for='mobile' class='c2 flex justify-center align-center mobile'>{%trans "Mobile"%}</label>
   <input id='mobile' name="mobile" type='tel' class='c10' maxlength="15" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile number"%}' value="{{get_mobile}}" data-pl-user='{%trans "Mobile"%}' autocomplete="new-password" readonly disabled>
  </div>
 </div>
 <div class='ramzBox'>
  <div class='f fix field'>
   <label for='ramz' class='c2 flex justify-center align-center'>
    <span class=''>{%trans "Password"%}</span>
    <span class='icon-key2'></span>
   </label>
   <input id='ramz' name="ramz" type='password' class='c10' placeholder='{%trans "Password"%}' autocomplete="new-password">
  </div>
 </div>
 <div class='passcodeBox'>
  <div class='f fix field'>
   <label for='passcode' class='c2 flex justify-center align-center'>
    <span class='hide'>{%trans "Password"%}</span>
    <span class='icon-key2'></span>
   </label>
   <input id='passcode' name="password" type='password' class='c10' placeholder='{%trans "Password"%}' autocomplete="new-password">
  </div>
 </div>

 <div class='goBox {%if get_mobile or true%}{%else%}notExist{%endif%}'>
  <div class='field'>
   <button id="go" type="submit">{%trans "Go"%}</button>
  </div>
 </div>
</form>
</div>

{%endblock%}
