{%extends "content_a/member/layout.html"%}


{%block data%}
<form class="cbox" method="post" enctype="multipart/form-data">

 <div class="f">
            <div class="c s12">
              <label for='fname'>{%trans "Name"%} *</label>
              <div class="input">
                <input type="text" name="name" placeholder='{%trans "Name"%} *' value="{{member.displayname}}" required autofocus maxlength='40' minlength="1" pattern=".{1,40}" title='{%trans "Enter a valid name from 3 to 40 character"%}' id='fname'>
              </div>
              <label for="position">{%trans "Postion"%}</label>
              <div class="input">
               <input type="text" name="postion" id="position" placeholder='{%trans "Postion" %}' value="{{member.postion}}" maxlength='50' pattern=".{3,50}" title='{%trans "Enter a valid team position from 3 to 50 character"%}'>
              </div>
            </div>

          </div>

          <label for='mobile'>{%trans "Mobile"%}</label>
          <div class="input">
            <input type="tel" name="mobile" id="mobile" placeholder='{%trans "Mobile"%}' value="{{member.mobile}}" maxlength="15" class='ltr'>
          </div>

          <label for='rule'>{%trans "Role of this member"%}</label>
          <select name="rule" class="select">
            <option value="user" {%if member.rule == 'user'%} selected {%endif%} >{%trans "User"%}</option>
            <option value="admin" {%if member.rule == 'admin'%} selected {%endif%} >{%trans "Admin"%}</option>
          </select>




            <div class="f g1">
              <div class="cauto s0 lbl"><span>{%trans "Status"%}</span></div>
              <div class="c">
               <div class="f radio1t">
                <div class="c4">
                 <input type="radio" id="r-active" name="status" value="active" {%if member.status == 'active' or not member.status%}checked{%endif%} >
                 <label for="r-active">{%trans "Active"%}</label>
                </div>
                <div class="c4">
                 <input type="radio" id="r-deactive" name="status" value="deactive" {%if member.status == 'deactive' %}checked{%endif%}>
                 <label for="r-deactive">{%trans "Deactive"%}</label>
                </div>
                <div class="c4">
                 <input type="radio" id="r-suspended" name="status" value="suspended" {%if member.status == 'suspended' %}checked{%endif%}>
                 <label for="r-suspended">{%trans "Remove"%}</label>
                </div>
               </div>
              </div>
            </div>

             <div class="f g1">
              <div class="cauto s0 lbl"><span>{%trans "Visibility"%}</span></div>
              <div class="c">
               <div class="f radio1t">
                <div class="c6">
                 <input type="radio" id="r-visible" name="visibility" value="visible" {%if member.visibility == 'visible' or not member.visibility%}checked{%endif%} >
                 <label for="r-visible">{%trans "Visible"%}</label>
                </div>
                <div class="c6">
                 <input type="radio" id="r-hidden" name="visibility" value="hidden" {%if member.visibility == 'hidden' %}checked{%endif%}>
                 <label for="r-hidden">{%trans "Hidden"%}</label>
                </div>
               </div>
              </div>
            </div>



{{block("isave")}}

</form>
{%endblock%}
