{%extends display.admin%}


{%block sidenav%}
{{parent()}}

{%if team is not null%}
    <li class="title">{%trans "School Operation"%}</li>

    {%if is_admin%}
	    <li><a href="{{url.baseFull}}/{{team}}"><i class="sf-home"></i>{%trans "Team Dashboard"%}</a></li>

	    <li><a href='{{url.baseFull}}/{{school_code}}/teacher'><i class="sf-graduation-cap"></i>{%trans "Teachers"%}</a></li>
	    <li><a href='{{url.baseFull}}/{{school_code}}/student'><i class="sf-user"></i>{%trans "Students"%}</a></li>
	    <li><a href='{{url.baseFull}}/{{school_code}}/classroom'><i class="sf-building"></i>{%trans "Classroom"%}</a></li>
	    <li><a href='{{url.baseFull}}/{{school_code}}/subject'><i class="sf-book"></i>{%trans "Lesson subject"%}</a></li>
	    <li><a href='{{url.baseFull}}/{{school_code}}/terms'><i class="sf-lightbulb-o"></i>{%trans "School Terms"%}</a></li>
	    <li><a href='{{url.baseFull}}/{{school_code}}/lesson'><i class="sf-book"></i>{%trans "Lesson"%}</a></li>

	    {%if is_creator%}

		{%endif%}
	    <li><a href="{{url.baseFull}}/{{team}}/edit"><i class="sf-cogs"></i>{%trans "Settings"%}</a></li>
	{%endif%}
    <li><a href="{{url.baseFull}}/{{team}}/report"><i class="sf-line-chart"></i>{%trans "Report"%}</a></li>

{%endif%}
{%endblock%}


