<nav class="share2">
  <a data-direct href="https://www.facebook.com/{{social.facebook}}" class="facebook">tejarak facebook</a>
  <a data-direct href="https://twitter.com/{{social.twitter}}" class="twitter">tejarak twitter</a>
  <a data-direct href="https://plus.google.com/{{social.googleplus}}" class="googleplus">tejarak google+</a>
  <a data-direct href="https://t.me/{{social.telegram}}" class="telegram">tejarak telegram</a>
  <a data-direct href="https://instagram.com/{{social.instagram}}" class="instagram">tejarak instagram</a>
{%if social.linkedin%}
  <a data-direct href="https://www.linkedin.com/{{social.linkedin}}" class="linkedin">tejarak linkedin</a>
{%endif%}
{%if false%}
  <a data-direct href="{{url.base}}/rss" class="rss">tejarak rss</a>
{%endif%}

</nav>